<div ng-include='"../app/module/Dashboard/Pasien/Index" '></div>

<div ng-controller="CheckOutCtrl">
           <div class="grid_12">  
             <div class="loading" style="position: relative; margin:25px 0px 20px;" class="animated"
                            ng-show="isLoadingData">
             <img height="250" src="../app/stylesheets/Flat/loading-image.gif"/>
             <br/><span style="font-weight: bold;">Mengambil data checkout, Mohon tunggu...</span>
             </div>
             </div>
  <div class="grid_12" ng-show="AllData">
    <div class="panel panel-default">
        <div class="panel-heading" c-translate>Check Out</div>
        <div class="panel-body">
            <div class="grid_12"></div>
             <div class="grid_6">
                <c-panel item="item" header="'History Check Out'">
                <div class="grid_12">
                    <div class="grid_12"></div>
                    <div class="clear"></div>

                    <!-- grid table -->
                    <div class="grid_12 borderBox">
                        <div id="kGrid" kendo-grid 
                        k-data-source="dataMaster" 
                        k-selectable="'row'" 
                        k-columns="columnCheckIn"
                        k-sortable="'true'"
                        k-pageable="true"
                        k-ng-model="dataSelected"
                        ng-click="klik(dataSelected)">
                        </div>
                    </div>
                    
                </div>
                <div class="clear"></div>
                </c-panel>
            </div>
            <div class="grid_6" style="margin-bottom: 4px;">
                <label c-label item="item" c-label-text="Kesadaran"></label>
  <!--               <input kendo-combo-box style="width:100%" k-ng-model="item.kesadaran" k-data-text-field="'keadaanUmum'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listKeadaanUmum" /> -->
                <input kendo-combo-box style="width:100%" k-ng-model="item.kesadaran" k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listKeadaanUmum" />
            </div>
            </div>
            <div class="grid_12">
                <label c-label item="item" c-label-text="CekKelengkapan"></label>
            </div>
            <div class="grid_12" ng-repeat="data in listCheckOut">
                <div class="grid_3">
                    <span>{{data.name}}</span>
                </div>
                <div class="grid_2" ng-repeat="stat in listStatusYaTidak">
                    <div class="grid_12">
                        <input type="radio" ng-model="data.cekKelengkapanAlkes" name="{{data.name + stat.name}}" id="{{data.name + stat.name}}" class="k-radio" ng-value="stat" />
                        <label ng-if="stat.name != 'Ya'" class="k-radio-label" for="{{data.name + stat.name}}">{{stat.name}}</label>
                        <label ng-if="stat.name == 'Ya'" class="k-radio-label" for="{{data.name + stat.name}}">{{stat.name}}</label>
                    </div>
                </div>
            </div>
            <div ng-include='"../app/module/Shared/TemplateButtonSimpanNotFixed" '></div>
        </div>
    </div>
    </div>
</div>