<style>
    .mt-progress-bar {
        border: 1px solid #38c4b2;
        border-radius: .25em;
        height: 24px;
        width: 100%;
        position: relative;
        cursor: pointer;
    }



    .mt-progress-bar::-webkit-progress-bar {
        background-color: #fff;
        border-radius: .25em;
    }

    /* determinate progress bar */
    .mt-progress-bar[value] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .mt-progress-bar-value {}

    .mt-progress-bar[value]::-moz-progress-bar {
        background-color: #99f3e7;
        border-radius: .25em;
    }

    .mt-progress-bar[value]::-webkit-progress-value {
        background-color: #99f3e7;
        border-radius: .25em;
    }

    .mt-progress-bar[value].blue::-webkit-progress-value {
        background-color: #3498db;
    }

    .mt-progress-bar[value].egg-blue::-webkit-progress-value {
        background-color: #7069be;
    }

    .mt-progress-bar[value].blue-sky::-webkit-progress-value {
        background-color: #43D1C9;
    }

    .mt-progress-bar:hover,
    .mt-progress-bar[value]::-webkit-progress-value:hover {
        background-color: #07ffd6;
    }

    .mt-progress-bar[value].blue::-webkit-progress-value:hover {
        background-color: #8ec4e8;
    }

    .mt-progress-bar[value].egg-blue::-webkit-progress-value:hover {
        background-color: #a09dbf;
    }

    .mt-progress-bar[value].blue-sky::-webkit-progress-value:hover {
        background-color: #73cbc7;
    }


    progress.mt-progress-bar:before {
        content: attr(data-label);
        font-size: 1em;
        vertical-align: 0;

        /*Position text over the progress bar */
        position: absolute;
        top: 5px;
        right: 10px;
        font-weight: bolder;
    }

    h5 {
        font-size: 15px;
    }

    h4,
    h5 {
        margin: 10px 0;
    }
</style>

<md-toolbar md-scroll-shrink class="shadow">
    <div class="md-toolbar-tools">Dashboard Pencatatan Kinerja</div>
</md-toolbar>

<div class="grid_12">

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{dataLogin.namaLengkap}}</span>
                <span class="md-subhead" ng-if="showIsSingleJabatan">{{dataSingleJabatan}}</span>
                <div class="grid_12">
                    <div class="grid_6" ng-if="!showIsSingleJabatan">
                        <input kendo-combo-box k-filter="'contains'" k-ng-model="item.jabatan"
                            k-data-text-field="'namaJabatan'" k-data-value-field="'id'" k-data-source="listJabatan"
                            k-on-change="getDataDashboard()" />
                    </div>
                    <div class="grid_2">
                        <input style="width: 100%;" k-ng-model="item.tanggal" kendo-date-picker placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" k-max="now" k-on-change="getDataDashboard()"/>
                    </div>
                </div>
              
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <progress id="headProgress" class="mt-progress-bar" max="100"
                value="{{dataDashboard.persenCapaianDibulatkan}}"
                data-label="{{dataDashboard.persenCapaianDibulatkan}}%"></progress>
            <div ng-show="showSyaratKetentuan" style="text-align: right;">
                <strong style="display: block;margin-top: 10px;">P1:
                    {{dataDashboard.rupiahCapaianP1Format}}/{{dataDashboard.rupiahTargetFormatP1}}</strong>
                <i style="display: block;">S&K: Plafon Gaji
                    {{dataDashboard.plafonP1}}, selisihnya dengan
                    gaji yang Anda terima adalah maksimal P1 Anda</i>

                <strong style="display: block;margin-top: 20px;">P2:
                    {{dataDashboard.rupiahCapaianP2Format}}/{{dataDashboard.rupiahTargetFormatP2}}</strong>
                <i style="display: block;">S&K: Plafon Insentif
                    {{dataDashboard.plafonP2}}, selisihnya
                    dengan insentif yang Anda terima adalah maksimal P2 Anda</i>
            </div>

            <hr>

            <div class="grid_12">
                <h5 style="color: #3498db; font-weight: bolder;">Kuantitas</h5>
                <div class="grid_11">
                    <progress class="mt-progress-bar blue" max="100"
                        value="{{dataDetailDashboardKinerja.persentaseCapaianKuntitas}}"
                        data-label="{{dataDetailDashboardKinerja.persentaseCapaianKuntitas}}%"></progress>
                </div>

                <div class="grid_1">
                    <md-button class="md-raised md-primary medium-button" ng-click="detailData('kuantitas')"
                        ng-if="!showDetailKuantitas">
                        <span style="margin-right: 5px;">Detail</span>
                        <i class="fa fa-info-circle"></i>
                    </md-button>

                    <md-button class="md-raised md-danger medium-button" ng-click="detailData('kuantitas')"
                        ng-if="showDetailKuantitas">
                        <span style="margin-right: 5px;">Tutup</span>
                        <i class="fa fa-close"></i>
                    </md-button>
                </div>

                <!-- detail kuantitas -->
                <hr>
                <div class="grid_12" ng-if="showDetailKuantitas">
                    <div class="grid_6" ng-repeat="kuantitas in dataDetailDashboardKinerja.kuantitas.data">
                        <span>{{kuantitas.namaIndikator}}</span>
                        <div class="grid_11">
                            <progress class="mt-progress-bar blue" max="100"
                                value="{{kuantitas.persenCapaianDibulatkan}}"
                                data-label="{{kuantitas.persenCapaianDibulatkan}}%"></progress>
                        </div>
                        <div class="grid_1">
                            <md-button class="md-raised md-primary medium-button" ng-click="addData('kuantitas')" ng-disabled="disabledButtonAdd">
                                <i class="fa fa-plus"></i>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid_12">
                <h5 style="color: #7069be;font-weight: bolder;">Kualitas</h5>
                <div class="grid_11">
                    <progress class="mt-progress-bar egg-blue" max="100"
                        value="{{dataDetailDashboardKinerja.persentaseCapaianKualitas}}"
                        data-label="{{dataDetailDashboardKinerja.persentaseCapaianKualitas}}%"></progress>
                </div>

                <div class="grid_1">

                    <md-button class="md-raised md-danger medium-button" ng-click="detailData('kualitas')"
                        ng-if="showDetailKualitas">
                        <span style="margin-right: 5px;">Tutup</span>
                        <i class="fa fa-close"></i>
                    </md-button>

                    <md-button class="md-raised md-primary medium-button" ng-click="detailData('kualitas')"
                        ng-if="!showDetailKualitas">
                        <span style="margin-right: 5px;">Detail</span>
                        <i class="fa fa-info-circle"></i>
                    </md-button>
                </div>

                <!-- detail kualitas -->
                <hr>
                <div class="grid_12" ng-if="showDetailKualitas">
                    <div class="grid_6" ng-repeat="kualitas in dataDetailDashboardKinerja.kualitas.data">
                        <span>{{kualitas.namaIndikator}}</span>
                        <div class="grid_11">
                            <progress class="mt-progress-bar egg-blue" max="100"
                                value="{{kualitas.persenCapaianDibulatkan}}"
                                data-label="{{kualitas.persenCapaianDibulatkan}}%"></progress>
                        </div>
                        <div class="grid_1">
                            <md-button class="md-raised md-primary medium-button" ng-click="addData('kualitas')" ng-disabled="disabledButtonAdd">
                                <i class="fa fa-plus"></i>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid_12">
                <h5 style="color: #43D1C9; font-weight: bolder;">Perilaku</h5>
                <div class="grid_11">
                    <progress class="mt-progress-bar blue-sky" max="100"
                        value="{{dataDetailDashboardKinerja.persentaseCapaianPerilaku}}"
                        data-label="{{dataDetailDashboardKinerja.persentaseCapaianPerilaku}}%">
                    </progress>
                </div>

                <div class="grid_1">

                    <md-button class="md-raised md-danger medium-button" ng-click="detailData('perilaku')"
                        ng-if="showDetailPerilaku">
                        <span style="margin-right: 5px;">Tutup</span>
                        <i class="fa fa-close"></i>
                    </md-button>

                    <md-button class="md-raised md-primary medium-button" ng-click="detailData('perilaku')"
                        ng-if="!showDetailPerilaku">
                        <span style="margin-right: 5px;">Detail</span>
                        <i class="fa fa-info-circle"></i>
                    </md-button>
                </div>

                <!-- detail perilaku -->
                <hr>
                <div class="grid_12" ng-if="showDetailPerilaku">
                    <div class="grid_6" ng-repeat="perilaku in dataDetailDashboardKinerja.perilaku.data">
                        <span>{{perilaku.namaIndikator}}</span>
                        <div class="grid_11">
                            <progress class="mt-progress-bar" max="100" value="{{perilaku.persenCapaianDibulatkan}}"
                                data-label="{{perilaku.persenCapaianDibulatkan}}%"></progress>
                        </div>

                        <div class="grid_1">
                            <md-button class="md-raised md-primary medium-button" ng-click="addData('perilaku')" ng-disabled="disabledButtonAdd">
                                <i class="fa fa-plus"></i>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>

</div>

<div kendo-window="popupAdd" k-title="'Tambah Data'" k-width="1200" k-visible="false" k-on-open="win2visible= true"
    k-on-close="win2visible= false">
    <div class="panel panel-default container_12" style="padding: 0px 10px;">

        <md-card>
            <md-card-body style="padding: 10px;">
                <h5>{{labelData}}</h5>
                <div class="grid_12">
                    <div class="grid_12">
                        <label><strong>Kegiatan</strong></label>
                        <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaKegiatan" />
                    </div>

                    <div class="grid_12">
                        <div class="grid_10">
                            <label><strong>Hasil</strong></label>
                            <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.hasilKegiatan" />
                        </div>
                        <div class="grid_2" style="margin-top: 25px;">
                            <label><strong>{{dataAdd.satuanIndikator}}</strong></label>
                        </div>
                    </div>

                    <div class="grid_12">
                        <label><strong>Catatan</strong></label>
                        <textarea c-text-box ng-model="item.catatanKegiatan" rows="10" maxlength="1000"></textarea>
                        <p class="length-textarea">
                            1000/{{item.catatanKegiatan ? item.catatanKegiatan.length : 0}}</p>
                    </div>
                </div>
            </md-card-body>
        </md-card>

        <div class="k-edit-buttons k-state-default" style="margin-top:10px">
            <div class="grid_6"></div>
            <div class="grid_2">
                <md-button class="md-raised md-warn medium-button" ng-click="closepopUp()">
                    <span style="margin-right: 5px;">Batal</span>
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
            <div class="grid_2">
                <md-button class="md-raised md-warn medium-button" ng-click="resetForm()">
                    <span style="margin-right: 5px;">Reset</span>
                    <i class="fa fa-refresh"></i>
                </md-button>
            </div>
            <div class="grid_2">
                <md-button class="md-raised md-primary medium-button" ng-click="simpanData()">
                    <span style="margin-right: 5px;">Simpan</span>
                    <i class="fa fa-save"></i>
                </md-button>
            </div>
        </div>
    </div>
</div>