<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #aabcfe;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #669;
        background-color: #e8edff;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: #aabcfe;
        color: #039;
        background-color: #b9c9fe;
    }

    .tg .tg-yw4l {
        vertical-align: top
    }

    .subtits {
        text-align: center;
        font-style: italic;
        font-size: 10pt;
        padding-left: 8px
    }

    .header {
        font-size: 120%;
        font-weight: 700;
    }

    .rowstyle {
        border-bottom: 1px dashed lightblue
    }

    .footer {
        text-align: center;
        font-size: 120%;
        font-weight: 700;
        margin-bottom: 20px
    }
</style>


<div ng-show="dataVOloaded">
    <div class="grid_12">
        <div class="grid_12 headerBox">
            <h1 style="color: white;"><b>{{title}}</b></h1>
        </div>

        <br />
        <div class="grid_12">
            <div class="grid_3">
                <div class="grid_12" style="margin-bottom:5px">
                    <label c-label item="item">Berat Badan pre HD</label>
                </div>
                <div class="grid_12 parentKeteranganFieldTambahan">
                    <input c-text-box type="number" filter="" class="k-textbox" ng-model="item.beratBadanPre" />
                    <label class="keteranganFieldTambahan" style="margin-top: 5px;margin-right: 30px">Kg</label>
                </div>
            </div>
            <div class="grid_3">
                <div class="grid_12" style="margin-bottom:5px">
                    <label c-label item="item" c-label-text="Suhu"></label>
                </div>
                <div class="grid_12 parentKeteranganFieldTambahan">
                    <input c-text-box type="number" filter="" class="k-textbox" ng-model="item.suhu" />
                    <label class="keteranganFieldTambahan" style="margin-top: 5px;margin-right: 30px">°C</label>
                </div>
            </div>
            <div class="grid_3">
                <div class="grid_12" style="margin-bottom:5px">
                    <label c-label item="item" c-label-text="Nadi"></label>
                </div>
                <div class="grid_12 parentKeteranganFieldTambahan">
                    <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.nadi" />
                    <label class="keteranganFieldTambahan" style="margin-top: 5px;margin-right: 30px">x/menit</label>
                </div>
            </div>
            <div class="grid_3">
                <div class="grid_12" style="margin-bottom:5px">
                    <label c-label item="item" c-label-text="Frekuensi Nafas"></label>
                </div>
                <div class="grid_12 parentKeteranganFieldTambahan">
                    <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.frekuensi" />
                    <label class="keteranganFieldTambahan" style="margin-top: 5px;margin-right: 30px">x/menit</label>
                </div>
            </div>

        </div>
        <div class="grid_12">
            <div class="grid_3">
                <div class="grid_12" style="margin-bottom:5px">
                    <label c-label item="item">Berat Badan post HD</label>
                </div>
                <div class="grid_12 parentKeteranganFieldTambahan">
                    <input c-text-box type="number" filter="" class="k-textbox" ng-model="item.beratBadanPost" />
                    <label class="keteranganFieldTambahan" style="margin-top: 5px;margin-right: 30px">Kg</label>
                </div>
            </div>
            <div class="grid_3">
                <div class="grid_12" style="margin-bottom:5px">
                    <label c-label item="item" c-label-text="Tekanan Darah"></label>
                </div>
                <div class="grid_12 parentKeteranganFieldTambahan">
                    <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.tekananDarah" />
                    <label class="keteranganFieldTambahan" style="margin-top: 5px;margin-right: 30px">mm/Hg</label>
                </div>
            </div>

        </div>
        <div class="grid_12">
            <div class="grid_3">
                <div class="grid_12" style="margin-bottom:5px">
                    <label c-label item="item">Berat Badan kering</label>
                </div>
                <div class="grid_12 parentKeteranganFieldTambahan">
                    <input c-text-box type="number" filter="" class="k-textbox" ng-model="item.beratBadanKering" />
                    <label class="keteranganFieldTambahan" style="margin-top: 5px;margin-right: 30px">Kg</label>
                </div>
            </div>
            <div class="grid_3">
                <div class="grid_12" style="margin-bottom:5px">
                    <label c-label item="item" c-label-text="Keadaan Umum"></label>
                </div>
                <div class="grid_12" ng-repeat="list in listKeadaanUmum | orderBy:'id'">
                    <div ng-repeat="jawab in list.detail | orderBy:'id'">
                        <div class="grid_4">
                            <input type="radio" name="{{jawab.nama}}" id="{{jawab.nama}}" class="k-radio" ng-model="item.keadaanUmum"
                                value="{{jawab.id}}">
                            <label class="k-radio-label" for="{{jawab.nama}}">{{jawab.nama}}</label>
                            <!-- <input type="checkbox" ng-checked="opsi.isChecked" class="k-checkbox" name="{{opsi.nama}}"
                                id="{{opsi.nama}}" ng-model="bool" value="{{opsi.id}}" ng-click="addListKarakteristikNyeri(bool,opsi)">
                            <label class="k-checkbox-label" for="{{opsi.nama}}">{{opsi.nama}}</label> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_3">
                <!-- <div class="grid_12" style="margin-bottom:5px">
                    <label c-label item="item" c-label-text="Edema"></label>
                </div> -->
                <div class="grid_12" ng-repeat="list in listEdema | orderBy:'id'">
                    <b>{{list.nama}}</b>
                    <div ng-repeat="jawab in list.detail | orderBy:'id'">
                        <div class="grid_4">
                            <input type="radio" name="{{jawab.nama}}" id="{{jawab.nama}}" class="k-radio" ng-model="item.edema"
                                value="{{jawab.id}}">
                            <label class="k-radio-label" for="{{jawab.nama}}">{{jawab.nama}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_3">
                <div class="grid_12" ng-repeat="list in listKonjuctiva | orderBy:'id'">
                    <b>{{list.nama}}</b>
                    <div ng-repeat="jawab in list.detail | orderBy:'id'">
                        <div class="grid_4">
                            <input type="radio" name="{{jawab.nama}}" id="{{jawab.nama}}" class="k-radio" ng-model="item.konjuctiva"
                                value="{{jawab.id}}">
                            <label class="k-radio-label" for="{{jawab.nama}}">{{jawab.nama}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_3">
                <div class="grid_12" ng-repeat="list in listPernapasan | orderBy:'id'">
                    <b>{{list.nama}}</b>
                    <div ng-repeat="jawab in list.detail | orderBy:'id'">
                        <div class="grid_4">
                            <input type="checkbox" ng-checked="jawab.isChecked" class="k-checkbox" name="{{jawab.nama}}"
                                id="{{jawab.nama}}" ng-model="bool" value="{{jawab.id}}" ng-click="addPernapasan(bool,jawab)">
                            <label class="k-checkbox-label" for="{{jawab.nama}}">{{jawab.nama}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_3">
                <div class="grid_12" ng-repeat="list in listAksesVaskular | orderBy:'id'">
                    <b>{{list.nama}}</b>
                    <div ng-repeat="jawab in list.detail | orderBy:'id'">
                        <div class="grid_4">
                            <input type="checkbox" ng-checked="jawab.isChecked" class="k-checkbox" name="{{jawab.nama}}"
                                id="{{jawab.nama}}" ng-model="bool" value="{{jawab.id}}" ng-click="addVaskuler(bool,jawab)">
                            <label class="k-checkbox-label" for="{{jawab.nama}}">{{jawab.nama}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_3">
                <div class="grid_12" ng-repeat="list in listHDcatheter | orderBy:'id'">
                    <b>{{list.nama}}</b>
                    <div ng-repeat="jawab in list.detail | orderBy:'id'">
                        <div class="grid_4">
                            <input type="checkbox" ng-checked="jawab.isChecked" class="k-checkbox" name="{{jawab.nama}}"
                                id="{{jawab.nama}}" ng-model="bool" value="{{jawab.id}}" ng-click="addHDcatheter(bool,jawab)">
                            <label class="k-checkbox-label" for="{{jawab.nama}}">{{jawab.nama}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="grid_12">
        <div class="grid_12 headerBox">
            <h1 style="color: white;"><b>{{titlePengkajian}}</b></h1>
        </div>
        <div class="clear"></div>
        <br />
        <div class="grid_12 header">
            <div class="grid_1" style="border-bottom:1px solid blue;"><b>No</b></div>
            <div class="grid_2" style="border-bottom:1px solid blue ;margin-left:-80px"><b>Diagnosis Keperawatan</b></div>
            <div class="grid_1" style="border-bottom:1px solid blue; "><b>Tujuan</b></div>
            <div class="grid_2" style="border-bottom:1px solid blue ;text-align:center"><b>Intervensi</b></div>
            <div class="grid_3" style="border-bottom:1px solid blue; text-align:center"><b>Implementasi</b></div>
            <div class="grid_3" style="border-bottom:1px solid blue; text-align:center"><b>Evaluasi</b></div>
        </div>
        <div ng-repeat="tanya in listPolaNapas | orderBy:'id'">
            <div class="grid_12">
                <div class="grid_1">
                    <label>1</label>
                </div>
                <div class="grid_2" style="margin-left:-80px">
                    <label><b>{{tanya.nama}}</b></label>
                </div>
                <div class="grid_1">
                    <label>{{tanya.tujuan}}</label>
                </div>
                <div class="grid_2">
                    <label>{{tanya.intervensi}}</label>
                </div>
                <div class="grid_3">
                    <div class="grid_12 rowstyle" ng-repeat="jawab in tanya.implementasi | orderBy:'id'" style="margin-bottom: 10px">
                        <input type="checkbox" ng-checked="jawab.isChecked" class="k-checkbox" name="{{jawab.nama}}" id="{{jawab.nama}}"
                            ng-model="bool" value="{{jawab.id}}" ng-click="addPolaNapasImplementasi(bool,jawab)">
                        <label class="k-checkbox-label" for="{{jawab.nama}}">{{jawab.nama}}</label>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="grid_12 rowstyle" ng-repeat="jawab in tanya.evaluasi | orderBy:'id'" style="margin-bottom: 10px">
                        <input type="checkbox" ng-checked="jawab.isChecked" class="k-checkbox" name="{{jawab.nama}}" id="{{jawab.nama}}"
                            ng-model="bool" value="{{jawab.id}}" ng-click="addPolaNapasEvaluasi(bool,jawab)">
                        <label class="k-checkbox-label" for="{{jawab.nama}}">{{jawab.nama}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="tanya in listHipervolemia | orderBy:'id'">
            <div class="grid_12">
                <div class="grid_1">
                    <label>2</label>
                </div>
                <div class="grid_2" style="margin-left:-80px">
                    <label><b>{{tanya.nama}}</b></label>
                </div>
                <div class="grid_1">
                    <label>{{tanya.tujuan}}</label>
                </div>
                <div class="grid_2">
                    <label>{{tanya.intervensi}}</label>
                </div>
                <div class="grid_3">
                    <div class="grid_12 rowstyle" ng-repeat="jawab in tanya.implementasi | orderBy:'id'" style="margin-bottom: 10px">
                        <input type="checkbox" ng-checked="jawab.isChecked" class="k-checkbox" name="{{jawab.nama}}" id="{{jawab.nama}}"
                            ng-model="bool" value="{{jawab.id}}" ng-click="addHipervolemiaImplementasi(bool,jawab)">
                        <label class="k-checkbox-label" for="{{jawab.nama}}">{{jawab.nama}}</label>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="grid_12 rowstyle" ng-repeat="jawab in tanya.evaluasi | orderBy:'id'" style="margin-bottom: 10px">
                        <input type="checkbox" ng-checked="jawab.isChecked" class="k-checkbox" name="{{jawab.nama}}" id="{{jawab.nama}}"
                            ng-model="bool" value="{{jawab.id}}" ng-click="addHipervolemiaEvaluasi(bool,jawab)">
                        <label class="k-checkbox-label" for="{{jawab.nama}}">{{jawab.nama}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="tanya in listRisikoInfeksi | orderBy:'id'">
            <div class="grid_12">
                <div class="grid_1">
                    <label>3</label>
                </div>
                <div class="grid_2" style="margin-left:-80px">
                    <label><b>{{tanya.nama}}</b></label>
                </div>
                <div class="grid_1">
                    <label>{{tanya.tujuan}}</label>
                </div>
                <div class="grid_2">
                    <label>{{tanya.intervensi}}</label>
                </div>
                <div class="grid_3">
                    <div class="grid_12 rowstyle" ng-repeat="jawab in tanya.implementasi | orderBy:'id'" style="margin-bottom: 10px">
                        <input type="checkbox" ng-checked="jawab.isChecked" class="k-checkbox" name="{{jawab.nama}}" id="{{jawab.nama}}"
                            ng-model="bool" value="{{jawab.id}}" ng-click="addRisikoImpl(bool,jawab)">
                        <label class="k-checkbox-label" for="{{jawab.nama}}">{{jawab.nama}}</label>
                    </div>
                </div>
                <div class="grid_3">
                    <div class="grid_12 rowstyle" ng-repeat="jawab in tanya.evaluasi | orderBy:'id'" style="margin-bottom: 10px">
                        <input type="checkbox" ng-checked="jawab.isChecked" class="k-checkbox" name="{{jawab.nama}}" id="{{jawab.nama}}"
                            ng-model="bool" value="{{jawab.id}}" ng-click="addRisikoEvl(bool,jawab)">
                        <label class="k-checkbox-label" for="{{jawab.nama}}">{{jawab.nama}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div ng-include='"
                    ../app/module/Shared/TemplateButtonSimpanNotFixed"'> </div>
</div>