<div ng-controller="ReturStrerilisasiAlatCtrl">

	<div ng-show="dataVOloaded">
		<c-panel item="item" header="'Retur'">
			<div class="grid_6">
				<div class="grid_12">
					<div class="grid_2">
						<label c-label item="item" style="margin-top: 10px">Nomor Order</label>
					</div>
					<div class="grid_4">
						<input style="width: 100%" c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.noOrder" disabled/>
					</div>
				</div>
				<div class="grid_12">
					<div class="grid_2">
						<label c-label item="item" style="margin-top: 10px">No Kirim</label>
					</div>
					<div class="grid_4">
						<input style="width: 100%" c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.noKirim" disabled/>
					</div>
				</div>
				<div class="grid_12">
					<div class="grid_2">
						<label c-label item="item" style="margin-top: 10px">Keterangan</label>
					</div>
					<div class="grid_10">
						<textarea style="height: 90px" c-text-box type="input" class="k-textbox" ng-model="item.keterangan" />
					</div>
				</div>
			</div>
			<div class="grid_6">
				<div class="grid_12">
					<div class="grid_2">
						<label c-label item="item" style="margin-top: 10px">Tanggal Retur</label>
					</div>
					<div class="grid_4">
						<input style="width: 100%" kendo-date-picker k-ng-model="item.tanggal" k-format="'yyyy-MM-dd'"/>
					</div>
				</div>
				<div class="grid_12">
					<div class="grid_2">
						<label c-label item="item" style="margin-top: 10px">No Retur</label>
					</div>
					<div class="grid_4">
						<input style="width: 100%" c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.noRetur" disabled/>
					</div>
				</div>
			</div>
			
			<div class="grid_12">
				<div class="grid_6">
					
					
					<div class="grid_2">
						<label c-label item="item" style="margin-top: 10px">Nama Alat</label>
					</div>
					<div class="grid_10">
						<kendo-grid options="gridDistribusiInternal" k-data-source="dataSource"></kendo-grid>
					</div>
				</div>
			</div>
			<div class="grid_12">
				<div class="grid_2"></div>
				<div class="grid_2"></div>
				<div class="grid_2"></div>
				<div class="grid_2"></div>
				<div class="grid_2">
					<button class="c-button success" ng-click="simpanInternal()">Simpan</button>
				</div>
				<div class="grid_2">
					<button class="c-button cancel" ng-click="batal()">Batal</button>
				</div>
			</div>
		</c-panel>
	</div>
</div>