<div ng-controller="DataAsuransiCtrl">
    <div class="grid_6">
        <div ng-include='"../app/module/shared/headerRegistrasiPelayanan" '></div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Data Asuransi
            </div>
            <div class="panel-body">
                <c-form item="item">
                    <!-- no cm -->
                    <div class="grid_6">
                        <div class="grid_12">
                            <label class="c-label">Nomor Kartu BPJS</label>
                        </div>
                        <div class="grid_12" style="position:relative">
                            <input ng-blur='checkKepesertaan()' c-text-box type="input" class="k-textbox" ng-model="noKepesertaan" />
                            <img ng-show="isLoading" style="position:absolute;right:0;top:0;" height="24" src="stylesheets\Flat\loading-image.gif" />
                        </div>
                    </div>
                    <div class="grid_6">
                        <div class="grid_12">
                            <label class="c-label">Nomor Rujukan</label>
                        </div>
                        <div class="grid_12" style="position:relative">
                            <input ng-blur='checkRujukan()' c-text-box type="input" class="k-textbox" ng-model="noRujukan" />
                            <img ng-show="isLoadingRujukan" style="position:absolute;right:0;top:0;" height="24" src="stylesheets\Flat\loading-image.gif" />
                        </div>
                    </div>
                    <div class="grid_12">
                        <hr/>
                    </div>
                    <div class="grid_12">
                        <div class="grid_6">
                            <label class="c-label">Nama Pasien</label> {{item.asuransi.nama}}
                        </div>
                        <div class="grid_6">
                            <label class="c-label">NIK</label> {{item.asuransi.nik}}
                        </div>
                        <div class="grid_6">
                            <label class="c-label">Jenis Peserta</label> {{item.asuransi.jenisPeserta.nmJenisPeserta}}
                        </div>
                        <div class="grid_6">
                            <label class="c-label">Faskes</label> {{''+item.asuransi.provUmum.kdProvider+' - '+item.asuransi.provUmum.nmProvider}}
                        </div>
                        <div class="grid_6">
                            <label class="c-label">Status Peserta</label> {{item.asuransi.statusPeserta.keterangan}}
                        </div>
                        <div class="grid_6">
                            <label class="c-label">Tanggal Lahir</label> {{item.asuransi.tglLahir}}
                        </div>
                        <div class="grid_6">
                            <label class="c-label">Umur </label> {{item.asuransi.umur.umurSekarang}}
                        </div>

                        <div class="grid_12">
                            <label class="c-label">Informasi </label>
                            <ul>
                                <li>{{item.asuransi.informasi.dinsos}}</li>
                                <li>{{item.asuransi.informasi.iuran}}</li>
                                <li>{{item.asuransi.informasi.prolanisPRB}}</li>
                            </ul>

                        </div>
                    </div>
                </c-form>
            </div>
        </div>
    </div>
    <div class="grid_6">

        <div class="panel panel-default">
            <div class="panel-heading">
                Surat Eligibilitas Peserta
            </div>
            <div class="panel-body">
                <div class="grid_6">
                    <label c-label item="item" c-label-text="nomorRujukan" real></label>
                    <input c-text-box type="input" filter="'numeric'" class="k-textbox" ng-model="item.noRujukan" />
                </div>
                <div class="grid_6" style="margin-bottom: 10px;">
                    <label c-label item="item" c-label-text="tanggalRujukan" real></label>
                    <input style="width: 100%;" kendo-date-picker k-max="now" k-ng-model="item.tglRujukan" placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
                </div>
                <div class="grid_6">
                    <label c-label item="item" c-label-text="asalRujukan" real></label>
                    <input ng-disabled="'true'" style="" c-text-box type="input" filter="'string'" class="k-textbox" ng-model="item.ppkRujukan" />
                </div>
                <div class="grid_6">
                    <label c-label item="item" c-label-text="diagnosis" real></label>
                    <input style="width: 100%;    " kendo-combo-box k-ng-model="item.diagnosis" k-data-text-field="'namaDiagnosa'" k-filter="'contains'" k-data-value-field="'id'" k-data-source="listDiagnosa" />
                </div>
                <div class="grid_6">
                    <label c-label item="item" c-label-text="lakaLantas" real></label>
                    <input type="checkbox" class="k-checkbox" name="lakalantas" id="lakalantas" value="1" ng-model="item.lakalantas">
                    <label class="k-checkbox-label" for="lakalantas">Laka Lantas</label>
                </div>
            </div>
        </div>
        <div class="grid_12">
            <label c-label item="item" c-label-text="nomorSuratEligibilitasPeserta" real></label>
            <input ng-disabled="'true'" style="" c-text-box type="input" filter="'string'" class="k-textbox" ng-model="item.noSep" />
        </div>
        <div class="grid_12">
            <c-button ng-show="!isLoading" class="success" style="width: 100%; font-size: 24px; padding:0px, margin:0px;" item="item" size="36" position=" 'right'" is-validate click="generateSep">
                <span class="title">Generate SEP</span>
            </c-button>
        </div>
    </div>
    <div class="clear"></div>
    <!--<div class="grid_3" style="float:right">
        <c-button ng-show="!isLoading" style="width: 100%; font-size: 24px; padding:0px, margin:0px;" item="item" size="36" position="'right'" is-validate click="cetak" >
            <span class="title">Cetak</span>
        </c-button>
    </div>-->

    <div class="grid_12">
        <div class="grid_12">
            <div ng-include=' "../app/module/Shared/TemplateButtonSimpan" '></div>
        </div>
    </div>
</div>