<div class="grid_12 place_button" style="float:left; margin:15px -20px 15px -20px">
    <button class="btnTemplate1" 
        ng-show="showBtnKembali" 
        is-back 
        style="float:right;
               width:150px">
        Kembali
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnBayar" 
        ng-click="Bayar()" 
        style="float:right;
               width:150px">
        Bayar
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnKembaliDeposit" 
        ng-click="KembaliDeposit()" 
        style="float:right;
               width:150px">
        Kembali Deposit
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnBatal" 
        ng-click="Batal()" 
        style="float:right;
               width:150px">
        Batal
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnSimpan" 
        ng-click="Save()" 
        style="float:right;
               width:150px">
        Simpan
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnPerbaharui" 
        ng-click="Perbaharui()" 
        style="float:right;
               width:150px">
        Perbaharui
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnBayarTagihan" 
        ng-click="BayarTagihan()" 
        style="float:right;
               width:150pxak;
               width:150px">
        Bayar Tagihan
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnBayarDeposit" 
        ng-click="BayarDeposit()" 
        style="float:right;
               width:150pxak;
               width:150px">
        Bayar Deposit
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnCetak" 
        ng-click="Cetak()" 
        style="float:right;
               width:150px">
        Cetak
    </button>
    <button class="btnTemplate1" 
        ng-show="showBtnCetakReg" 
        ng-click="CetakReg()" 
        style="float:right;
               width:150px">
        Cetak by Noregistrasi
    </button>

    <button class="btnTemplate1" 
        ng-show="showBtnDetailBiaya" 
        ng-click="DetailBiaya()" 
        style="float:right;
               width:150px">
        Detail Biaya
    </button>
    <button class="btnTemplate1" 
        ng-show="showBtnDetail" 
        ng-click="Detail()" 
        style="float:right;
               width:150px">
        Detail
    </button>
    <button class="btnTemplate1" 
        ng-show="showBtnEdit" 
        ng-click="Edit()" 
        style="float:right;
               width:150px">
        Ubah
    </button>


    <button class="btnTemplate1" 
        ng-show="showBtnBack" 
        ng-click="Back()" 
        style="float:right;
               width:150px">
        Kembali
    </button>

</div>