<div ng-controller="GiziDaftarPasienCtrl">
    <div ng-show="true">
        <div ng-show="notDetail" class="panel panel-default">
            <div class="panel-body">
                <div class="grid_12">
                    <div class="grid_6">
                        <div class="grid_12">
                            <label c-label c-label-text="TanggalMasuk" real></label>
                        </div>
                        <div class="grid_12">
                            <div class="grid_6">
                                <input style="width: 100%" k-value='now' k-ng-model='tglAwal' kendo-date-time-picker placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy hh:mm'" />
                            </div>
                            <div class="grid_6">
                                <input style="width: 100%" k-value='now' k-ng-model='tglAkhir' kendo-date-time-picker placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy hh:mm'" />
                            </div>
                        </div>
                    </div>
                    <div class="grid_6">
                        <div class="grid_12">
                            <label c-label c-label-text="masukkanNoRekamMedis" real></label>
                        </div>
                        <div class="grid_12">
                            <div class="grid_8">
                                <input c-text-box type="input" filter="'string'" class="k-textbox" ng-model="noCm" />
                            </div>
                            <div class="grid_4">
                                <c-button class="c-button" style="padding:0px" click='refresh'>
                                    <span c-translate>CARI</span>
                                </c-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">

            <div class="panel-heading">{{title}}</div>
            <div class="panel-body" style="padding:0px">

                <div class="grid_12">
                    <div class="k-grid k-widget">
                        <div class="k-grid-header">
                            <div class="k-grid-header-wrap k-auto-scrollable">
                                <table>
                                    <tr>
                                        <th class="k-header" style="width:25px">

                                        </th>

                                        <th style="width:150px" class="k-header">
                                            Nama Pasien
                                        </th>
                                        <th style="width:125px" class="k-header">
                                            Tanggal Registrasi
                                        </th>
                                        <th style="width:200px" class="k-header">
                                            Asal Ruangan
                                        </th>
                                        <th class="k-header">
                                            Dokter
                                        </th>
                                        <th style="width:200px" class="k-header">
                                            Status
                                        </th>
                                    </tr>


                                </table>
                            </div>

                        </div>
                        <div class="k-grid-content k-auto-scrollable" style="max-height:256px">
                            <table role="grid" data-role="selectable" class="k-selectable" ng-repeat="data in listPasien">
                                <tbody role="rowgroup">
                                    <tr role="row" class="ng-scope" ng-style="data.myStyle" ng-click='selected(data)' ng-class="{'k-state-selected':item ===data}">
                                        <td role="gridcell" style="width:25px">
                                            <input ng-checked="data.isChecked" ng-click="data.isChecked=!data.isChecked" type="checkbox" checked="checked">

                                        </td>
                                        <td style="width:150px" role="gridcell"><span ng-bind="data.pasien.namaPasien" class="ng-binding">ii</span></td>
                                        <td style="width:125px" role="gridcell">11-08-2016</td>
                                        <td style="width:200px" role="gridcell"><span ng-bind="data.pasienDaftar.ruangan.namaRuangan" class="ng-binding">Gizi</span></td>
                                        <td role="gridcell"><span ng-bind="data.strukOrder.pegawaiOrder.namaExternal" class="ng-binding">Belum ada dokter</span></td>
                                        <td style="width:200px" role="gridcell"><span ng-bind="data.statusAntrian" class="ng-binding">Check in</span></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="grid_12">
            <span id="square" style="background-color:#FFFC38">&nbsp;&nbsp;&nbsp;</span>
            <span>Menunggu</span>
            <span id="square" style="background-color:#33e46a">&nbsp;&nbsp;&nbsp;</span>
            <span>Kirim Sebagian Menu</span>
            <span id="square" style="background-color:#89c9f7">&nbsp;&nbsp;&nbsp;</span>
            <span>Kirim Seluruh Menu</span>
        </div>
        <div ng-show="notDetail" class="grid_12 place_button">
            <div class="grid_2">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="kirimMenu">
                    <span class="title"><label  c-label c-label-text='kirimMenu' font-size="13"></label></span>
                </c-button>
            </div>
            <div class="grid_2">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="CetakBarcode">
                    <span class="title"><label  c-label c-label-text='cetakLabel' font-size="13"></label></span>
                </c-button>
            </div>
            <div class="grid_2">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="ProdukFormula">
                    <span class="title"><label  c-label c-label-text='Pemesanan Bahan' font-size="13"></label></span>
                </c-button>
            </div>
            <div class="grid_2">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="Produksi">
                    <span class="title"><label  c-label c-label-text='Produksi' font-size="13"></label></span>
                </c-button>
            </div>
            <!--<div class="grid_2">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="CetakBarcode">
                    <span class="title"><label  c-label c-label-text='cetakBarcode' font-size="13"></label></span>
                </c-button>
            </div>
            
            <div class="grid_2">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="PemeriksaanPasien">
                    <span class="title"><label  c-label c-label-text='pemeriksaanPasien' font-size="13"></label></span>
                </c-button>
            </div>
            <div class="grid_2">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="MasukanHasil">
                    <span class="title"><label  c-label c-label-text='masukanHasil' font-size="13"></label></span>
                </c-button>
            </div>
            <div class="grid_2">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="verifikasi">
                    <span class="title"><label  c-label c-label-text='verifikasi' font-size="13"></label></span>
                </c-button>
            </div>
            <div class="grid_2">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="PengambilanHasil">
                    <span class="title"><label  c-label c-label-text='pengambilanHasil' font-size="13"></label></span>
                </c-button>
            </div>-->
        </div>
    </div>
</div>