<md-toolbar md-scroll-shrink class="shadow">
    <div class="md-toolbar-tools">Pembayaran Umum</div>
</md-toolbar>

<div class="grid_12">
    <div class="grid_2">
        <label c-label item="item" c-label-text="NamaSupplier"></label>
        <input placeholder="Nama Supplier" c-text-box type="input" class="k-textbox" ng-model="item.namaSupplier" />
    </div>

    <div class="grid_2">
        <label c-label item="item" c-label-text="Periode Awal"></label>
        <input style="width: 100%" k-ng-model="item.tanggalAwal" kendo-date-picker k-max="now" placeholer="yyyy-MM-dd"
            k-format="'yyyy-MM-dd'" />
    </div>
    <div class="grid_2">
        <label c-label item="item" c-label-text="Periode Akhir"></label>
        <input style="width: 100%" k-ng-model="item.tanggalAkhir" kendo-date-picker placeholer="yyyy-MM-dd"
            k-format="'yyyy-MM-dd'" />
    </div>
    <div class="grid_1" style="margin-top:23px;">
        <md-button class="md-raised md-primary medium-button" ng-click="loadData()">
            <span style="margin-right: 5px;">Cari</span>
            <i class="fa fa-search"></i>
        </md-button>
    </div>
</div>

<div class="grid_12">
    <div class="headerBox">
        <p>Daftar Pembayaran Umum Verified</p>
    </div>

    <div class="grid_12">
        <div id="kGrid" kendo-grid k-data-source="dataGridVerified" k-selectable="'row'" k-pageable="'true'"
            k-sortable="'true'" options="gridOptVerified" k-ng-model="dataSelected">
        </div>

    </div>
</div>

<div class="grid_12">
    <div class="headerBox">
        <p>Daftar Pembayaran Umum Unverified</p>
    </div>

    <div class="grid_12">
        <div id="kGrid" kendo-grid k-data-source="dataGridUnverified" k-selectable="'row'" k-pageable="'true'"
            k-sortable="'true'" options="gridOptUnverified" k-ng-model="dataSelected">
        </div>

    </div>
</div>

<div kendo-window="popupTambahBaru" k-title="'Tambah Data Pembayaran Umum'" k-width="1000" k-visible="false">
    <div class="panel panel-default container_12" style="padding: 0px 10px;">
        <md-card>
            <md-card-content>

                <div class="grid_3">
                    <label style="font-weight: bolder;">Tanggal Verifikasi</label>
                    <input style="width: 100%" k-ng-model="item.tanggalVerifikasi" kendo-date-picker k-max="now"
                        placeholer="yyyy-MM-dd" k-format="'yyyy-MM-dd'" />
                </div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Sumber Dana</label>
                    <input style="width: 100%;" kendo-combo-box k-ng-model="verif.sumberDana"
                        k-data-text-field="'asalproduk'" k-data-value-field="'id'" k-filter="'contains'"
                        k-data-source="listSumberDana" k-on-change="getListAnggaran()" />
                </div>

                <div class="grid_6">
                    <label style="font-weight: bolder;">Anggaran</label>
                    <input style="width: 100%;" kendo-combo-box k-ng-model="verif.anggaran"
                        k-data-text-field="'nama_anggaran'" k-data-value-field="'kode_anggaran'" k-filter="'contains'"
                        k-data-source="listAnggaran" k-on-change="showPagu(verif.anggaran)" />
                </div>
                <div class="grid_12">
                    <label style="font-weight: bolder;">Keterangan Keperluan</label>
                    <textarea c-text-box type="input" class="k-textbox" ng-model="keperluan"></textarea>
                </div>
                <hr>

                <div class="grid_3" style="margin: 10px 0 0 0;">
                    <label style="font-weight: bolder;">PPh</label>
                    <input c-text-box type="input" ng-model="item.pph" class="k-textbox" style="margin-top: 10px;"
                        placeholder="PPH" />
                </div>

                <div class="grid_3" style="margin: 10px 0 0 0;">
                    <label style="font-weight: bolder;">No. SPK</label>
                    <input c-text-box type="input" ng-model="item.noSpk" class="k-textbox" style="margin-top: 10px;"
                        placeholder="No.SPK" />
                </div>

                <div class="grid_3" style="margin: 10px 0 0 0;">
                    <label style="font-weight: bolder;">Nama Rekanan</label>
                    <input c-text-box type="input" ng-model="item.namaRekanan" class="k-textbox" style="margin-top: 10px;"
                        placeholder="Nama Rekanan" />
                </div>

                <div class="grid_3" style="margin: 10px 0 0 0;">
                    <label style="font-weight: bolder;">Dana</label>
                    <input c-text-box type="input" ng-model="verif.sumberDana.asalproduk" class="k-textbox" style="margin-top: 10px;"
                        placeholder="Dana" disabled />
                </div>

                <hr>
                <div class="grid_12">
                    <label style="font-weight: bolder;">Bukti Pendukung</label>
                </div>

                <div class="grid_12">

                    <div class="grid_2" style="margin: 10px 0 0 0;">
                        <input type="checkbox" class="k-checkbox" name="ba" id="ba" ng-model="item.isBa"
                            ng-click="toogleClick($event)">
                        <label c-label item="item" class="k-checkbox-label" for="ba">BA</label>

                        <input c-text-box type="input" ng-model="item.ba" class="k-textbox" style="margin-top: 10px;"
                            placeholder="BA" ng-show="showInputBa" />
                    </div>

                    <div class="grid_3" style="margin: 10px 0 0 0;">
                        <input type="checkbox" class="k-checkbox" name="sppb" id="sppb" ng-model="item.isSppb"
                            ng-click="toogleClick($event)">
                        <label c-label item="item" class="k-checkbox-label" for="sppb">SPPB</label>

                        <input c-text-box type="input" class="k-textbox" ng-model="item.sppb" style="margin-top: 10px;"
                            placeholder="Sppb" ng-show="showInputSppb" />
                    </div>

                    <div class="grid_2" style="margin: 10px 0 0 0;">
                        <input type="checkbox" class="k-checkbox" name="permohonanPembayaran" id="permohonanPembayaran"
                            ng-model="item.permohonanPembayaran">
                        <label c-label item="item" class="k-checkbox-label" for="permohonanPembayaran">Permohonan
                            Pembayaran</label>
                    </div>

                    <div class="grid_2" style="margin: 10px 0 0 0;">
                        <input type="checkbox" class="k-checkbox" name="kwintansi" id="kwintansi"
                            ng-model="item.isKwitansi">
                        <label c-label item="item" class="k-checkbox-label" for="kwintansi">Kwitansi</label>
                    </div>

                    <div class="grid_3" style="margin: 10px 0 0 0;">
                        <input type="checkbox" class="k-checkbox" name="noFaktur" id="noFaktur"
                            ng-model="item.isNoFaktur" ng-click="toogleClick($event)">
                        <label c-label item="item" class="k-checkbox-label" for="noFaktur">No. Faktur</label>

                        <input c-text-box type="input" class="k-textbox" style="margin-top: 10px;"
                            ng-model="item.noFaktur" placeholder="No. Faktur" ng-show="showInputNoFaktur" />
                    </div>
                </div>

                <div class="grid_12" ng-show="isPagu">
                    <hr>
                    <div class="grid_6">
                        <label style="font-weight: bolder;">Nama Anggaran</label>
                        <input c-text-box type="input" class="k-textbox" disabled ng-model="verif.namaAnggaran" />
                    </div>
                    <div class="grid_4">
                        <label style="font-weight: bolder;">Kode Dana</label>
                        <input c-text-box type="input" class="k-textbox" disabled ng-model="verif.kodeDana" />
                    </div>
                    <div class="grid_2">
                        <label style="font-weight: bolder;">Tahun Anggaran</label>
                        <input c-text-box type="input" class="k-textbox" disabled ng-model="verif.tahunDana" />
                    </div>

                    <div class="grid_4">
                        <label style="font-weight: bolder;">Sisa Pagu</label>
                        <input c-text-box type="input" style="text-align: right;" class="k-textbox" disabled
                            ng-model="verif.sisaPagu" />
                    </div>

                    <div class="grid_4">
                        <label style="font-weight: bolder;">Pagu</label>
                        <input c-text-box type="input" style="text-align: right;" filter="number" class="k-textbox"
                            ng-model="verif.pagu" disabled />
                    </div>
                    <div class="grid_4">
                        <label style="font-weight: bolder;">Total Bayar</label>
                        <input c-text-box type="input" style="text-align: right;" class="k-textbox"
                            ng-model="verif.totalBayar" ng-keyup="validasiTotalBayar()" />
                    </div>
                </div>

                <hr>

            </md-card-content>
        </md-card>
    </div>
    <div class="dialog_buttons pull-right" style="margin-top:5%;">
        <div class="grid_4">
            <md-button class="md-raised md-danger medium-button" style="width: 100%;" ng-click="closePopupAdd()">
                Batal
            </md-button>
        </div>
        <div class="grid_4">
            <md-button class="md-raised md-primary medium-button" style="width: 100%;" ng-click="confirmSave()">
                Simpan
            </md-button>
        </div>
    </div>
</div>

<div kendo-window="konfirmasiAnggaran" k-title="'Konfirmasi'" k-width="1000" k-visible="false">
    <div class="panel panel-default container_12" style="padding: 0px 10px;">
        <md-card>
            <md-card-content>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Tanggal Transaksi</label>
                    <p>{{confirm.tglTransaksiFormatted}}</p>
                </div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Tanggal Verifikasi</label>
                    <p>{{confirm.tglVerifikasiFormatted}}</p>
                </div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Kode Anggaran</label>
                    <p>{{confirm.kodeanggaran}}</p>
                </div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">No. Verifikasi</label>
                    <p>{{confirm.noverifikasi}}</p>
                </div>
                <hr>

                <div class="grid_1"></div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Keterangan Keperluan</label>
                    <p>{{confirm.keperluan}}</p>
                </div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Total Tagihan</label>
                    <p>{{confirm.totalTagihanFormatted}}</p>
                </div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Total Bayar</label>
                    <p>{{confirm.totalBayarFormatted}}</p>
                </div>
                <div class="grid_1"></div>
                <hr>

                <!-- <div class="grid_3">
                    <label style="font-weight: bolder;">Status</label>
                    <p>{{confirm.status}}</p>
                </div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Status Konfirmasi Ka. Bag</label>
                    <p>{{confirm.statusConfirmKabag}}</p>
                </div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Status Konfirmasi Anggaran</label>
                    <p>{{confirm.statusConfirmAnggaran}}</p>
                </div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Status Bayar</label>
                    <p>{{confirm.statusbayar}}</p>
                </div>
                <hr>

                <div class="grid_3">
                    <label style="font-weight: bolder;">Sisa Hutang</label>
                    <p>{{confirm.sisautangFormatted}}</p>
                </div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Sub Total</label>
                    <p>{{confirm.subtotalFormatted}}</p>
                </div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Total</label>
                    <p>{{confirm.totalFormatted}}</p>
                </div>
                <div class="grid_3">
                    <label style="font-weight: bolder;">Diskon</label>
                    <p>{{confirm.totaldiskonFormatted}}</p>
                </div>
                <hr> -->
                <div class="grid_12">
                    <div id="kGrid" kendo-grid k-data-source="dataGridPenggunaanAnggaran" k-selectable="'row'"
                        k-pageable="'true'" k-sortable="'true'" options="gridOptPenggunaanAnggaran"
                        k-ng-model="dataSelectedAnggaran">
                    </div>

                </div>
            </md-card-content>
        </md-card>
    </div>
    <div class="dialog_buttons pull-right" style="margin-top:5%;">
        <div class="grid_4">
            <md-button class="md-raised md-danger medium-button" style="width: 100%;" ng-click="closePopUpKonfirmasi()">
                Batal
            </md-button>
        </div>
        <div class="grid_4">
            <md-button class="md-raised md-primary medium-button" style="width: 100%;"
                ng-click="konfirmasiData(isKasubag)">
                Konfirmasi
            </md-button>
        </div>
    </div>
</div>

<div ng-include=' "../app/module/Shared/TemplateLoading" '></div>