<style>
	.style-center{
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	.style-right{
		display: inline-block;
		text-align: right;
		width: 100%;
	}

	.style-left{
		display: inline-block;
		text-align: left;
		width: 100%;
	}
</style>
<div ng-controller="VerifikasiTagihanSupplierCtrl">
	<div ng-show="dataVOloaded">
		<md-toolbar md-scroll-shrink class="shadow">
			<div class="md-toolbar-tools">Verifikasi Tagihan Rekanan</div>
		</md-toolbar>

		<div class="grid_12">
			<div class="grid_2">
				<label c-label item="item" c-label-text="NamaSupplier"></label>
				<input placeholder="Nama Supplier" c-text-box type="input" class="k-textbox" ng-model="item.namaSupplier" />
			</div>

			<div class="grid_2">
				<label c-label item="item" c-label-text="Periode Awal"></label>
				<input style="width: 100%" k-ng-model="item.tanggalAwal" kendo-date-picker k-max="now" placeholer="yyyy-MM-dd" k-format="'yyyy-MM-dd'"/>
			</div>
			<div class="grid_2">
				<label c-label item="item" c-label-text="Periode Akhir"></label>
				<input style="width: 100%" k-ng-model="item.tanggalAkhir" kendo-date-picker placeholer="yyyy-MM-dd" k-format="'yyyy-MM-dd'"/>
			</div>
			<div class="grid_2">
				<label c-label item="item" c-label-text="Status"></label>
				<input style="width: 100%;" kendo-combo-box k-data-source="listStatus" k-ng-model="item.status" k-data-text-field="'namaStatus'" k-filter="'contains'" k-data-value-field="'id'" k-auto-bind="false"/>
			</div>
			<div class="grid_1" style="margin-top:22px;">
				<md-button class="md-raised md-primary medium-button" ng-click="loadData()">
					<span style="margin-right: 5px;">Cari</span>
					<i class="fa fa-search"></i>
				</md-button>
			</div>
		</div>
		<div class="grid_6">
			<div class="grid_12">
			</div>
		</div>
		<div class="clear"></div>

		<br/>

		<div class="grid_12">
			<div class="headerBox">
				<p>Daftar Verifikasi Tagihan Rekanan</p>
			</div>

			<div class="grid_12">
				<div id="kGrid" kendo-grid 
				k-data-source="dataGrid" 
				k-selectable="'row'"
				k-pageable="'true'"
				k-sortable="'true'"
				options="gridOpt"
				k-ng-model="dataSelected">
			</div>
			</div>

		<br/>

	</div>
	<div ng-include=' "../app/module/Shared/TemplateLoading" '></div>
	</div>

	<div kendo-window="verifkasiRekanan" k-title="'Verifikasi Tagihan Rekanan'" k-width="1000" k-visible="false">
		<div class="panel panel-default container_12" style="padding: 0px 10px;">
			<md-card>
				<md-card-content>
					<div class="grid_3">
						<label style="font-weight: bolder;">No. Faktur</label>
						<p>{{item.noDokumen}}</p>
						<!-- <input c-text-box type="input" class="k-textbox" ng-model="item.noDokumen" disabled/> -->
					</div>
					
					<div class="grid_12">
						<!-- <div class="grid_6">
							<label style="font-weight: bolder;">Terbilang</label>
							<input c-text-box type="input" style="text-align: right;" class="k-textbox" ng-model="verif.totalBayarTerbilang" disabled/>
						</div> -->
						<!-- <div class="grid_6">
							<label style="font-weight: bolder;">Terbilang</label>
							<input c-text-box type="input" style="text-align: right;" class="k-textbox" ng-model="verif.potonganTerbilang" disabled/>
						</div> -->
					</div>
					<hr>

					<div class="grid_3">
						<label style="font-weight: bolder;">Tanggal Verifikasi</label>
						<input style="width: 100%" k-ng-model="item.tanggalVerifikasi" kendo-date-picker k-max="now" placeholer="yyyy-MM-dd" k-format="'yyyy-MM-dd'"/>
					</div>
					<div class="grid_3">
						<label style="font-weight: bolder;">Sumber Dana</label>
						<input style="width: 100%;" kendo-combo-box k-ng-model="verif.sumberDana" k-data-text-field="'asalproduk'" k-data-value-field="'id'" k-filter="'contains'" k-data-source="listSumberDana" />
					</div>

					<div class="grid_6">
						<label style="font-weight: bolder;">Anggaran</label>
						<input style="width: 100%;" kendo-combo-box k-ng-model="verif.anggaran" k-data-text-field="'nama_anggaran'" k-data-value-field="'kode_anggaran'" k-filter="'contains'" k-data-source="listAnggaran" k-on-change="showPagu(verif.anggaran)"/>
					</div>
					

					<div class="grid_12" ng-show="isPagu">
						<hr>
						<div class="grid_6">
							<label style="font-weight: bolder;">Nama Anggaran</label>
							<input c-text-box type="input" class="k-textbox" disabled ng-model="verif.namaAnggaran"/>
						</div>
						<div class="grid_4">
							<label style="font-weight: bolder;">Kode Dana</label>
							<input c-text-box type="input" class="k-textbox" disabled ng-model="verif.kodeDana"/>
						</div>
						<div class="grid_2">
							<label style="font-weight: bolder;">Tahun Anggaran</label>
							<input c-text-box type="input" class="k-textbox" disabled ng-model="verif.tahunDana"/>
						</div>

						<div class="grid_6">
							<label style="font-weight: bolder;">Sisa Pagu</label>
							<input c-text-box type="input" style="text-align: right;" class="k-textbox" disabled ng-model="verif.sisaPagu"/>
						</div>
						<div class="grid_6">
							<label style="font-weight: bolder;">Terbilang</label>
							<input c-text-box type="input" style="text-align: right;" class="k-textbox" ng-model="verif.sisaPaguTerbilang" disabled/>
						</div>

						<div class="grid_6">
							<label style="font-weight: bolder;">Pagu</label>
							<input c-text-box type="input" style="text-align: right;" filter="number" class="k-textbox" ng-model="verif.pagu" ng-change="getTerbilang(verif.pagu, 'paguTerbilang')" disabled/>
						</div>
						<div class="grid_6">
							<label style="font-weight: bolder;">Terbilang</label>
							<input c-text-box type="input" style="text-align: right;" class="k-textbox" ng-model="verif.paguTerbilang" disabled/>
						</div>
					</div>
					<hr>

					<div class="grid_12">
						<div class="grid_6">
							<label style="font-weight: bolder;">Total Bayar</label>
							<input c-text-box type="input" style="text-align: right;" class="k-textbox" ng-model="verif.totalBayar" ng-change="getTerbilang(verif.totalBayar, 'totalBayarTerbilang')" ng-keyup="validasiTotalBayar()"/>
						</div>
						<div class="grid_6">
							<label style="font-weight: bolder;">Terbilang</label>
							<input c-text-box type="input" style="text-align: right;" class="k-textbox" ng-model="verif.totalBayarTerbilang" disabled/>
						</div>
						<!-- <div class="grid_6">
							<label style="font-weight: bolder;">Potongan</label>
							<input c-text-box type="input" style="text-align: right;" class="k-textbox" ng-model="verif.potongan" ng-change="getTerbilang(verif.potongan, 'potonganTerbilang')"/>
						</div> -->
					</div>
				</md-card-content>
			</md-card>
		</div>
		<div class="dialog_buttons pull-right" style="margin-top:5%;">
			<div class="grid_4">
				<md-button class="md-raised md-danger medium-button" style="width: 100%;" ng-click="closePopUpVerifikasi()">
					Batal
				</md-button>
			</div>
			<div class="grid_4">
				<md-button class="md-raised md-primary medium-button" style="width: 100%;" ng-click="verifikasiTagihan()">
					Verifikasi
				</md-button>
			</div>
		</div>
	</div>
</div>
