<div ng-controller="historyLoginModulAplikasiCtrl">
	<div ng-show="dataVOloaded">
		<c-panel item="item" header="'History Login Modul Aplikasi'" disabled>

			<!-- kdHistoryLogin -->
			<div class="grid_12">
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kdHistoryLogin"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdHistoryLogin" />
				</div>
			</div>

			<!-- modulAplikasi -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="modulAplikasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.modulAplikasi" k-data-text-field="'modulAplikasi'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listmodulAplikasi" />
				</div>
			</div>
			</div>
			<!-- modulAplikasiId -->
			<div class="grid_12">
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="ruanganUser"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.ruanganUser" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listruanganUser" />
				</div>
			</div>
		
			<!-- ruanganUserId -->
		
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kdUser"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdUser" />
				</div>
			</div>
			</div>
			<!-- namaHost -->
			<div class="grid_12">
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaHost"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaHost" />
				</div>
			</div>

			<!-- tglLogin -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="tglLogin"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%" k-ng-model="item.tglLogin"  kendo-date-picker k-max="now" placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
				</div>
			</div>
			</div>
			<!-- tglLogout -->
			<div class="grid_12">
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="tglLogout"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%" k-ng-model="item.tglLogout"  kendo-date-picker k-max="now" placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
				</div>
			</div>

			<!-- reportDisplay -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="reportDisplay"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
				</div>
			</div>
			</div>

			<!-- kodeExternal -->
			<div class="grid_12">
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kodeExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
				</div>
			</div>

			<!-- namaExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
				</div>
			</div>
			</div>

			<!-- HistoryLoginModulAplikasi -->
			<div class="grid_12">
				<div class="grid_12 headerBox">
					<p>HistoryLoginModulAplikasi</p>
				</div>
				<div class="clear"></div>

				<!-- grid table -->
				<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptions"  k-data-source="dataSource" k-ng-model="current" ng-click="klik(current)"></kendo-grid>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>


		</c-panel>
	</div>
</div>
