<div ng-include=' "../app/module/Shared/TemplateLoading" '></div>
<div class="panel panel-default container_12">
    <div class="panel-body">
        <div class="grid_12">
            <div class="grid_4">
                <div class="grid_12">
                    <div class="grid_4">
                        <label c-label>No CM :</label>
                        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.noCm" style="width:98%"/>
                    </div>
                    <div class="grid_8">
                        <label c-label style="padding-left:6px">Masukkan Nomor SEP :</label>
                        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.noSep" />
                    </div>
                </div>
                <div class="grid_12">
                    <div class="grid_6">
                        <label c-label>No Kartu :</label>
                        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.noKartu" />
                    </div>
                    <div class="grid_6">
                        <label c-label>Tanggal SEP :</label>
                        <input style="width: 100% " k-max="now" kendo-date-time-picker k-ng-model="item.tglSep " k-format="'dd-MM-yyyy HH:mm:ss'" />
                    </div>
                </div>
                <div class="grid_12">
                     <div class="grid_6">
                        <label c-label>No Rujukan :</label>
                        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.noRujukan" />
                    </div>
                    <div class="grid_6">
                        <label c-label>Tanggal Rujukan :</label>
                        <input style="width: 100% " k-max="now " kendo-date-time-picker k-ng-model="item.tglRujukan" k-format="'dd-MM-yyyy HH:mm:ss'" />
                    </div>
                </div>
                <div class="grid_12">
                     <div class="grid_4" style="margin-top:8px">
                        <label c-label>Jenis Pelayanan :</label>
                     </div>
                     <div class="grid_8">
                        <div class="grid_6" ng-repeat="list in jenisPelayanan">
                            <input type="radio" name="{{list.name}}" id="{{list.id}}" class="k-radio" ng-model="item.jenisPelayanan" ng-value="list">
                            <label class="k-radio-label" for="{{list.id}}" style="margin:5px">{{list.name}}</label>
                        </div>
                    </div>
                </div>
                <div class="grid_12">
                    <div class="grid_8">
                        <label c-label>Poli Tujuan :</label>
                        <input style="width: 100%; " kendo-combo-box k-ng-model="item.poliTujuan" k-data-text-field="'namaRuangan'" k-filter="'contains'" k-data-value-field="'value'" k-auto-bind="false" k-data-source="ruangans"/>
                    </div>
                     <div class="grid_4">
                        <label c-label>Diagnosa Awal :</label>
                        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.diagnosa" />
                    </div>
                </div>
                <div class="grid_12" style="padding-top:6px">
                    <div class="grid_3" style="margin-top:8px">
                        <label c-label>Kelas Rawat :</label>
                    </div>
                    <div class="grid_9">
                        <div class="grid_4" ng-repeat="list in kelasRawat">
                            <input type="radio" name="{{list.name}}" id="{{list.id}}" class="k-radio" ng-model="item.kelasRawat" ng-value="list">
                            <label class="k-radio-label" for="{{list.id}}" style="margin:5px"><b>{{list.name}}</b></label>
                        </div>
                    </div>
                </div>
                <div class="grid_12">
                    <div class="grid_4">
                        <label c-label>Laka Lantas :</label>
                        <div class="grid_6" ng-repeat="list in lakaLantas">
                            <input type="radio" name="{{list.name}}" id="{{list.id}}" class="k-radio" ng-model="item.lakaLantas" ng-value="list">
                            <label class="k-radio-label" for="{{list.id}}" style="margin:5px"><b>{{list.name}}</b></label>
                        </div>
                    </div>
                    <div class="grid_8">
                        <label c-label>Lokasi Laka Lantas:</label>
                        <input c-text-box type="input" filter="'char'" class="k-textbox" ng-model="item.lokasiLaka" ng-disabled="disableLokasi"/>
                    </div>
                </div>
                <div class="grid_12" style="padding-left:6px">
                    <label c-label>Catatan :</label>
                    <textarea type="input" class="k-textbox" rows="2" ng-model="item.catatan"></textarea>
                </div>
                <div class="grid_12">
                    <div class="grid_8">
                    </div>
                    <div class="grid_2">
                        <button style="margin-top:6px;" class="k-button k-primary k-button-icon" ng-click="generateSep(item)"><span class="k-sprite k-icon k-i-search">Find</span></button>
                        <!--<em style="margin-top:6px;" ng-click="findDataBySep(item.namaPasien)" id="iconButton" data-role="button" class="k-button k-button-icon" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite k-icon k-i-search">Find</span></em>-->
                    </div>
                    <div class="grid_2">
                        <em style="margin-top:6px;" ng-click='clear()' id="iconButton" data-role="button" class="k-button k-button-icon" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite k-icon k-i-cancel">Clear</span></em>
                    </div>
                </div>
            </div>
            <div class="grid_8">
                <div class="grid_12">
                    <label c-label>Results :</label>
                </div>
                <pre id="json" class="json-viewer"></pre>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.json-viewer {
    margin-top:26px;
    padding: 2em 0 2em 5em;
    background: lightgrey;
}
</style>
