<div ng-include=' "../app/module/Shared/TemplateLoading" '></div>
<div class="panel panel-default container_12">
    <div class="panel-body">
        <div class="grid_12">
            <div class="grid_4">
                <div class="grid_12">
                    <div class="grid_6">
                        <label c-label>Tanggal SEP :</label>
                        <input style="width: 100% " k-max="now" kendo-date-time-picker k-ng-model="item.tglSep " k-format="'dd-MM-yyyy HH:mm:ss'" />
                    </div>
                    <div class="grid_6">
                        <label c-label>Status Klaim</label>
                        <input style="width: 100%; " kendo-combo-box k-ng-model="item.statusKlaim" k-data-text-field="'statusklaim'" k-filter="'contains'" k-data-value-field="'id'" k-auto-bind="false" k-data-source="listStatusKlaim"/>
                    </div>
                </div>
                <div class="grid_12">
                    <div class="grid_6" >
                        <label c-label>Jenis Pelayanan :</label>
                        <div class="grid_6" ng-repeat="listjenispelayanan in jenisPelayanan">
                            <input type="radio" name="{{listjenispelayanan.jenispelayanan}}" id="{{listjenispelayanan.idjenispelayanan}}" class="k-radio" ng-model="item.jenisPelayanan" ng-value="listjenispelayanan">
                            <label class="k-radio-label" for="{{listjenispelayanan.idjenispelayanan}}" style="margin:5px">{{listjenispelayanan.jenispelayanan}}</label>
                        </div>
                    </div>
                    
                    <div class="grid_1 pull-right">
                        <em style="margin-top:10px;" ng-click='clear()' id="iconButton" data-role="button" class="k-button k-button-icon" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite k-icon k-i-cancel">Clear</span></em>
                    </div>
                    <div class="grid_1 pull-right">
                        <button style="margin-top:10px;" class="k-button k-primary k-button-icon" ng-click="findDataBySep(item)"><span class="k-sprite k-icon k-i-search">Find</span></button>
                        <!--<em style="margin-top:6px;" ng-click="findDataBySep(item.namaPasien)" id="iconButton" data-role="button" class="k-button k-button-icon" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite k-icon k-i-search">Find</span></em>-->
                    </div>
                </div>
                
            </div>
            <div class="grid_8">
                <div class="grid_12">
                    <label c-label>Results :</label>
                </div>
                <pre id="json" class="json-viewer"></pre>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.json-viewer {
    margin-top:26px;
    padding: 2em 0 2em 5em;
    background: lightgrey;
}
</style>
