<!-- <style>
    md-card {
        background-color: #4a4c4c;
        border-radius: 5px;
        width: 30%;
    }
    .card-title {
        font-size: 25px;
        font-weight: 600;
        color: #10c4b2;
    }
    .label-input {
        color: #fff6e4;
        font-weight: 600;
        font-size: 13px;
    }
    hr {
        border: none;
        display: block;
        height: 1.5px;
        margin: 1rem 0;
        background-color: #767676;
    }
    
    .button {
        border: none;
        color: white;
        padding: 10px 30px;
        text-align: center;
        border-radius: 4px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin:10px;
        
    }
    .button-login { 
        background-color: #109dd6;
        transition: all .3s;
    }
    .button-login:hover {
        background-color: #0e7aa5;
    }

    .button-cancel { 
        background-color: rgb(255,87,34);
        transition: all .3s;
    }
    .button-cancel:hover {
        background-color: rgb(223, 72, 26)
    }
    mat-card-actions {
        display: flex;
        justify-content: space-evenly;
    }
    .loading-container {
        width: 30%;
        background-color: #ffffff57;
        display: flex;
        position: absolute;
        height: 367.813px;
        border-radius: 4px;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #10c4b2 transparent #10c4b2 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

</style> -->
<!-- <div class="c-login" ng-show="showPageLogin">
    <div class="loading-container" ng-show="isLoading">
        <div class="lds-dual-ring"></div>
    </div>
    <md-card class="md-elevation-z4">
        <md-card-title>
            <span class="card-title">
                SMARTRSAB <span style="color: white;">1.0</span>
            </span>
        </md-card-title>
        <md-card-content>
            <label class="label-input">Nama Pengguna/Username</label>
            <input id="userName" focus-me="userName" ng-model="userName" ng-disabled="isLoading" type="text" class="k-textbox" style="width: 100%" />
            <hr>
            <label class="label-input">Kata Kunci/Password</label>
            <input id="password" focus-me="password" ng-model="password" ng-disabled="isLoading" type="password" ng-keyup="$event.keyCode == 13 ? validate() : null" ng-keydown='keyDown($event)' class="k-textbox" style="display: block; width: 100%;" />
            
        </md-card-content>
        <md-card-actions style="display: flex;justify-content: center;">
            <button class="button button-login" ng-click="validate()">Masuk</button>
            <button class="button button-cancel" ng-click="reset()">Batal</button>
        </md-card-actions>
        <h5 class="c-color"><span style="font-size:18pt;color:white;font-style: italic;">RSAB Harapan Kita</span>
            <br/>Terdepan Dalam Layanan Kesehatan Perempuan, Perinatal dan Anak </h5>
    </md-card>

</div> -->

<style>
    html {
        width: 100%;
        height: 100%;
    }

    body {
        background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
        color: rgba(0, 0, 0, 0.6);
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        line-height: 1.6em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .overlay,
    .form-panel.one:before {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
    }

    .form {
        z-index: 15;
        position: relative;
        background: #fff;
        width: 600px;
        border-radius: 4px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .1);
        box-sizing: border-box;
        margin: 100px auto 10px;
        overflow: hidden;
    }

    .form-toggle {
        z-index: 10;
        position: absolute;
        top: 60px;
        right: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        transform-origin: center;
        transform: translate(0, -25%) scale(0);
        opacity: 0;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .form-toggle:before,
    .form-toggle:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 4px;
        background: #4285f4;
        transform: translate(-50%, -50%);
    }

    .form-toggle:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .form-toggle:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .form-toggle.visible {
        transform: translate(0, -25%) scale(1);
        opacity: 1;
    }

    .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 20px;
    }

    .form-group:last-child {
        margin: 0;
    }

    .form-group label {
        display: block;
        margin: 0 0 10px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    .form-group input {
        outline: none;
        display: block;
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        border: 0;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 12px 20px;
        color: rgba(0, 0, 0, 0.6);
        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
        line-height: inherit;
        transition: 0.3s ease;
    }

    .form-group input:focus {
        color: rgba(0, 0, 0, 0.8);
    }

    .form-group button {
        outline: none;
        background: #6bf4a4;
        width: 100%;
        border: 0;
        border-radius: 4px;
        padding: 12px 20px;
        color: rgb(41, 41, 41);
        font-family: inherit;
        font-size: inherit;
        font-weight: bolder;
        line-height: inherit;
        text-transform: uppercase;
        cursor: pointer;
    }

    .form-group .form-remember {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0;
        text-transform: none;
    }

    .form-group .form-remember input[type='checkbox'] {
        display: inline-block;
        width: auto;
        margin: 0 10px 0 0;
    }

    .form-panel {
        padding: 60px calc(5% + 60px) 60px 60px;
        box-sizing: border-box;
    }

    .form-panel.one:before {
        content: '';
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
    }

    .form-panel.one.hidden:before {
        display: block;
        opacity: 1;
        visibility: visible;
    }

   
    .form-header {
        margin: 0 0 40px;
    }

    .form-header h1 {
        padding: 4px 0;
        color: #6bf4a4;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
</style>

<!-- Form-->
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1>Masuk Ke dalam Akun <span style="color: #323232;">SMARTRSAB</span></h1>
        </div>
        <div class="form-content">
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" ng-model="userName" name="username" required="required" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" ng-model="password" required="required" ng-keyup="$event.keyCode == 13 ? validate() : null" ng-keydown='keyDown($event)'/>
                </div>
                <!-- <div class="form-group"><label class="form-remember">
                    <input type="checkbox" />Remember Me</label><a
                        class="form-recovery" href="#">Forgot Password?</a></div> -->
                <div class="form-group">
                    <button type="submit" ng-click="validate()">Masuk</button>
                </div>
            </form>

            <h5 style="font-size:18pt;font-weight: bolder;color:#323232;font-style: italic;margin-bottom: 10px;">RSAB Harapan Kita</h5>
            <h4 style="font-size:10pt;color:#6bf4a4;">Terdepan Dalam Layanan Kesehatan Perempuan, Perinatal dan Anak </h4>
        </div>
    </div>
   
</div>