<div class="c-login" ng-show="showPageLogin">
    <!-- image lama -- >
    <!-- <img src="resources/images/welcomeScreen.jpg">-->

    <!-- image baru -->
    <img src="resources/images/welcomeScreenNew.jpg">
    
    <div class="panel">
        <core-busy busy="isLoading"></core-busy>
        <div style="position: absolute; width: 100%;">
            <h1>&nbsp;SMART<span class="c-color">RSAB</span></h1>
            <span style="position: fixed;top: 0;right: 70px;">
                <img style="left: 36px;top: 0px;position: absolute;" class="flag" src="images/indonesia.png"/>
                <img class="flag" src="images/english.png"/>
            </span>
            <table cellpadding="10px">
                <tr>
                    <td colspan="2">
                        <label for="simple-input">Pengguna</label>
                        <input id="userName" focus-me="userName" ng-model="userName" type="text" class="k-textbox" style="width: 100%" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="simple-input">Kata Kunci</label>
                        <input id="password" focus-me="password" ng-model="password" type="password" ng-keyup="$event.keyCode == 13 ? validate() : null" ng-keydown='keyDown($event)' class="k-textbox" style="display: block; width: 100%;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button kendo-button style="width: 100%" class="cancel" ng-click="reset()">Batal</button>


                    </td>
                    <td>
                        <button kendo-button style="width: 100% " class="success" ng-click="validate()">Masuk</button>

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span kendo-notification="notification" k-append-to="'#container_notification'"></span>
                        <div id="container_notification" class="demo-section k-content"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span kendo-qrcode k-error-correction="'M'" ng-model="qrcode" style="height: 250px;"></span>
                    </td>
                </tr>
            </table>

        </div>
	<br/>
	<table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
	<tr>
	<td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=smart.rsabhk.co.id&amp;size=S&amp;lang=en"></script><br />
	<a href="http://www.geotrust.com/ssl/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a></td>
	</tr>
	</table>
	<br/>
        <h5 class="c-color" style="text-align: center; left: 0px; right: 0px; bottom: 0px; ; position: absolute"><span style="font-size:18pt;color:white;font-style: italic;">RSAB Harapan Kita</span>
            <br/>Terdepan Dalam Layanan Kesehatan Perempuan, Perinatal dan Anak </h5>
    </div>
</div>
