<style>
    .birthday-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container-wrapper {
        display: block;
        height: vh;
        width: 100%;
        overflow: overlay;
    }

    .button-birthday {
        font-weight: bolder;
        font-size: 12px;
        padding: 15px;
        cursor: pointer;
        width: 100%;
        user-select: none;
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .button-birthday:hover {
        background-color: #303030;
        color: white;
        border-radius: 5px;
    }

    .scroll-vertical-500 {
        height: 500px;
        width: 100%;
        overflow-y: scroll;
    }
    .badge-2 {
        width: 30px;
		height: 30px;
        float: right;
        display: flex;
        align-items: center;
        background-color: rgb(255, 50, 50);
        border-radius: 50%;
        color: #fff;
        padding: 0.4em 0.4em 0.4em 0.4em;
        position: relative;
        font-size: 90%;
    }

    .badge-2::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: pulse 1s ease infinite;
        border-radius: 50%;
        border: 4px double rgb(255, 50, 50);
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        60% {
            transform: scale(1.3);
            opacity: 0.4;
        }

        100% {
            transform: scale(1.4);
            opacity: 0;
        }
    }

    .smart-container-home {
        display: flex;
        font-family: ProximaNovaLight !important
    }

    h4 {
        font-size: 1rem;
        margin: 2px 0
    }

    .card-list-notification {
        border-top: solid #37d3d7
    }

    .card-list-dokumen {
        border-top: solid #37d3d7;
        width: 100%
    }

    .card-list-video {
        border-top: solid #37d3d7;
        width: 100%
    }

    .card-list-video video {
        width: 70%;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)
    }

    .list-video {
        width: 30%;
        margin: 5px
    }

    .card-list-video md-card-content {
        display: flex;
        justify-content: space-between
    }

    md-card md-card-header {
        padding: 10px
    }

    ul {
        padding-inline-start: 2px
    }

    .list-1 li {
        /* display: flex; */
        margin: 0 5px 15px;
        padding: 10px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)
    }

    .list-2 li {
        padding: 10px;
        border-bottom: solid #2b2b2b thin;
        cursor: pointer
    }

    .list-3 li {
        display: flex;
        padding: 10px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)
    }

    .doc-description {
        width: 60%;
        max-width: 60%;
        font-weight: 400;
        color: #303030
    }
    .doc-description-visimisi {
        width: 90%;
        max-width: 90%;
        font-weight: 400;
        color: #303030
    }

    .doc-action {
        width: 40%;
        max-width: 40%;
        display: flex;
        /* flex-direction: column;
        justify-content: center */
    }

    .doc-action a {
        padding: 5px 20px;
        cursor: pointer;
        border-radius: 205px;
        background-color: #f1f1f1;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
        font-weight: 700;
        margin: 1.5px auto;
        height: 15px;
        font-size: 80%;
        white-space: nowrap;
    }

    .error {
        background-color: #ff2d2d;
        padding: 5px;
        font-weight: bolder;
        color: #fdfdfd;
        border-radius: 4px;
    }

    .notify {
        padding: 15px;
        background-color: #beffff;
        border-radius: 5px;
        display: inline-block;
        margin: 0 2px 5px
    }

    .notify strong {
        margin-right: 10px;
        font-size: 15px
    }

    .notify.notify-warn {
        background-color: #ffcf77
    }

    .info-notify{
        padding: 10px;
        background-color: #beffff;
        border-radius: 5px;
        display: inline-block;
        margin: 0 1px 3px
    }

    .notify-danger {
        background-color: #ff6f6f;
        color: white;
    }
    md-pagination-wrapper.md-center-tabs,
    md-tabs.md-default-theme.md-primary>md-tabs-wrapper,
    md-tabs.md-primary>md-tabs-wrapper {
        background-color: #37d3d7;
    }

    md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]),
    md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]),
    md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]) md-icon,
    md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]) md-icon {
        color: rgb(69, 69, 69);
    }

    md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active,
    md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active,
    md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active md-icon,
    md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active md-icon,
    md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused,
    md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused,
    md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused md-icon,
    md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused md-icon {
        color: rgb(69, 69, 69);
        font-weight: bolder;
    }

    md-tabs.md-default-theme md-ink-bar,
    md-tabs md-ink-bar {
        color: rgb(23 84 86);
        background: rgb(23 84 86);
    }

    .widget-dashboard-kinerja {
        margin-bottom: 5px;
    }

    .widget-dashboard-kinerja label {
        font-weight: bolder;
        margin: 5px 0;
    }

    .fa-refresh {
        color: #37d3d7;
        cursor: pointer;
    }

    .fa-refresh:hover {
        color: #79e5e9;
        cursor: pointer;
    }

    .fa-external-link {
        color: #37d3d7;
        cursor: pointer;
    }

    .fa-external-link:hover {
        color: #79e5e9;
        cursor: pointer;
    }

    .content-widget-verifikasi {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
    }

    .content-widget-verifikasi h1 {
        color: #494949;
        font-weight: bolder;
        font-size: 15px;
        background-color: #e1e0e0;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
    }

    .content-widget-verifikasi h1 span {
        font-size: 25px;
    }

    .birthday-section {
        display: flex;
        background-color: rgb(236, 236, 236);
        padding: 10px;
    }

    .birthday-section img {
        pointer-events: none;
        user-select: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .profile-identity {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        justify-content: space-around;
    }
</style>

<div ng-controller="WelcomeCtrl">
    <md-card class="card-list-notification">
        <md-card-header>
            <h4>Pemberitahuan</h4>
        </md-card-header>
        <md-card-content>
            <div class="container-widget grid_6">
                <div class="notify " ng-if="isShowSIPExpired">
                    <strong>Info </strong> {{messageNotif}}
                </div>
                <div class="notify" ng-if="showPPDSNotif">
                    <strong>Info </strong> {{pesanPemberitahuan}}
                </div>
                <!-- <div class="info-notify">
                    <strong>Info </strong> <strong>[LIVE] HUT RSAB Harapan Kita ke 42</strong> <a
                        href="http://play.rsabhk.co.id/" target="_blank">Klik disini</a>
                </div> -->
                <div class="info-notify notify-danger" ng-if="showNotif.messageAbsensi">
                    <strong>Info </strong> {{messageAbsensi}}
                </div>
                <div class="notify notify-warn" ng-if="showNotif.changePassword">
                    <strong>Perhatian </strong> Harap kepada pengguna SMART untuk mengganti Kata Kunci/Password pengguna
                    anda
                </div>
                <div class="notify notify-warn" ng-if="showNotif.formISARC">
                    <strong>Perhatian </strong> Kepada seluruh karyawan Rumah Sakit Harapan Kita. Harap mengisi form
                    Instrumen Self Assessment Risiko COVID-19 <strong style="font-size:12px; font-style:italic">(<a
                            href="https://bit.ly/selfassessmentcovid19rsabhk" target="_blank">Klik disini</a>)</strong>
                </div>

                <div ng-show="isRemun">
                    <div class="grid_6">
                        <md-card>
                            <md-card-title style="border-bottom: 1px solid #dddddd">
                                <md-card-title-text>
                                    <div class="grid-12">
                                        <div class="grid_6">
                                            <h4 style="text-align: left;">Catatan Kegiatan Kinerja Anda Bulan Ini</h4>
                                        </div>
                                        <div class="grid_6">
                                            <span style="float: right; margin-left: 1em; font-size: larger;"
                                                ng-click="widgetWorkingRecord()"><i class="fa fa-refresh"
                                                    aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-body>
                                <div class="container-widget-verifikasi">
                                    <div class="content-widget-verifikasi">
                                        <h1><span>{{dataWidgetStatusVerifikasi.statusVerifikasi.belumDiverifikasi}}</span>
                                            Belum Diverifkasi</h1>
                                        <h1><span>{{dataWidgetStatusVerifikasi.statusVerifikasi.sudahDiverifikasi}}</span>
                                            Sudah Diverifkasi</h1>
                                    </div>
                                </div>
                            </md-card-body>
                        </md-card>
                    </div>
                    <div class="grid_6">
                        <md-card>
                            <md-card-title style="border-bottom: 1px solid #dddddd">
                                <md-card-title-text>
                                    <div class="grid-12">
                                        <div class="grid_6">
                                            <h4 style="text-align: left;">Tugas Verifikasi Kegiatan Kinerja Bulan Ini</h4>
                                        </div>
                                        <div class="grid_6">
                                            <span style="float: right; margin-left: 1em; font-size: larger;"
                                                ng-click="linkVerifWorkingRecord()"><i class="fa fa-external-link"
                                                    aria-hidden="true"></i></i></span>
                                            <span style="float: right; margin-left: 1em; font-size: larger;"
                                                ng-click="widgetWorkingRecord()"><i class="fa fa-refresh"
                                                    aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-body>
                                <div class="container-widget-verifikasi">
                                    <div class="content-widget-verifikasi">
                                        <h1><span>{{dataWidgetStatusVerifikasi.tugasVerifikasi.belumDiverifikasi}}</span>
                                            Belum Diverifkasi</h1>
                                        <h1><span>{{dataWidgetStatusVerifikasi.tugasVerifikasi.sudahDiverifikasi}}</span>
                                            Sudah Diverifkasi</h1>
                                    </div>
                                </div>
                            </md-card-body>
                        </md-card>
                    </div>
                    <div class="grid_12">
                        <md-card>
                            <md-card-header>
                                <div class="grid_12">
                                    <div class="grid_6">
                                        <h4 style="text-align: left;">Perkembangan Kinerja Bulan Ini</h4>
                                    </div>
                                    <div class="grid_6">
                                        <span style="float: right; margin-left: 1em; font-size: larger;"
                                            ng-click="linkDashboardKinerja()"><i class="fa fa-external-link"
                                                aria-hidden="true"></i></i></span>
                                        <span style="float: right; margin-left: 1em; font-size: larger;"
                                            ng-click="widgetKinerja()"><i class="fa fa-refresh"
                                                aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </md-card-header>
                            <md-card-content>
                                <div class="widget-dashboard-kinerja">
                                    <div ng-repeat="data in dataDashboardKinerja" style="margin-bottom: 5px;">
                                        <md-tooltip md-direction="top">{{data.persenCapaianDibulatkan}}%</md-tooltip>
                                        <md-progress-linear md-mode="determinate" value="{{data.persenCapaianDibulatkan}}">

                                        </md-progress-linear>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            <!-- </div> -->
            <!-- <div class="notify"></div> -->
            <hr width="100%" style="margin-top:0px;margin-bottom:0px;"/>
            <!-- <div class="container-notify grid_6"> -->
                <div class="birthday-wrapper" ng-if="listBirthdayData.length !== 0">
                    <div class="grid_12">
                        <!-- <div class="grid_3">
                            <a class="button-birthday">Lihat Semua</a>
                        </div>
                        <div class="grid_9"> -->
                            <marquee behavior="scroll" direction="left" scrollamount="10" style="font-weight: bolder;">
                                Selamat Hari Ulang Tahun kepada Pegawai RSAB yang jatuh pada hari ini ({{dateNow}}). Wish You All The Best ❤
                            </marquee>
                        <!-- </div> -->
                    </div>
                    <div class="container-wrapper">
                        <div class="grid_4" ng-repeat="dataBirthday in listBirthdayData">
                            <div class="birthday-section">
                                <img src="{{dataBirthday.imgUrlData}}" alt="photo-profile">
                                <div class="profile-identity">
                                    <span class="name">{{dataBirthday.namaLengkap}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-widget grid_6">
                <h1>Visi & Misi RSAB Harapan Kita</h1>
                <h1 style="padding:0;">Visi</h1>
                <strong layout="row" layout-align="center center">"Terdepan sebagai Pusat Kesehatan ibu dan Anak Nasional"</strong>
                <h1 style="padding:0;">Misi</h1>
                <ul class="list-3">
                    <li ng-repeat="data in visimisi">
                        <div class="doc-description-visimisi">
                            <strong>{{data.no}}. </strong>
                            <strong>{{data.data}}</strong>
                        </div>
                    </li>
                </ul>
                <h1 style="padding-top:10px;">Tujuan</h1>
                    <ul class="list-3"><li >
                        <strong style="text-align: justify; text-justify: newspaper">Terwujudnya pelayanan kesehatan Ibu dan Anak yang aman dan berkualitas dengan pelayanan unggulan Birth Defect Integrated Center (BIDIC), Perinatal Terpadu dan Rujukan, dan Teknologi Reproduksi Berbantu melalui kerja sana tim, jejaring dan sistem rujukan serta terselanggaranya pendidikan, pelatihan, dan penelitian yang terintegrasi dengan aktivitas pelayanan.</strong>
                    </li></ul>
            </div>
        </md-card-content>
    </md-card>

    <md-card class="card-list-notification">
        <md-card-content>
            <div class="container-widget grid_4">
                <md-card class="card-list-dokumen">
                    <md-tabs class="md-primary" md-dynamic-height md-center-tabs>
                        <md-tab label="Informasi Terkini">
                            <md-content class="md-padding scroll-vertical-500">
                                <ul class="list-1">
                                    <li ng-repeat="data in dataPemberitahuan">
                                        <div layout="row" width="100%">
                                            <div flex="80">
                                                <strong>{{data.fileName}}</strong><br>
                                                <div class="doc-action">
                                                    <a href="{{data.path}}" download>Download PDF</a>&nbsp;
                                                    <a ng-click="lihatDokumen(data.path)">Lihat</a>
                                                </div>
                                            </div>
                                            <div flex="20">
                                                <div ng-show="data.new" class="badge-2">NEW</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </md-content>
                        </md-tab>

                        <md-tab label="Info Penting">
                            <md-content class="md-padding scroll-vertical-500">
                                <ul class="list-1">
                                    <li ng-repeat="data in dataBerkasAdministrasi">
                                        <div layout="row" width="100%">
                                            <div flex="70">
                                                <strong>{{data.fileName}}</strong>
                                            </div>
                                            <div flex="30">
                                                <div class="doc-action">
                                                    <a href="{{data.path}}" download>Download PDF</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </md-content>
                        </md-tab>

                        <md-tab label="Dokumen Terkait COVID-19">
                            <md-content class="md-padding scroll-vertical-500">
                                <ul class="list-1">
                                    <li ng-repeat="data in dokumenTerkaitCovid">
                                        <div layout="row" width="100%">
                                            <div flex="70">
                                                <strong>{{data.fileName}}</strong>
                                            </div>
                                            <div flex="30">
                                                <div class="doc-action">
                                                    <a href="{{data.path}}" download>Download PDF</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-card>
            </div>
            <div class="container-widget grid_8">
                <md-card class="card-list-video">
                    <md-card-header>
                        <h4>{{videoPlayed.title}}</h4>
                    </md-card-header>
                    <md-card-content>

                        <div class="list-video">
                            <ul class="list-2">
                                <li
                                    ng-click="changeVideo('https://smart.rsabhk.co.id:2222/vid/ultah-jan-1-9.mp4', ' Pegawai Ulang Tahun 1 s/d 9 Januari 2022')">
                                    Pegawai Ulang Tahun 1 s/d 9 Januari 2022
                                </li>
                                <li
                                    ng-click="changeVideo('https://smart.rsabhk.co.id:2222/vid/zona-integritas.mp4', 'Profil Zona Integritas WBK dan WBBM RSAB Harapan Kita 2021')">
                                    Profil Zona Integritas WBK dan WBBM RSAB Harapan Kita 2021
                                </li>
                                <li ng-click="changeVideo('https://smart.rsabhk.co.id:2222/vid/senam.mp4', 'Senam Kebugaran')">
                                    Senam
                                </li>
                                <li
                                    ng-click="changeVideo('https://smart.rsabhk.co.id:2222/vid/masker.mp4', 'Maskerku Melindungi Kamu, Maskermu Melindungi Aku')">
                                    Maskerku Melindungi Kamu, Maskermu Melindungi Aku
                                </li>
                                <li
                                    ng-click="changeVideo('https://smart.rsabhk.co.id:2222/vid/cuci-tangan.mp4', '6 Langkah Cuci Tangan Pakai Sabun (CTPS)')">
                                    6 Langkah Cuci Tangan Pakai Sabun (CTPS)
                                </li>
                                <li ng-click="changeVideo('https://smart.rsabhk.co.id:2222/vid/jaga-jarak.mp4', 'Jaga Jarak')">
                                    Jaga Jarak
                                </li>
                                <li ng-click="changeVideo('http://172.16.201.201:8080/hls/hello.m3u8', 'Jaga Jarak')">
                                    Jaga Jarak 2
                                </li>
                            </ul>
                        </div>

                        <video name="media" id="video-kampanye" src="https://smart.rsabhk.co.id:2222/vid/zona-integritas.mp4"
                            loop controls>
                            Your browser does not support HTML video.
                        </video>
                        <video id="my_video_1" class="video-js vjs-fluid vjs-default-skin" controls preload="auto"
                            data-setup='{}'>
                            <source src="https://mn-l.mncdn.com/kanal24/smil:kanal24.smil/playlist.m3u8"
                                type="application/x-mpegURL">
                        </video>
                        <!-- <video src="http://172.16.201.201:8080/hls/hello.m3u8" type="application/x-mpegURL" 
                        autoplay loop controls></video> -->
                    </md-card-content>
                </md-card>
            </div>
        </md-card-content>
    </md-card>
    <div kendo-window="popUp" id="winSipStr" k-title="'Pemberitahuan'" k-width="550" k-visible="false"
        k-on-open="win2visible= true" k-on-close="ji.idGridInternalJabatan= null">
        <div class="panel panel-default container_12" style="padding:
             0px 10px;">
            <label>{{messageNotif}}</label>
        </div>
    </div>

    <!-- <div style="visibility: hidden">
        <div class="md-dialog-container" id="myDialog">
            <md-dialog layout-padding>
                <h2>Visi & Misi RSAB Harapan Kita</h2>
                <h2 style="padding:0;margin:0;">Visi</h2>
                <strong layout="row" layout-align="center center">"Terdepan sebagai Pusat Kesehatan ibu dan Anak Nasional"</strong>
                <h2 style="padding:0;margin:0;">Misi</h2>
                <ul class="list-3">
                    <li ng-repeat="data in visimisi">
                        <div class="doc-description-visimisi">
                            <strong>{{data.no}}. </strong>
                            <strong>{{data.data}}</strong>
                        </div>
                    </li>
                </ul>
            </md-dialog>
        </div>
    </div> -->
</div>
<link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
<script src="https://unpkg.com/video.js/dist/video.js"></script>
<script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>