<md-toolbar md-scroll-shrink class="shadow">
    <div class="md-toolbar-tools">Daftar Bayi Lahir</div>
</md-toolbar>

<div class="grid_12">
    <div class="grid_2">
        <label c-label>Tanggal Lahir</label>

        <input style="width: 100%" k-ng-model="item.tglAwal" kendo-datepicker placeholer="yyyy-MM-dd"
            k-format="'yyyy-MM-dd'" />
    </div>
    <div class="grid_2">
        <label c-label>&nbsp;</label>

        <input style="width: 100%" k-ng-model="item.tglAkhir" kendo-datepicker placeholer="yyyy-MM-dd"
            k-format="'yyyy-MM-dd'" />
    </div>
    <div class="grid_2" style="margin-top: 22px;">
        <!-- <label c-label>&nbsp;</label> -->
        <md-button class="md-raised md-primary medium-button" ng-click="getData()">
            <span style="margin-right: 5px;">Cari</span>
            <i class="fa fa-search"></i>
        </md-button>
    </div>
</div>

<div class="grid_12">
    <kendo-grid id="kGrid" data-source="dataBayiLahir" options="optGrid" k-selectable="'row'" k-sortable="'true'"
        k-resizable="'true'" k-ng-model="dataPasienSelected" ng-click="klikGrid(dataPasienSelected)"></kendo-grid>
</div>

<div class="grid_12" style="margin-top:60px">
    <div ng-include='" ../app/module/Shared/TemplateLoading" '></div>
</div>