<style>
    .dibatalkan-pasien {
        background-color:#f75f00;
		color: #000000;
		font-weight: bold;
    }
    .verifikasi {
        background-color:#52de97;
		color: #000000;
		font-weight: bold;
    }
    .selesai {
        background-color:#1089ff;
		color: #fff;
		font-weight: bold;
    }
    .sudah-bayar {
        background-color:#d1eecc;
		color: #000000;
		font-weight: bold;
    }
    .blm-verifikasi {
        background-color:#f34573;
		color: #fff;
		font-weight: bold;
    }
    h4 {
        font-size: 16px;
        font-weight: bold;
        color: #363737;
        border: solid 1px #363737;
        background: #ffffff;
        padding: 15px;
        margin: 0;
        text-align: center;
        line-height: 23px;

    }
    .k-grid-content {
        max-height: 400px;
    }
</style>
<div ng-controller="ResepElektronikCtrl">
    <div ng-show="dataVOloaded">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="grid_12">
                    <div class="grid_3">
                        <div class="grid_12">
                            <label c-label c-label-text="TanggalOrder" real></label>
                        </div>
                        <div class="grid_12">
                            <div class="grid_6">
                                <input style="width: 100%" k-value='now'
                                    k-ng-model='startDate' kendo-date-picker
                                    placeholer="dd-mm-yyyy"
                                    k-format="'dd-MM-yyyy'" />
                            </div>
                            <div class="grid_6">
                                <input style="width: 100%" k-value='now'
                                    k-ng-model='untilDate' kendo-date-picker
                                    placeholer="dd-mm-yyyy"
                                    k-format="'dd-MM-yyyy'" />
                            </div>
                        </div>
                    </div>
                    <div class="grid_2" style="margin-top: 5px">
                        <div class="grid_12">
                            <label c-label c-label-text="NoRM" real></label>
                        </div>
                        <div class="grid_12">
                            <input c-text-box type="input" class="k-textbox"
                                ng-model="noCm" />
                        </div>
                    </div>
                    <div class="grid_2" style="margin-top: 5px">
                        <div class="grid_12">
                            <label c-label c-label-text="Nama Departemen" real></label>
                        </div>
                        <input kendo-combo-box
                            k-ng-model="item.namaDept"
                            k-data-text-field="'namaRuangan'"
                            k-data-value-field="'id'"
                            k-filter="'contains'"
                            k-auto-bind="false"
                            k-data-source="listInstalasi" />
                    </div>
                    <div class="grid_2" style="margin-top: 5px">
                        <div class="grid_12">
                            <label c-label c-label-text="Nama Ruangan" real></label>
                        </div>
                        <input kendo-combo-box
                            k-ng-model="item.namaRuangan"
                            k-data-text-field="'namaRuangan'"
                            k-data-value-field="'id'"
                            k-filter="'contains'"
                            k-auto-bind="false"
                            k-data-source="listRuangan" />
                    </div>
                    <div class="grid_2" style="margin-top: 5px">
                        <div class="grid_12">
                            <label c-label c-label-text="Kelompok Pasien" real></label>
                        </div>
                        <input kendo-combo-box
                            k-ng-model="item.kelompokPasien"
                            k-data-text-field="'kelompokpasien'"
                            k-data-value-field="'id'"
                            k-filter="'contains'"
                            k-auto-bind="false"
                            k-data-source="listOfKelompokPasien" />
                    </div>
                    <div class="grid_1" style="margin-top: 27px;">
                        <md-button class="md-raised md-primary medium-button"
                            ng-click="refresh()">
                            <span style="margin-right: 5px;">CARI</span>
                            <i class="fa fa-search"></i>
                        </md-button>
                        <!-- <button class="c-button" style="padding:0px;margin-top:
                            27px;" ng-click="refresh()">
                            <span c-translate>CARI</span>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <!--<div class="panel-heading">{{title}}</div>-->
            <div class="panel-body" style="padding:0px">
                <div class="grid_12">
                    <!-- <kendo-grid k-groupable="'true'" k-ng-model="item"
                        k-data-source="patienGrids" k-selectable="'row'"
                        k-sortable="'true'"
                        k-columns="arrColumnGridResepElektronik"></kendo-grid> -->
                    <!-- <div id="kGrid" kendo-grid
                        k-data-source="patienGrids"
                        k-options="arrColumnGridResepElektronik"
                        k-selectable="'row'"
                        k-sortable="'true'"
                        k-pageable="true"
                        k-ng-model="dataSelected"
                        ng-click="klik(dataSelected)">
                    </div> -->
                    <div kendo-grid k-groupable="'true'" k-ng-model="item"
                        k-data-source="patienGrids" k-selectable="'row'"
                        k-sortable="'true'"
                        k-options="arrColumnGridResepElektronik"></div>
                </div>
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_8">
                <!-- <div class="grid_12">
                    <label c-label item="item">No Order</label>
                </div>
                <div class="clear"></div>
                <div class="grid_12">
                    <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.noOrder" />
                </div> -->
            </div>
            <div class="grid_4">
                <div class="grid_12">
                    <h4>Rata-rata waktu tunggu:<span> {{ratarata}}</span></h4>
                    <!-- <label c-label item="item-bold" c-label-text="Rata-rata waktu tunggu"></label> -->
                </div>
        
                <!-- <div class="grid_12">
                    <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.jmlRows" />
                </div> -->
            </div>
        </div>
        <div class="grid_12 place_button">
            <div class="grid_2">
                <md-button class="md-raised md-primary medium-button"
                    ng-click="verifikasi()">
                    <span style="margin-right: 5px;">Verifikasi</span>
                    <i class="fa fa-check"></i>
                </md-button>
                <!-- <c-button ng-show="!isLoading" style="width: 100%;
                    padding:0px;margin:0px;" item="item" position="'right'"
                    click="verifikasi">
                    <span class="title"><label c-label c-label-text='verifikasi'
                            font-size="13"></label></span>
                </c-button> -->
            </div>
            <div class="grid_2">
                <md-button class="md-raised md-danger medium-button"
                    ng-click="batalkanResep()">
                    <span style="margin-right: 5px;">Batalkan Resep</span>
                    <i class="fa fa-cross"></i>
                </md-button>
            </div>
            <!-- <div class="grid_2">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px;margin:0px;" item="item" position="'right'" click="detailOrder">
                    <span class="title">
                        <label c-label c-label-text='detailOrder' font-size="13"></label>
                    </span>
                </c-button>
            </div> -->
            <div class="grid_2">
                <md-button class="md-raised md-primary medium-button"
                    ng-click="updateProduksi()">
                    <span style="margin-right: 5px;">Produksi</span>
                    <i class="fa fa-sync"></i>
                </md-button>
               
            </div>
            <div class="grid_2">
                <md-button class="md-raised md-primary medium-button"
                    ng-click="serahkanObat()">
                    <span style="margin-right: 5px;">Penyerahan Obat</span>
                    <i class="fa fa-sync"></i>
                </md-button>
               
            </div>
            <div class="grid_2">
                <md-button class="md-raised md-primary medium-button"
                    ng-click="editObat()">
                    <span style="margin-right: 5px;">Edit Obat</span>
                    <i class="fa fa-edit"></i>
                </md-button>
                <!-- <c-button ng-show="!isLoading" style="width: 100%;
                    padding:0px;margin:0px;" item="item" position="'right'"
                    click="editObat">
                    <span class="title"><label c-label c-label-text='Edit'
                            font-size="13"></label></span>
                </c-button> -->
            </div>
            <div class="grid_2">
                <md-button class="md-raised md-primary medium-button"
                    ng-click="lihatResep()">
                    <span style="margin-right: 5px;">Lihat Resep</span>
                    <i class="fa fa-file-text"></i>
                </md-button>
                <!-- <c-button ng-show="!isLoading" style="width: 100%;
                    padding:0px;margin:0px;" item="item" position="'right'"
                    click="lihatResep">
                    <span class="title"><label c-label c-label-text='Lihat
                            Resep'
                            font-size="13"></label></span>
                </c-button> -->
            </div>
        </div>
    </div>
    <div kendo-window="popUp" k-title="'Detail Order'" k-width="1000"
        k-height="400" k-visible="false" k-on-open="win2visible= true"
        k-on-close="win2visible= false">
        <div class="panel panel-default container_12" style="padding: 0px
            10px;">
            <fieldset>
                <legend>Resep Elektronik</legend>
                <div class="grid_12">
                    <div class="grid_3">
                        <div class="grid_12">
                            <label c-label item="item">Tgl Pesanan</label>
                        </div>
                        <div class="clear"></div>
                        <div class="grid_12">
                            <input c-text-box type="input" filter=""
                                class="k-textbox" ng-model="item.tglorders"
                                disabled />
                        </div>
                    </div>
                    <div class="grid_3">
                        <div class="grid_12">
                            <label c-label item="item">No Pesanan</label>
                        </div>
                        <div class="clear"></div>
                        <div class="grid_12">
                            <input c-text-box type="input" filter=""
                                class="k-textbox" ng-model="item.noorders"
                                disabled/>
                        </div>
                    </div>
                    <div class="grid_3">
                        <div class="grid_12">
                            <label c-label item="item">Dokter</label>
                        </div>
                        <div class="clear"></div>
                        <div class="grid_12">
                            <input c-text-box type="input" filter=""
                                class="k-textbox" ng-model="item.dokters"
                                disabled />
                        </div>
                    </div>
                    <div class="grid_3">
                        <div class="grid_12">
                            <label c-label item="item">Status</label>
                        </div>
                        <div class="grid_12">
                            <input c-text-box type="input" filter=""
                                class="k-textbox" ng-model="item.statuss"
                                disabled />
                        </div>
                    </div>
                </div>
                <div class="grid_12">
                    <div class="grid_12 borderBox">
                        <div id="kGrid"
                            kendo-grid k-data-source="dataGridRiwayat"
                            k-selectable="'row'"
                            k-columns="columnGridRiwayat"
                            k-sortable="'true'"
                            k-ng-model="dataSelectedRiwayat">
                            <!-- <div k-detail-template>
                            <kendo-tabstrip>
                            <div>
                                <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
                            </div>
                            </kendo-tabstrip>
                        </div> -->
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div kendo-window="popupLihatObat" k-title="'Resep dari Dokter'"
        k-visible="false" k-on-open="win2visible= true" k-width="700"
        k-max-height="800"
        k-on-close="win2visible= false">

        <div ng-repeat="resep in dataResepDetail">
            <md-card>
                <md-card-title>
                    <span style="font-size: 20px; font-weight: bolder">R/{{resep.resep}}</span>
                </md-card-title>
                <md-card-content>
                    <md-card-content>
                        <p style="font-weight: bold">{{resep.jenisKemasan}}</p>
                        <div style="display: flex; flex-direction: column;"
                            ng-repeat="obat in resep.obat">
                            <div style="display: flex;
                                justify-content:flex-start">
                                <span style="width: 40%">{{obat.namaobat}}</span>
                                <span style="width: 40%">{{obat.qtyproduk}}</span>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: flex-start;
                            margin-top: 10px">
                            <fieldset class="borderBox" style="width: 50%">
                                <legend>
                                    <i>Keterangan</i>
                                </legend>
                                <span>{{resep.obat[0].keteranganlainnya}}</span>
                            </fieldset>
                            <fieldset class="borderBox" style="width: 50%">
                                <legend>
                                    <i>Keterangan Pakai</i>
                                </legend>
                                <span>{{resep.obat[0].keteranganpakai}}</span>
                            </fieldset>

                        </div>
                    </md-card-content>
                </md-card-content>
            </md-card>

        </div>
        <div class="grid_12">
            <div class="grid_6 pull-right">
                <md-button class="md-raised md-primary medium-button"
                    ng-click="printCopyResep()">
                    <span style="margin-right: 5px;">Cetak</span>
                    <i class="fa fa-print"></i>
                </md-button>
            </div>

        </div>
    </div>

    <div ng-include=' "../app/module/Shared/TemplateLoading" '></div>
</div>