<div class="panel panel-default container_12">
    <div class="panel-heading" align="center" c-translate>Jenis Resiko Berdasarkan Sasaran Strategis</div>
    <div class="panel-body">
        <div class="grid_12">
        	<div class="grid_12">
        		<div class="grid_2">
                 	<div class="grid_12" style="margin-top: 10px">
                    	<label c-label item="item">Sasaran Strategis</label>
                	</div>
                    <div class="grid_12" style="margin-top: 20px">
                        <label c-label item="item">Risiko</label>
                    </div>
               	</div>
        		<div class="grid_10">
                    <div class="grid_12">
                        <input style="width: 100%;" kendo-combo-box k-ng-model="item.sasaranStrategis" k-data-text-field="'sasaranStrategis'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="sourceMasterSasaranStrategis" />
                    </div>
                    <div class="grid_12">
                		<input style="width: 100%;" kendo-combo-box k-ng-model="item.risiko" k-data-text-field="'risiko'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="sourceMasterResiko" />
                    </div>
                </div>
                    <div class="grid_12" style="margin-top:20px">
                        <div class="grid_8"></div>
                        <div class="grid_2">
                            <button class="c-button success" ng-click="addJenisResiko()">Tambah</button>
                        </div>
                        <div class="grid_2">
                            <button class="c-button cancel" ng-click="()">hapus</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_12" style="margin-top: 10px;">
                <div class="grid_12">
                    <div kendo-grid k-data-source="dataJenisResiko" k-selectable="'row'" k-columns="columnJenisResiko">
                    </div>
                </div>
            </div>
            <div class="grid_12" style="margin-top:20px">
                <div class="grid_5"></div>
                <div class="grid_2">
                    <button class="c-button success" ng-click="Save()">Simpan</button>
                </div>
                <div class="grid_3">
                    <button class="c-button success" ng-click="DaftarJenisRisiko()">Daftar Jenis Risiko</button>
                </div>
                <div class="grid_2">
                    <button class="c-button cancel" ng-click="()">Tutup</button>
                </div>
            </div>
    	</div>
    </div>
</div>