<div ng-controller="NewRevPermintaanPerbaikandariRuanganITCtrl">
	<div class="panel panel-default container_12">
		<div class="panel-heading" align="center" c-translate>Permintaan Perbaikan
			dari Ruangan</div>
		<div class="panel-body">
			<div class="grid_12">
				<div class="grid_12">

					<!-- button Cetak -->
					<!-- Order Permintaan -->
					<div class="grid_12" id="formOrderPermintaan" style="margin-top:5px">
						<div class="grid_12 headerBox containerBorderBox" style="padding:0px">
							<p>Order Permintaan</p>
						</div>
						<div class="grid_12 borderBox containerBorderBox">
							<div class="grid_12">
								<div class="grid_6">

									<!-- Pelapor -->
									<div class="grid_4" style="padding-top:15px">
										<label c-label item="item">User Pelapor</label>
									</div>
									<div class="grid_8">
										<input c-text-box type="input" filter="'varchar'" class="k-textbox"
											ng-model="item.userPelapor" disabled="true" />
									</div>

									<!-- Tanggal Pesan -->
									<div class="grid_4" style="padding-top:15px">
										<label c-label item="item">Tanggal</label>
									</div>
									<div class="grid_8">
										<input style="width: 100%" kendo-date-picker k-ng-model="item.tanggalPesan"
											k-format="'dd-MM-yyyy'" disabled />
									</div>



									<!-- Kerusakan / Keluhan -->

								</div>
								<div class="grid_6">
									<!-- Ruangan Asal -->
									<div class="grid_4" style="padding-top:15px">
										<label c-label item="item">Ruangan Asal</label>
									</div>
									<div class="grid_8">
										<div class="grid_12">
											<!-- <input style="width: 100%;" kendo-combo-box k-ng-model="item.ruangan" k-data-text-field="'namaRuangan'" k-data-value-field="'id'" k-filter="'contains'"  k-data-source="ListRuangan" k-on-change="OnChangeRuangan(item.ruangan)"/> -->
											<input c-text-box type="input" filter="'varchar'" class="k-textbox"
												ng-model="item.ruangan" disabled="true" />
										</div>
										<div class="clear"></div>
									</div>

									<!-- Nama Barang -->
									<div class="grid_4" style="padding-top:15px">
										<label c-label item="item">Jenis Kerusakan <i
												style="font-size: 10px">(optional)</i></label>
									</div>
									<div class="grid_8">
										<input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisKeluhan"
											k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'"
											k-data-source="katKerusakan" />
									</div>

								</div>
								<div class="grid_12">
									<div class="grid_2" style="padding-top:15px">
										<label c-label item="item">Kerusakan / Keluhan</label>
									</div>
									<div class="grid_10">
										<textarea style="height: 90px;max-width: 100%;min-width:100%" c-text-box
											type="input" class="k-textbox" ng-model="item.kerusakan"></textarea>
									</div>
								</div>
								<div class="grid_12" style="margin-top: 15px">
									<div class="grid_8"></div>
									<div class="grid_2">
										<md-button class="md-raised md-button md-danger" ng-click="batal()">
											<span>Batal</span>
										</md-button>
									</div>
									<div class="grid_2">
										<md-button class="md-raised md-button md-primary" ng-click="simpan()">
											<span>Kirim</span>
										</md-button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="grid_12 status-pengerjaan" style="margin-top: 15px">
					<div class="grid_2" style="margin-left:10px; font-weight: bold"><label c-label item="item">Status
							Pengerjaaan :</label></div>
					<div class="grid_2">
						<span class="yellow">&nbsp;&nbsp;&nbsp;</span>
						<span style="font-weight: bold">: Belum di Kerjakan</span>
					</div>
					<div class="grid_2">
						<span class="green">&nbsp;&nbsp;&nbsp;</span>
						<span style="font-weight: bold">: Sudah di Kerjakan</span>
					</div>
					<div class="grid_2">
						<span class="red">&nbsp;&nbsp;&nbsp;</span>
						<span style="font-weight: bold">: Pending</span>
					</div>
				</div> -->
				<!-- <div class="grid_12 status-pengerjaan" style="margin-top: 15px">
					<div class="grid_2" style="margin-left:10px; font-weight: bold"><label c-label item="item">Status
							Respon :</label></div>
					<div class="grid_2">
						<span class="yellow">&nbsp;&nbsp;&nbsp;</span>
						<span style="font-weight: bold">: Belum di Respon</span>
					</div>
					<div class="grid_2">
						<span class="green">&nbsp;&nbsp;&nbsp;</span>
						<span style="font-weight: bold">: Respon 0-15menit</span>
					</div>
					<div class="grid_2">
						<span class="orange">&nbsp;&nbsp;&nbsp;</span>
						<span style="font-weight: bold">: Respon 15-30menit</span>
					</div>
					<div class="grid_2">
						<span class="red">&nbsp;&nbsp;&nbsp;</span>
						<span style="font-weight: bold">: Respon lebih dari 30menit</span>
					</div>
				</div> -->

				<!-- Pencarian -->
				<hr class="style-four">
				<div class="grid_12">
					
					<div class="grid_4">
							<div class="grid_4" style="padding-top:15px">
								<label c-label item="item">Status</label>
							</div>
							<div class="grid_8">
								<input style="width: 100%;" kendo-combo-box k-ng-model="item.searchStatus"
									k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'"
									k-data-source="dataStatus" />
							</div>
					</div>
					<div class="grid_1" style="margin-top: 5px">
						<!-- <button class="c-button success" ng-click="Cari(item.pencarian)">Cari</button> -->
						<md-button class="md-raised md-button md-primary" ng-click="getDataPerbaikanRuangan()">
							<span>Cari</span>
						</md-button>
					</div>
				</div>

				<div class="grid_12" style="margin-top: 10px">
					<div class="grid_12">
						<div class="grid_12 headerBox containerBorderBox" style="padding:0px">
							<p>Daftar Permintaan</p>
						</div>
						<div id="kGrid" kendo-grid k-data-source="daftarPermintaanPerbaikanIT"
							k-options="mainGridOptions" k-selectable="'row'" k-sortable="'true'" k-pageable="true"
							k-ng-model="dataSelected" ng-click="klik(dataSelected)">
						</div>
					</div>
				</div>
				<hr class="style-four">
			</div>
		</div>
	</div>
</div>
<style>
	.error {
		background-color: white !important;
	}

	.yellow {
		background-color: #EFFD5F;
		color: #000000;
		font-weight: bold;
	}

	.green {
		background-color: #98FB98;
		color: #000000;
		font-weight: bold;
	}

	.red {
		background-color: #D21F3C;
		color: #FFFFFF;
		font-weight: bold;
	}

	.orange {
		background-color: #EF7215;
		color: #000000;
		font-weight: bold;
	}

	.k-grid .k-grid-header .k-header .k-link {
		height: auto;
	}

	.k-grid .k-grid-header .k-header {
		white-space: normal;
	}

	.style-four {
		height: 5px;
		border: 0;
		box-shadow: inset 0 14px 12px -12px rgba(0, 0, 0, 0.5);
	}

	.md-button {
		padding: 0 6px 0 6px;
		margin: 6px 8px 6px 8px;
		min-width: 88px;
		border-radius: 3px;
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		border: none;
		outline: none;
		color: green;
	}

	.k-grid .k-grid-header .k-header {
		text-align: center;
	}

	.md-tooltip {
		height: 25px !important;
		background-color: #363940 !important;
		color: white !important;
		border-radius: 5px;
		font-size: 14px
	}

	.md-button.md-fab.md-fab-top-right {
		top: 300px;
		right: 71px;
		bottom: auto;
		left: auto;
		position: absolute;
	}

	.h1 {
		position: relative;
		display: inline-block;
	}

	.h1::before,
	.h1::after {
		content: ' ';
		display: block;
		position: absolute;
		top: 50%;
		left: -120px;
		width: 100px;
		border-bottom: 1px solid black;
	}

	.h1::after {
		left: auto;
		right: -120px;
	}

	#formOrderPermintaan {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	}

	#formOrderPermintaan:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}

	.status-pengerjaan {
		background-color: #d4d4d4;
		color: rgb(0, 0, 0);
	}
</style>