<div ng-controller="FilesCtrl">
    <c-panel item="item" header="title" disabled>
        <div ng-show="dataVOloaded">
	        <div class="grid_12">
	        	<c-panel item="item" header="titled" disabled>
	        		<div class="grid_12">
	        			<a href="Disposisi"><label c-label item="item" c-label-text="SuratUndanganSosialisasi"></label></a>
	        		</div>
	        		<div class="grid_12" style="margin-top:20px">
	        			<a href="Disposisi"><label c-label item="item" c-label-text="SuratUndanganRapat"></label></a>
	        		</div>
	        	</c-panel>
	        	<div class="grid_12">
	        		<div class="grid_7"></div>
	        		<div class="grid_2">
	        			<button class="c-button" ng-click="()">Open File</button>
	        		</div>
	        		<div class="grid_2">
	        			<button class="c-button" ng-click="()">Tutup</button>
	        		</div>
	        	</div>
	        </div>

        </div>
    </c-panel>
</div>