<div ng-controller="ApotekDaftarPasienCtrl">
    <div ng-show="true">
        <div ng-show="notDetail" class="panel panel-default">
            <div class="panel-body">
                <div class="grid_12">
                    <div class="grid_6">
                        <div class="grid_12">
                            <label c-label c-label-text="TanggalMasuk" real></label>
                        </div>
                        <div class="grid_12">
                            <div class="grid_6">
                                <input style="width: 100%" k-value='now' k-ng-model='tglAwal' kendo-date-picker placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
                            </div>
                            <div class="grid_6">
                                <input style="width: 100%" k-value='now' k-ng-model='tglAkhir' kendo-date-picker placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
                            </div>
                        </div>
                    </div>
                    <div class="grid_6">
                        <div class="grid_12">
                            <label c-label c-label-text="masukkanNoRekamMedis" real></label>
                        </div>
                        <div class="grid_12">
                            <div class="grid_8">
                                <input c-text-box type="input" filter="'string'" class="k-textbox" ng-model="noCm" />
                            </div>
                            <div class="grid_4">
                                <c-button class="c-button" style="padding:0px" click='refresh'>
                                    <span c-translate>CARI</span>
                                </c-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">

            <div class="panel-heading">{{title}}</div>
            <div class="panel-body" style="padding:0px">

                <div class="grid_12">
                    <kendo-grid k-ng-model="item" k-data-source="listDataPasien" k-selectable="'row'" k-sortable="'true'" k-columns="Column"></kendo-grid>
                </div>
            </div>
        </div>
        <div ng-show="notDetail" class="grid_12 place_button">
            <div class="grid_3">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="AmbilSpesimen">
                    <span class="title"><label  c-label c-label-text='ambilSpesimen' font-size="13"></label></span>
                </c-button>
            </div>
            <div class="grid_3">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="PemeriksaanPasien">
                    <span class="title"><label  c-label c-label-text='pemeriksaanPasien' font-size="13"></label></span>
                </c-button>
            </div>
            <div class="grid_3">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="MasukanHasil">
                    <span class="title"><label  c-label c-label-text='masukanHasil' font-size="13"></label></span>
                </c-button>
            </div>
            <div class="grid_3">
                <c-button ng-show="!isLoading" style="width: 100%; padding:0px, margin:0px;" item="item" position="'right'" click="PengambilanHasil">
                    <span class="title"><label  c-label c-label-text='pengambilanHasil' font-size="13"></label></span>
                </c-button>
            </div>
        </div>
    </div>
</div>