<div class="grid_12">
    <div class="breadcrum detail">

        <div class="grid_2">
            <a current='dashboardpasien.Pernafasan' data-ng-click=" (GoTo('dashboardpasien.Pernafasan'))" ng-class="{disabled:listActive['Pernafasan'] ===false,focus:currentState=== 'dashboardpasien.Pernafasan'}" class="n1">Oksigenasi</a>

            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Pernafasan/{{noCM}}/{{tanggal}}/{{noRec}}">Pernafasan</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.Sirkulasi' data-ng-click="(GoTo('dashboardpasien.Sirkulasi'))" ng-class="{disabled:listActive['Sirkulasi'] ===false,focus:currentState=== 'dashboardpasien.Sirkulasi'}" class="n1">Kebutuhan Cairan</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Sirkulasi/{{noCM}}/{{tanggal}}/{{noRec}}">Sirkulasi</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.Neurologi' data-ng-click=" (GoTo('dashboardpasien.Neurologi'))" ng-class="{disabled:listActive['Neurologi'] ===false,focus:currentState=== 'dashboardpasien.Neurologi'}" class="n1">Neurologi</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Neurologi/{{noCM}}/{{tanggal}}/{{noRec}}">Neurologi</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.Gastrointestinal' data-ng-click=" (GoTo('dashboardpasien.Gastrointestinal'))" ng-class="{disabled:listActive['Gastrointestinal'] ===false,focus:currentState=== 'dashboardpasien.Gastrointestinal'}" class="n1">Kebutuhan nutrisi</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Gastrointestinal/{{noCM}}/{{tanggal}}/{{noRec}}">Gastrointestinal</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.Eliminasi' data-ng-click="(GoTo('dashboardpasien.Eliminasi'))" ng-class="{disabled:listActive['Eliminasi'] ===false,focus:currentState=== 'dashboardpasien.Eliminasi'}" class="n1">Eliminasi</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Eliminasi/{{noCM}}/{{tanggal}}/{{noRec}}">Eliminasi</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.Integumen' data-ng-click=" (GoTo('dashboardpasien.Integumen'))" ng-class="{disabled:listActive['Integumen'] ===false,focus:currentState=== 'dashboardpasien.Integumen'}" class="n1">Integumen</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Integumen/{{noCM}}/{{tanggal}}/{{noRec}}">Integumen</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.Muskuloskeletal' data-ng-click=" (GoTo('dashboardpasien.Muskuloskeletal'))" ng-class="{disabled:listActive['Muskuloskeletal'] ===false,focus:currentState=== 'dashboardpasien.Muskuloskeletal'}" class="n1">Aktivitas anak</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Muskuloskeletal/{{noCM}}/{{tanggal}}/{{noRec}}">Muskuloskeletal</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.Genatalia' data-ng-click=" (GoTo('dashboardpasien.Genatalia'))" ng-class="{disabled:listActive['Genatalia'] ===false,focus:currentState=== 'dashboardpasien.Genatalia'}" class="n1">Seksualitas/Reproduksi</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Genatalia/{{noCM}}/{{tanggal}}/{{noRec}}">Genitalia</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.PersepsiKognisi' data-ng-click=" (GoTo('dashboardpasien.PersepsiKognisi'))" ng-class="{disabled:listActive['PersepsiKognisi'] ===false,focus:currentState=== 'dashboardpasien.PersepsiKognisi'}" class="n1">Persepsi/Kognisi</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Genatalia/{{noCM}}/{{tanggal}}/{{noRec}}">Genitalia</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.TidurIstirahat' data-ng-click=" (GoTo('dashboardpasien.TidurIstirahat'))" ng-class="{disabled:listActive['Genatalia'] ===false,focus:currentState=== 'dashboardpasien.TidurIstirahat'}" class="n1">Tidur/Istirahat</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Genatalia/{{noCM}}/{{tanggal}}/{{noRec}}">Genitalia</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.KonsepDiri' data-ng-click=" (GoTo('dashboardpasien.KonsepDiri'))" ng-class="{disabled:listActive['KonsepDiri'] ===false,focus:currentState=== 'dashboardpasien.KonsepDiri'}" class="n1">Konsep Diri</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Genatalia/{{noCM}}/{{tanggal}}/{{noRec}}">Genitalia</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.PeranHubungan' data-ng-click=" (GoTo('dashboardpasien.PeranHubungan'))" ng-class="{disabled:listActive['Genatalia'] ===false,focus:currentState=== 'dashboardpasien.PeranHubungan'}" class="n1">Peran/Hubungan</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Genatalia/{{noCM}}/{{tanggal}}/{{noRec}}">Genitalia</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.Koping' data-ng-click=" (GoTo('dashboardpasien.Koping'))" ng-class="{disabled:listActive['Koping'] ===false,focus:currentState=== 'dashboardpasien.Koping'}" class="n1">Koping</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Genatalia/{{noCM}}/{{tanggal}}/{{noRec}}">Genitalia</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.NilaiNilai' data-ng-click=" (GoTo('dashboardpasien.NilaiNilai'))" ng-class="{disabled:listActive['NilaiNilai'] ===false,focus:currentState=== 'dashboardpasien.NilaiNilai'}" class="n1">Nilai-nilai</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Genatalia/{{noCM}}/{{tanggal}}/{{noRec}}">Genitalia</a>-->
        </div>
        <div class="grid_2">
            <a current='dashboardpasien.PersepsiPasien' data-ng-click=" (GoTo('dashboardpasien.PersepsiPasien'))" ng-class="{disabled:listActive['PersepsiPasien'] ===false,focus:currentState=== 'dashboardpasien.PersepsiPasien'}" class="n1">Persepsi Pasien</a>
            <!--<a class="n1" href="#/Dashboard/Pasien/Pemeriksaan/Genatalia/{{noCM}}/{{tanggal}}/{{noRec}}">Genitalia</a>-->
        </div>

        <div class="grid_2">
            <a ng-click="nextPemeriksaan()" class="n1">Selanjutnya</a>
        </div>

    </div>
</div>