<div ng-controller="PeranHubunganCtrl">
    <div ng-show="dataVOloaded">

        <!-- panel utama -->


        <c-normal-tidak-normal is-show-form="isShowForm" selanjutnya="selanjutnya">
        </c-normal-tidak-normal>

        <div ng-show="isShowForm">

            <c-panel item="item" header="'Peran/Hubungan'" disabled>
                <div class="panel-body">
                    <div class="grid_12">
                        <div style="background-color: #10C4B2; height: 25px; margin-top: 5px; text-align: left; border: 1px solid; border-color: #10C4B2;" class="grid_12">
                            <span style="font-size: 18px; color: white; padding: 5px;">Apakah ada masalah dalam keluarga ?</span>
                        </div>
                        <div class="clear"></div>
                        <div class="grid_12" style="border: 1px solid; border-color: #10C4B2">
                            <div style="margin-left: 15px;" class="grid_2" ng-repeat="status in listStatusStatusYaTidak">
                                <input type="radio" name="{{'masalahDalamKeluarga' + status.name}}" id="{{'masalahDalamKeluarga' + status.name}}" class="k-radio" ng-model="item.masalahDalamKeluarga" ng-value="status">
                                <label class="k-radio-label" for="{{'masalahDalamKeluarga' + status.name}}">{{status.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="grid_12" style="margin-bottom: 100px;">
                        <div style="background-color: #10C4B2; height: 25px; margin-top: 5px; text-align: left; border: 1px solid; border-color: #10C4B2;" class="grid_12">
                            <span style="font-size: 18px; color: white; padding: 5px;">Apakah ada pengaruh penyakit terhadap keluarga ?</span>
                        </div>
                        <div class="clear"></div>
                        <div class="grid_12" style="border: 1px solid; border-color: #10C4B2">
                            <div style="margin-left: 15px;" class="grid_2" ng-repeat="status in listStatusStatusYaTidak">
                                <input type="radio" name="{{'penyakitTerhadapKelduarga' + status.name}}" id="{{'penyakitTerhadapKeluarga' + status.name}}" class="k-radio" ng-model="item.penyakitTerhadapKeluarga" ng-value="status">
                                <label class="k-radio-label" for="{{'penyakitTerhadapKeluarga' + status.name}}">{{status.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>

            <div ng-include=' "../app/module/Shared/TemplateButtonSimpan" '></div>

        </div>

    </div>
</div>