<div ng-controller="BukuCtrl">

	<div ng-show="dataVOloaded">
		<c-panel item="item" header="'Bibliography (Buku)'"disabled>
		<div class="grid_6">
		<div class="panel panel-default container_12">
	<!--		<div class="panel-heading" c-translate>Periode</div> -->
	<!--		<div class="panel-body"> -->
	
            
			
					
	        <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="No" /></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.nomor" />
			</div>
			
			</div>
			 <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Judul Buku"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.judulBuku" />
			</div>
			</div>
			 <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Kode Eksemplar"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.kodeEksemplar" />
			</div>
			
			</div>
			 <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Nama Pengarang"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.namaPengarang" />
			</div>
			</div>
			
			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Tipe Koleksi"></label>
			</div>
			<div class="grid_8">
				<input style="width: 100%;" kendo-combo-box k-ng-model="item.tipeKoleksi" k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="ListTipeKoleksi" />
			</div>
			</div>
			 
			
			
			
			
			
			
			
				
		   </div>
		   </div>
<!--		   </div>  -->
           <div class="grid_6">	
		   
		   <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Edisi"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.edisi" />
			</div>
			</div>
		    <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label><b>ISSN</b></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.issn" />
			</div>
			</div>
			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Tahun Terbit"></label>
			</div>
			<div class="grid_2">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.tahunTerbit" />
			</div>
			
		   
			<div class="grid_3" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Jumlah Halaman"></label>
			</div>
			<div class="grid_3">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.jumlahHalaman" />
			</div>
			</div>
			
			
			

		</div>
		<div class="panel-body">
				<div class="grid_9" >
							
							
							
							<div class="grid_3" style="margin-top: 10px">
								<div class="grid_12" style="margin-left:5px">
									
								</div>
								<div class="grid_12" style="margin-top:33px">
										<label c-label item="item" c-label-text="Judul Buku/Nama Pengarang"></label>
								</div>
							</div>
							
							<div class="grid_3" style="margin-top: 10px">
								
								<div class="grid_12" style="margin: 22px 0 0 -26px;">
										<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.JudulBuku" />
								</div>
							</div>
							<div class="grid_2"  style="margin: 38px 0 0 -25px;">
								<button class="c-button"  ng-click="cari()">
								
                            	Cari</button>
							</div>
						</div>
						</div>
		
	
		<div class="grid_12">
				<kendo-grid  k-data-source="sourceOrder" k-pageable="true" k-selectable="'row'" k-columns="columnLaporanUjiHasil"  style="font-size: small;">
            	</kendo-grid>
					
			</div>
		
		
		
		
		
		
		
		
		</c-panel>
			<div class="grid_12">
							<div class="grid_8" style="float:left">
							
							<div class="grid_2" style="margin-top: 25px">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate click="Cancel">
                					<span class="title">Batal</span></button>
							</div>
							<div class="grid_2 " style="margin-top: 25px ">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Simpan</span>
									</button>
							</div>
							</div>
						</div>
		</div>
	</div>
</div>

