<div ng-controller="DownloadFormulirPenelitianCtrl">

	<div ng-show="dataVOloaded">
		<c-panel item="item" header="'Download Formulir-Formulir Penelitian'"disabled>
		<div class="grid_6">
		<div class="panel panel-default container_12">
	<!--		<div class="panel-heading" c-translate>Periode</div> -->
	<!--		<div class="panel-body"> -->
	
           
					
	        <div class="grid_12">
			<div class="grid_5" style="margin: 6px 0 0 0;">
				<label c-label item="item" c-label-text="Formulir Registrasi Pengajuan Penelitian"></label>
			</div>
			
			
			</div>
			 <div class="grid_12">
			<div class="grid_5 " style="margin-top: 0">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Download </span>
									</button>
							</div>
			</div>
			 <div class="grid_12">
			<div class="grid_5" style="margin: 6px 0 0 0;">
				<label c-label item="item" c-label-text="Formulir Permohonan Kelayakan Etik"></label>
			</div>
			
			
			</div>
			 <div class="grid_12">
			<div class="grid_5 " style="margin-top: 0">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Download </span>
									</button>
							</div>
			</div>
			 <div class="grid_12">
			<div class="grid_6" style="margin: 6px 0 0 0;">
				<label c-label item="item" c-label-text="Surat Pernyataan/Informed Consent Penelitian"></label>
			</div>
			
			
			</div>
			 <div class="grid_12">
			<div class="grid_5 " style="margin-top: 0">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Download </span>
									</button>
							</div>
			</div>
			
			
			
			<div class="grid_12">
			<div class="grid_6" style="margin: 6px 0 0 0;">
				<label c-label item="item" c-label-text="Surat Lolos Kaji Etik Penelitian"></label>
			</div>
			
			
			</div>
			 <div class="grid_12">
			<div class="grid_5 " style="margin-top: 0">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Download </span>
									</button>
							</div>
			</div>
			
			
			
			<div class="grid_12">
			<div class="grid_6" style="margin: 6px 0 0 0;">
				<label c-label item="item" c-label-text="Template Proposal Penelitian"></label>
			</div>
			
			
			</div>
			 <div class="grid_12">
			<div class="grid_5 " style="margin-top: 0">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Download </span>
									</button>
							</div>
			</div>
			
			
			
			<div class="grid_12">
			<div class="grid_6" style="margin: 6px 0 0 0;">
				<label><b>Pedoman HTA</b></label>
			</div>
			
			
			</div>
			 <div class="grid_12">
			<div class="grid_5 " style="margin-top: 0">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Download </span>
									</button>
							</div>
			</div>
			
			
			<div class="grid_12">
			<div class="grid_6" style="margin: 6px 0 0 0;">
				<label><b>Pengajuan Review HTA</b></label>
			</div>
			
			
			</div>
			 <div class="grid_12">
			<div class="grid_5 " style="margin-top: 0">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Download </span>
									</button>
							</div>
			</div>
			
			
				
			
			
			
			
			
			
			
			
			
			
			
			
			
				
		   </div>
		   </div>
<!--		   </div>  -->
           <div class="grid_6">	
		   
		  
		  
			
			
			

		</div>
	
		
	
	
		
		<div class="grid_12">
							<div class="grid_8" style="float:left">
							
							
							
							
							</div>
						</div>
		
		
		
		
		
		
		</c-panel>
			
		</div>
	</div>
</div>

