<div ng-controller="InformasiKomkordikCtrl">

	<div ng-show="dataVOloaded">

		<c-panel item="item" header="'Informasi Tentang Komkordik'"disabled>
			
				
			<div class="grid_12">
			
							
						     
							<div class="grid_6">
							<c-panel item="item" header="'Sejarah Pembentukan Komkordik'" disabled>
							     
								 
								
									</c-panel>	
							</div>
				
							
							 
							<div class="grid_6">
							<c-panel item="item" header="'Hubungi Kami'" disabled>
							  &emsp;&emsp;&emsp;&emsp;No telpon	: 021- 5668284, ext 4409, 4412 </br>
							  &emsp;&emsp;&emsp;&emsp;Fax		: 021- 5673832</br>
							  &emsp;&emsp;&emsp;&emsp;Email		: diklit_rsabhk@yahoo.com</br>
                              &emsp;&emsp;&emsp;&emsp;Kontak person	: dr Diar Wahyu Indriarti,MARS
 
							
							</c-panel>	
							</div>
						
							
							
						
					</div>
					
					<div class="grid_12">
					
					
					<div class="grid_6">
							<c-panel item="item" header="'Ruang Lingkup Komkordik'" disabled>
							     
								 
								
									</c-panel>	
							</div>
				
							
							 
							<div class="grid_6">
							<c-panel item="item" header="'Tata Cara Pendaftaran Peserta Didik'" disabled>
							  <div class="grid_2 " style="margin-top: 25px ">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Cetak</span>
									</button>
							</div> 
							
							</c-panel>	
							</div>
			
							
							
							
						
					</div>
					
					
					<div class="grid_12">
					
					
					<div class="grid_6">
							<c-panel item="item" header="'Jadwal Pendidikan'" disabled>
							     <div class="grid_2 " style="margin-top: 25px ">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Cetak</span>
									</button>
							</div>
								 
								
									</c-panel>	
							</div>
				
							
							 
							<div class="grid_6">
							<c-panel item="item" header="'Tata Tertib Peserta Didik'" disabled>
							   <div class="grid_2 " style="margin-top: 25px ">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Cetak</span>
									</button>
							</div>
							
							</c-panel>	
							</div>
			
							<div class="grid_12">
					
					
					<div class="grid_6">
							<c-panel item="item" header="'Tata Cara Rekrutmen Dosen/Pengajar'" disabled>
							     
								 
								
									</c-panel>	
							</div>
				
							
							 
							<div class="grid_6">
							<c-panel item="item" header="'Daftar Dosen/Pengajar'" disabled>
							   
							
							</c-panel>	
							</div>
			
							
							
							
						
					</div>
							
							
						
					</div>
					
					<div class="grid_12">
			    
				
				<div class="grid_2">
							
							</div>
				
							
							 
							
							
							
							
						
					</div>
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
				</c-panel>	
          			
			
				  
				  
				  
				  
				  
	
					
			
			
			
	
       
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			 
			
			
			
			
			
          
           

            <!-- grid table -->
			
            <div class="clear"></div>
			
           
			
			
			
		</c-panel>

	

</div>

</div>

