<div ng-controller="InformasiDaftarGajiPnsCtrl">
    <div ng-show="dataVOloaded">
        <c-panel item="item" header="'Informasi Daftar Gaji PNS'" disabled>
        	<div class="grid_6">
                <kendo-grid options="mainGridOptions" k-data-source="dataSource" k-ng-model="current" id="grid" ng-click="klik(current)"></kendo-grid>
            </div>
            <div class="grid_6">
                <div class="panel panel-default container_12">
                    <!--		<div class="panel-heading" c-translate>Periode</div> -->
                    <!--		<div class="panel-body"> -->
                    <div class="grid_12">
                        <div class="grid_4" style="margin: 6px 0 0 0;">
                            <label c-label item="item" c-label-text="Periode"></label>
                        </div>
                        <div class="grid_6">
                            <input c-text-box type="input" class="k-textbox" ng-model="item.Periode" disabled="">
                        </div>
                    </div>
                    <div class="grid_12">
                        <div class="grid_4" style="margin: 6px 0 0 0;">
                            <label c-label item="item" c-label-text="No Gaji"></label>
                        </div>
                        <div class="grid_6">
                            <input c-text-box type="input" class="k-textbox" ng-model="item.noGaji" disabled="">
                        </div>
                    </div>
                    <div class="grid_12">
                        <div class="grid_4" style="margin: 6px 0 0 0;">
                            <label c-label item="item" c-label-text="Jenis"></label>
                        </div>
                        <div class="grid_6">
                            <input c-text-box type="input" class="k-textbox" ng-model="item.jenis" disabled="" />
                        </div>
                    </div>
                    <div class="grid_12">
                        <div class="grid_4" style="margin: 6px 0 0 0;">
                            <label c-label item="item" c-label-text="keterangan"></label>
                        </div>
                        <div class="grid_6">
                            <input c-text-box type="input" class="k-textbox" ng-model="item.keterangan" disabled="" />
                        </div>
                    </div>
                    <div class="grid_12">
	                    <div class="grid_4" style="margin: 6px 0 0 0;">
	                        <label c-label item="item" c-label-text="Pilihan" style="margin: 0 0 10px"></label>
                            <!-- <div class="grid_12">
                                <input kendo-combo-box k-ng-model="item.Pilihan" k-data-source="listPilihan" k-data-value-field="'id'" k-data-text-field="'namaGolongan'">
                            </div>
                            <div class="clear"></div>
                            <br>
                            <div class="clear"></div> -->
	                        <div class="grid_12" style="margin: 0 0 10px 0;" ng-repeat="data in listPilihan">
	                            <input type="checkbox" class="k-checkbox" name="{{data.namaGolongan}}" id="{{data.namaGolongan}}" value="{{data.id}}" ng-click="cekArrPilihan(data)">
	                            <label class="k-checkbox-label" for="{{data.namaGolongan}}">{{data.namaGolongan}}</label>
	                            
	                        </div>
	                    </div>
	                    
	                </div>
                </div>
            </div>
            <!--		   </div>  -->
            
            <!-- <div class="panel-body">
                <div class="grid_9">
                    <div class="grid_3" style="margin-top: 10px">
                        <div class="grid_12" style="margin-left:5px">
                        </div>
                        <div class="grid_12" style="margin-top:33px">
                            <label c-label item="item" c-label-text="Pencarian"></label>
                        </div>
                    </div>
                    <div class="grid_3" style="margin-top: 10px">
                        <div class="grid_12" style="margin: 22px 0 0 -26px;">
                            <input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.nomorContoh" />
                        </div>
                    </div>
                    <div class="grid_2" style="margin: 38px 0 0 -25px;">
                        <button class="c-button" ng-click="cari()">
                            CARI</button>
                    </div>
                </div>
            </div> -->
            

        </c-panel>
        <div class="grid_6"></div>
        <div class="grid_6">
            	<div class="grid_4"></div>
            	<div class="grid_3">
            		<button class="c-button" ng-click="Detail()">Detail</button>
            	</div>
        </div>
        <!-- <div class="grid_12">
            <div class="grid_8" style="float:left">
                <div class="grid_2" style="margin-top: 25px">
                    <button class="c-button" ng-show="!isLoading" item="item" is-validate click="Cancel">
                        <span class="title">Batal</span></button>
                </div>
                <div class="grid_2 " style="margin-top: 25px ">
                    <button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
                        <span class="title">Cetak Slip</span>
                    </button>
                </div>
            </div>
        </div> -->
    </div>
</div>
</div>
