<div ng-controller="JadwalKredensialCtrl">

	<div ng-show="dataVOloaded">
		<c-panel item="item" header="'Jadwal Kredensial atau Re-Kredensial'"disabled>
		<div class="grid_6">
		<div class="panel panel-default container_12">
	<!--		<div class="panel-heading" c-translate>Periode</div> -->
	<!--		<div class="panel-body"> -->
	
           
					
	        <div class="grid_12">
			<div class="grid_5" style="margin: 6px 0 0 0;">
				<label c-label item="item" c-label-text="Nama Pegawai"></label>
			</div>
			<div class="grid_7">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.nama" />
			</div>
			
			</div>
			 <div class="grid_12">
			<div class="grid_5" style="margin: 6px 0 0 0;"> 
				<label c-label item="item" c-label-text="Ruang Bekerja"></label>
			</div>
			<div class="grid_7">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.email" />
			</div>
			</div>
			<div class="grid_12">
			<div class="grid_5" style="margin: 6px 0 0 0;">
				<label><b>PK</b></label>
			</div>
			<div class="grid_7">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.nama" />
			</div>
			
			</div>
			
			
			
			
			
			 
			
			
			
			
			
			
			
				
		   </div>
		   </div>
<!--		   </div>  -->
          <div class="grid_6">
	
		 <div class="grid_12">
			<div class="grid_5" style="margin: 6px 0 0 0;"> 
				<label><b>Tanggal Kredensial/Re-Kredensial</b></label>
			</div>
			<div class="grid_7" style="margin: 0 0 0 0;">
                        <input ng-disabled="isDisable" kendo-date-picker k-ng-model="item.tanggalLahir" k-max="now" k-format="'dd-MM-yyyy'" style="width: 100%" />
                    </div>
			</div>
			<div class="grid_12">
			<div class="grid_5" style="margin: 6px 0 0 0;">
				<label c-label item="item" c-label-text="Mitra Bestari"></label>
			</div>
			  <div class="grid_7">
                        <input ng-disabled="isDisable" style="width: 100%;" kendo-combo-box k-ng-model="item.jenisKelamin" k-data-text-field="'jenisKelamin'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="ListJenisKelamin" />
                    </div>
			
			</div>
	
	
		
		
		
		
		
		
		</div>
		
		</c-panel>
			<div class="grid_12">
							<div class="grid_8" style="float:left">
							
							
							<div class="grid_2 " style="margin-top: 25px ">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Simpan</span>
									</button>
							</div>
							
							
							</div>
						</div>
		</div>
	</div>
</div>

