<div ng-show="dataVOloaded">
    <c-panel item="item" header="'Logbook Kinerja Dokter'" disabled>
        <div class="grid_12">
            <div class="grid_10">
                <div class="grid_2">
                    <label><b>Periode</b></label>
                    <input kendo-date-picker k-max="now" k-ng-model="item.periode" style="width: 100%"
                        k-options="yearSelected" />
                </div>
                <div class="grid_3">
                    <label><b>Pegawai</b></label>
                    <input kendo-combo-box k-ng-model="item.pegawai" k-data-value-field="'id'"
                        k-data-text-field="'namaLengkap'" k-filter="'contains'" k-auto-bind="true"
                        k-data-source="daftarListPegawai" style="width:100%" />
                </div>
                <div class="grid_6">
                    <div class="grid_3">
                        <label c-label c-label-text=""></label>
                        <button class="c-button" ng-click="cari()">Cari</button>
                    </div>
                </div>
            </div>

        </div>
    </c-panel>
    <div class="panel panel-default" ng-show="!isLoading">
        <div class="panel-heading-white">
            <span class="title" c-translate>Remunerasi</span>
            <div class="grid_2 pull-right" style="text-align:right;font-style:italic">
                <label c-label>Total Skor:</label>
                <input c-text-box type="input" placeholder="0,00" filter="'varchar'" class="k-textbox label-total"
                    ng-model="totalCapaian" style="text-align:right" disabled />
            </div>
        </div>
        <div class="panel-body">
            <div class="clearfix"></div>
            <div class="grid_12" style="margin: 10px 0 50px;" ng-show="showGridKinerja">
                <div kendo-grid id="gridLogKinerja" k-data-source="dataSource" k-options="mainGridOption"></div>
            </div>
        </div>
    </div>
</div>
<div ng-include='"../app/module/Shared/TemplateLoading"'></div>