<div>
    <c-panel item="item" header="'Master Rincian Kegiatan Pegawai'" disabled>
        <div class="panel-body">
            <div class="grid_12">
                <div class="grid_4">
                    <label c-label item="item" c-label-text="Rincian Kegiatan"></label>
                    <input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="model.kegiatan" />
                </div>
                <div class="grid_1">
                    <label c-label c-label-text=""></label>
                    <em style="margin-top:6px;" ng-click='resetDatasource()' id="iconButton" data-role="button"
                        class="k-button k-button-icon k-primary" role="button" aria-disabled="false" tabindex="0"><span
                            class="k-sprite k-icon k-i-cancel">Refresh</span></em>
                </div>
            </div>
            <div class="grid_12">
                <kendo-grid id="gridUraianTugas" k-data-source="gridUraianTugas" options="dataGridUraiantugas">
                </kendo-grid>
            </div>
        </div>
    </c-panel>
</div>
<div ng-include='"../app/module/Shared/TemplateLoading"'></div>

<script type="text/x-kendo-template" id="kendo-popup-editor">
	<div class="panel panel-default container_12"> 
		<div class="grid_12">
			<div class="grid_2">
				<label c-label item="item" c-label-text="rincianKegiatan"></label>
			</div>
			<div class="grid_10">
				<textarea name="uraianTugas" c-text-box class="k-textbox" rows="3" style="width:100%" data-bind="value: rincianKegiatan" data-validasiUraian-msg="Rincian tidak boleh kosong"></textarea>
			</div>
		</div>
		<div class="grid_12">
			<div class="grid_2">
				<label c-label item="item" c-label-text="satuan"></label>
			</div>
			<div class="grid_10">
				<input name="satuan" type="input" c-text-box class="k-textbox" style="width:100%" data-bind="value: satuan" data-validasiSatuan-msg="Satuan tidak boleh kosong"/>
			</div>
		</div>
	</div>
</script>

<div kendo-window="mappingTugas" k-title="'Mapping Rincian Kegiatan - Jabatan'" k-width="550" k-visible="false">
    <div class="grid_12">
        <div class="grid_12">
            <div class="grid_12">
                <label c-label c-label-text="rincianKegiatan" style="padding-bottom:5px"></label>
            </div>
            <div class="grid_12">
                <textarea ng-model="item.rincianKegiatan" class="k-textbox" rows="3" style="width:100%"
                    k-auto-bind="false" disabled></textarea>
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_12">
                <label c-label c-label-text="jenisJabatan" style="padding-top:14px;padding-bottom:5px"></label>
            </div>
            <div class="grid_12">
                <input kendo-combo-box style="width:100%" k-ng-model="item.jenisJabatan" k-data-text-field="'jenisJabatan'"
                    k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJenisJabatan" />
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_12">
                <label c-label c-label-text="jabatan" style="padding-top:14px;padding-bottom:5px"></label>
            </div>
            <div class="grid_12">
                <input kendo-combo-box style="width:100%" k-ng-model="item.jabatan" k-data-text-field="'namaJabatan'"
                    k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listJabatan" />
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_12">
                <label c-label c-label-text="pelaksanaanTugas" style="padding-top:14px"></label>
            </div>
            <div class="grid_12">
                <input kendo-combo-box style="width:100%" k-ng-model="item.pelaksanaanTugas"
                    k-data-text-field="'pelaksanaanTugas'" k-data-value-field="'id'" k-filter="'contains'"
                    k-auto-bind="false" k-data-source="listPelaksana" />
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_12">
                <div class="grid_3">
                    <button class="k-button label-button success" ng-click="lihatDaftarMapping()">Lihat Daftar</button>
                </div>
                <div class="grid_3" ng-hide="true">
                    <button id="btn" class="k-button label-button success" ng-click="click()">&nbsp</button>
                </div>
                <div class="grid_6 pull-right">
                    <button class="k-button label-button error" ng-click="closeMappingTugas()">Batal</button>
                </div>
                <div class="grid_6 pull-right">
                    <button class="k-button label-button success" ng-click="simpanMappingTugas(item)">Simpan</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function loadFunction() {
            alert("Image is loaded");
        }
    </script>
</div>

<style type="text/css">
    .label-button {
        float: left;
        width: 120px;
        font-size: 12pt;
        height: 40px;
    }
</style>