<div ng-controller="PremiKesehatanCtrl">

	<div ng-show="dataVOloaded">
		<c-panel item="item" header="'Perhitungan Premi Asuransi'"disabled>
		<div class="grid_6">
		<div class="panel panel-default container_12">
	<!--		<div class="panel-heading" c-translate>Periode</div> -->
	<!--		<div class="panel-body"> -->
	
           
					
	        <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="No Pembayaran"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.nomorGaji" /disabled>
			</div>
			
			</div>
		
			 <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Tanggal Proses"></label>
			</div>
			<div class="grid_8">
				<input kendo-date-picker k-ng-model="item.tanggalProses" k-max ="now" k-format="'dd-MM-yyyy'" style="width: 100%" k-value="now" /disabled>
			</div>
			
			</div>
			
			 <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Nama Asuransi"></label>
			</div>
			<div class="grid_8">
				 <input style="width: 100%;" kendo-combo-box k-ng-model="item.namaAsuransi" k-data-text-field="'namaRekanan'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listrekanan"  />
			</div>
			
			</div>
			
			 	<div class="grid_12">
                    	<div class="grid_4" style="margin: 10px 0 0 0;">
                    		<label c-label item="item">Jenis Pembayaran</label>
                    	</div>
                    	<div class="grid_8">
                    		<input style="width: 100%" kendo-combo-box k-ng-model="item.jenisGaji" k-data-text-field="'name'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listgaji" k-on-change="viewgrid()">
                    	</div>
                    </div>
			
			
			
				
			
			
			
			
			
			 
			
			
			
			
			
			
			
				
		   </div>
		   </div>
<!--		   </div>  -->
           <div class="grid_6">	
		   
		    <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Periode"></label>
			</div>
			<div class="grid_8">
				 <input kendo-date-picker k-options="monthSelectorOptions" k-ng-model="item.Periode" k-format="'MMMM yyyy'" k-value="now" ng-selected="periode()" k-on-change="aqua()"  style="width: 100%;" k-on-change="viewgrid()">
			</div>
			
			
			</div>
		   
		  
		    <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label><b>UMR Thn</b></label>
			</div>
			<div class="grid_3">
	            <input kendo-date-picker k-options="monthSelectorOptions" k-ng-model="item.jumlahumr" k-value="now"  k-format="'yyyy'"   style="width: 100%;" disabled>
	        </div>
			
			<div class="grid_1" style="margin: 9px 0 0 0;">
				<label>Rp</label>
			</div>
			<div class="grid_4">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox"  ng-model="item.jumlah" />
			</div>
			</div>
			
			 <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Keterangan"></label>
			</div>
			<div class="grid_8" style="margin: 0 0 0 0;">
					<textarea ng-model="item.keterangan" style="width: 99%; height: 80px;"></textarea>
			</div>
			</div>
		 
			
			
			

		</div>
	
		
	
		<div class="grid_12">
				<kendo-grid  k-data-source="sourceOrder" k-pageable="true" k-selectable="'row'" k-columns="columnLaporanUjiHasil"  style="font-size: small;">
            	</kendo-grid>
					
			</div>
		
		
		
		
		
		
		
		
		</c-panel>
			<div class="grid_12" style="float:left">
							
							
							<div class="grid_2" style="margin-top: 25px">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate click="Cancel">
                					<span class="title">Batal</span></button>
							</div>
							<div class="grid_2 " style="margin-top: 25px ">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Simpan</span>
									</button>
							</div>
							
								
							
							
							<div class="grid_2 " style="margin-top: 25px ">
								<button class="c-button" ng-show="!isLoading" item="item" is-validate ng-click="Save()">
									<span class="title">Cetak</span>
									</button>
							</div>
							
						</div>
		</div>
	</div>
</div>

