<div ng-controller="RangeSdmCtrl">
<div ng-show="dataVOloaded">
<c-panel item="item" header="'Range'" disabled>

<!-- jenisRange -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="jenisRange"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisRange" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listjenisrange" />
</div>
</div>

<!-- jenisRangeId -->


<!-- kdRange -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kdRange"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdRange" />
</div>
</div>

<!-- namaRange -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="namaRange"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaRange" />
</div>
</div>

<!-- qRange -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="qRange"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qRange" />
</div>
</div>

<!-- rangeMax -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="rangeMax"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.rangeMax" />
</div>
</div>

<!-- rangeMin -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="rangeMin"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.rangeMin" />
</div>
</div>

<!-- reportDisplay -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="reportDisplay"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
</div>
</div>

<!-- kodeExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kodeExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
</div>
</div>

<!-- namaExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="namaExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
</div>
</div>

<!-- Range -->
<div class="grid_12">
<div class="grid_12 headerBox">
<p>Range</p>
</div>
<div class="clear"></div>

<!-- grid table -->
<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptions"  k-data-source="dataSource" k-ng-model="current" ng-click="klik(current)"></kendo-grid>
				</div>
<div class="clear"></div>
</div>
<div class="clear"></div>



</c-panel>

<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>
</div>
</div>
