<div ng-controller="AlatKesehatanCtrl">
	<div ng-show="dataVOloaded">
		<c-panel item="item" header="'Alat Kesehatan'" disabled>
<div class="grid_12">

			<!-- kdAlkes -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kdAlkes"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdAlkes" />
				</div>
			</div>

			<!-- departemen -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="departemen"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.departemen" k-data-text-field="'namaDepartemen'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listdepartemen" />
				</div>
			</div>
 </div>
 <div class="grid_12">
			<!-- departemenId -->
		

			<!-- jenisAlkes -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="jenisAlkes"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisAlkes" k-data-text-field="'jenisAlkes'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listjenisalkes" />
				</div>
			</div>
	
			<!-- jenisAlkesId -->
			

			<!-- namaAlkes -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaAlkes"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaAlkes" />
				</div>
			</div>
	</div> 
			<!-- nomorAlamatAlkes -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="nomorAlamatAlkes"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.nomorAlamatAlkes" />
				</div>
			</div>

			<!-- reportDisplay -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="reportDisplay"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
				</div>
			</div>

			<!-- kodeExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kodeExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
				</div>
			</div>

			<!-- namaExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
				</div>
			</div>

			<!-- AlatKesehatan -->
			<div class="grid_12">
				<div class="grid_12 headerBox">
					<p>AlatKesehatan</p>
				</div>
				<div class="clear"></div>

				<!-- grid table -->
				<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptions"  k-data-source="dataSource" k-ng-model="current" ng-click="klik(current)"></kendo-grid>

				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>

		<div class="grid_12">
			<div class="grid_8"></div>
			<div class="grid_2" ng-show="showEdit">
				<button class="c-button" ng-click="edit()">Edit</button>
			</div>
			<div class="grid_2" ng-hide="showEdit">
				<button class="c-button" ng-click="tambah()">Tambah</button>
			</div>
			<div class="grid_2">
				<button class="c-button" ng-click="batal()">Batal</button>
			</div>
		</div>

	</c-panel>

	
</div>
</div>
