<div ng-controller="HargaNettoProdukByKelasDCtrl">
<div ng-show="dataVOloaded">
<c-panel item="item" header="'Harga Netto Produk By Kelas D'" disabled>

<!-- factorRate -->
<div class="grid_12">
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="factorRate"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.factorRate" />
</div>
</div>

<!-- hargaDiscount -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="hargaDiscount"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.hargaDiscount" />
</div>
</div>
</div>

<!-- hargaNetto1 -->
<div class="grid_12">
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="hargaNetto1"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.hargaNetto1" />
</div>
</div>

<!-- hargaNetto2 -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="hargaNetto2"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.hargaNetto2" />
</div>
</div>
</div>

<!-- hargaSatuan -->
<div class="grid_12">
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="hargaSatuan"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.hargaSatuan" />
</div>
</div>

<!-- asalProduk -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="asalProduk"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.asalProduk" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listasalproduk" />
</div>
</div>
</div>

<!-- asalProdukId -->


<!-- jenisTarif -->
<div class="grid_12">
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="jenisTarif"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisTarif" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listjenistarif" />
</div>
</div>

<!-- jenisTarifId -->


<!-- kelas -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kelas"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.kelas" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listkelas" />
</div>
</div>
</div>

<!-- kelasId -->


<!-- komponenHarga -->
<div class="grid_12">
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="komponenHarga"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.komponenHarga" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listkomponenharga" />
</div>
</div>

<!-- komponenHargaId -->


<!-- mataUang -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="mataUang"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.mataUang" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listmatauang" />
</div>
</div>
</div>

<!-- mataUangId -->


<!-- produk -->
<div class="grid_12">
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="produk"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.produk" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listproduk" />
</div>
</div>

<!-- produkId -->


<!-- persenDiscount -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="persenDiscount"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.persenDiscount" />
</div>
</div>
</div>

<!-- qtyCurrentStok -->
<div class="grid_12">
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="qtyCurrentStok"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qtyCurrentStok" />
</div>
</div>

<!-- tglBerlakuAkhir -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="tglBerlakuAkhir"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%" k-ng-model="item.tglBerlakuAkhir"  kendo-date-picker k-max="now" placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
</div>
</div>
</div>

<!-- tglBerlakuAwal -->
<div class="grid_12">
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="tglBerlakuAwal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%" k-ng-model="item.tglBerlakuAwal"  kendo-date-picker k-max="now" placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
</div>
</div>

<!-- tglKadaluarsaLast -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="tglKadaluarsaLast"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%" k-ng-model="item.tglKadaluarsaLast"  kendo-date-picker k-max="now" placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
</div>
</div>
</div>

<!-- reportDisplay -->
<div class="grid_12">
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="reportDisplay"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
</div>
</div>

<!-- kodeExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kodeExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
</div>
</div>
</div>

<!-- namaExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="namaExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
</div>
</div>

<!-- HargaNettoProdukByKelasD -->
<div class="grid_12">
<div class="grid_12 headerBox">
<p>HargaNettoProdukByKelasD</p>
</div>
<div class="clear"></div>

<!-- grid table -->
<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptions"  k-data-source="dataSource" k-ng-model="current" ng-click="klik(current)"></kendo-grid>
				</div>
<div class="clear"></div>
</div>


<div class="clear"></div>
<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>


</c-panel>


</div>
</div>
