<div ng-controller="KelompokAkreditasiCtrl">
 <div class="panel panel-default container_12">
    <div class="panel-heading"  c-translate>Kelompok Akreditasi</div>
    <div class="panel-body">
      
		  
            <div ng-cloak>
			
                <md-content>
				  
                    <md-tabs md-dynamic-height md-border-bottom>
					         
					          <md-tab label="Tahapan Akreditasi">
                            <md-content class="md-padding">
                                <!-- alamatEmail -->
			
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kdTahapanAkreditasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdTahapanAkreditasi" />
				</div>
			</div>

			<!-- qTahapanAkreditasi -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="qTahapanAkreditasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qTahapanAkreditasi" />
				</div>
			</div>

			<!-- qtyUnitDiAkreditasi -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="qtyUnitDiAkreditasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qtyUnitDiAkreditasi" />
				</div>
			</div>

			<!-- tahapanAkreditasi -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="tahapanAkreditasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.tahapanAkreditasi" />
				</div>
			</div>

			<!-- reportDisplay -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="reportDisplay"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
				</div>
			</div>

			<!-- kodeExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kodeExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
				</div>
			</div>

			<!-- namaExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
				</div>
			</div>

			<!-- TahapanAkreditasi -->
			<div class="grid_12">
				<div class="grid_12 headerBox">
					<p>TahapanAkreditasi</p>
				</div>
				<div class="clear"></div>

				<!-- grid table -->
				<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptions"  k-data-source="dataSource" k-ng-model="current" ng-click="klik(current)"></kendo-grid>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>

			<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>
			
						</md-content>
					</md-tab>
					          <md-tab label="Status Akreditasi">
                            <md-content class="md-padding">
                            <div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kdStatusAkreditasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdStatusAkreditasi" />
				</div>
			</div>

			<!-- qStatusAkreditasi -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="qStatusAkreditasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qStatusAkreditasi" />
				</div>
			</div>

			<!-- statusAkreditasi -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="statusAkreditasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.statusAkreditasi" />
				</div>
			</div>

			<!-- reportDisplay -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="reportDisplay"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
				</div>
			</div>

			<!-- kodeExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kodeExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
				</div>
			</div>

			<!-- namaExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
				</div>
			</div>

			<!-- StatusAkreditasi -->
			<div class="grid_12">
				<div class="grid_12 headerBox">
					<p>StatusAkreditasi</p>
				</div>
				<div class="clear"></div>

				<!-- grid table -->
				<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptionss"  k-data-source="dataSources" k-ng-model="currents" ng-click="kliks(currents)"></kendo-grid>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdits">
					<button class="c-button" ng-click="edits()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdits">
					<button class="c-button" ng-click="tambahs()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batals()">Batal</button>
				</div>
			</div>
						</md-content>
					</md-tab>
					                    
 		        
                                               
					
					</md-tabs>
				</md-content>
			</div>
		</div>
	</div>
</div>

