<div ng-controller="KumpulanKomponenIndexCtrl">
 <div class="panel panel-default container_12">
    <div class="panel-heading"  c-translate>Kumpulan Komponen Index</div>
    <div class="panel-body">
      
		  
            <div ng-cloak>
			
                <md-content>
				  
                    <md-tabs md-dynamic-height md-border-bottom>
					         
					          <md-tab label="Jenis Komponen Index">
                            <md-content class="md-padding">
                                <!-- alamatEmail -->
			
			<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="jenisKomponenIndex"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.jenisKomponenIndex" />
</div>
</div>

<!-- kdJenisKomponenIndex -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kdJenisKomponenIndex"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdJenisKomponenIndex" />
</div>
</div>

<!-- jenisKomponenIndexHead -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="jenisKomponenIndexHead"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisKomponenIndexHead" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listjenisKomponenIndexHead" />
</div>
</div>

<!-- jenisKomponenIndexHeadId -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="jenisKomponenIndexHeadId"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.jenisKomponenIndexHeadId" />
</div>
</div>

<!-- noUrut -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="noUrut"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.noUrut" />
</div>
</div>

<!-- qJenisKomponenIndex -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="qJenisKomponenIndex"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qJenisKomponenIndex" />
</div>
</div>

<!-- reportDisplay -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="reportDisplay"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
</div>
</div>

<!-- kodeExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kodeExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
</div>
</div>

<!-- namaExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="namaExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
</div>
</div>

<!-- JenisKomponenIndex -->
<div class="grid_12">
<div class="grid_12 headerBox">
<p>JenisKomponenIndex</p>
</div>
<div class="clear"></div>

<!-- grid table -->
<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptions"  k-data-source="dataSource" k-ng-model="current" ng-click="klik(current)"></kendo-grid>
				</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>

						</md-content>
					</md-tab>
					          <md-tab label="Komponen Index">
                            <md-content class="md-padding">
                              <div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="jenisKomponenIndex"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisKomponenIndex" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listjenisKomponenIndex" />
</div>
</div>

<!-- jenisKomponenIndexId -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="jenisKomponenIndexId"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.jenisKomponenIndexId" />
</div>
</div>

<!-- kdKomponenIndex -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kdKomponenIndex"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdKomponenIndex" />
</div>
</div>

<!-- komponenIndex -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="komponenIndex"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.komponenIndex" />
</div>
</div>

<!-- noUrut -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="noUrut"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.noUrut" />
</div>
</div>

<!-- qKomponenIndex -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="qKomponenIndex"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qKomponenIndex" />
</div>
</div>

<!-- reportDisplay -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="reportDisplay"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
</div>
</div>

<!-- kodeExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kodeExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
</div>
</div>

<!-- namaExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="namaExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
</div>
</div>

<!-- KomponenIndex -->
<div class="grid_12">
<div class="grid_12 headerBox">
<p>KomponenIndex</p>
</div>
<div class="clear"></div>

<!-- grid table -->
<div class="grid_12 borderBox">
<div kendo-grid k-data-source="dataKomponenIndex" k-selectable="'row'" k-columns="columnKomponenIndex">
</div>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>
						</md-content>
					</md-tab>
					                   <md-tab label="Komponen Index Detail">
                            <md-content class="md-padding">
                                <!-- kdKamar -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="factorRateIndex"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.factorRateIndex" />
</div>
</div>

<!-- jabatanStruktural -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="jabatanStruktural"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.jabatanStruktural" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listjabatanStruktural" />
</div>
</div>

<!-- jabatanStrukturalId -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="jabatanStrukturalId"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.jabatanStrukturalId" />
</div>
</div>

<!-- komponenIndex -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="komponenIndex"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.komponenIndex" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listkomponenIndex" />
</div>
</div>

<!-- komponenIndexId -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="komponenIndexId"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.komponenIndexId" />
</div>
</div>

<!-- pendidikan -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="pendidikan"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.pendidikan" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listpendidikan" />
</div>
</div>

<!-- pendidikanId -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="pendidikanId"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.pendidikanId" />
</div>
</div>

<!-- namaKomponenIndexDetail -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="namaKomponenIndexDetail"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaKomponenIndexDetail" />
</div>
</div>

<!-- nilaiIndexStandar -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="nilaiIndexStandar"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.nilaiIndexStandar" />
</div>
</div>

<!-- noUrut -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="noUrut"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.noUrut" />
</div>
</div>

<!-- qKomponenIndexDetail -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="qKomponenIndexDetail"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qKomponenIndexDetail" />
</div>
</div>

<!-- reportDisplay -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="reportDisplay"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
</div>
</div>

<!-- kodeExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kodeExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
</div>
</div>

<!-- namaExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="namaExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
</div>
</div>

<!-- KomponenIndexDetail -->
<div class="grid_12">
<div class="grid_12 headerBox">
<p>KomponenIndexDetail</p>
</div>
<div class="clear"></div>

<!-- grid table -->
<div class="grid_12 borderBox">
<div kendo-grid k-data-source="dataKomponenIndexDetail" k-selectable="'row'" k-columns="columnKomponenIndexDetail">
</div>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>
						</md-content>
					</md-tab>
					                   <md-tab label="Komponen Index Detail Range">
                            <md-content class="md-padding">
                                <!-- kdKamar -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="factorRateIndexRange"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.factorRateIndexRange" />
</div>
</div>

<!-- komponenIndexDetail -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="komponenIndexDetail"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.komponenIndexDetail" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listkomponenIndexDetail" />
</div>
</div>

<!-- komponenIndexDetailId -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="komponenIndexDetailId"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.komponenIndexDetailId" />
</div>
</div>

<!-- range -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="range"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input style="width: 100%;" kendo-combo-box k-ng-model="item.range" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listrange" />
</div>
</div>

<!-- rangeId -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="rangeId"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.rangeId" />
</div>
</div>

<!-- nilaiIndexRange -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="nilaiIndexRange"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.nilaiIndexRange" />
</div>
</div>

<!-- persenNilaiIndexRange -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="persenNilaiIndexRange"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.persenNilaiIndexRange" />
</div>
</div>

<!-- reportDisplay -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="reportDisplay"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
</div>
</div>

<!-- kodeExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kodeExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
</div>
</div>

<!-- namaExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="namaExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
</div>
</div>

<!-- KomponenIndexDetailRange -->
<div class="grid_12">
<div class="grid_12 headerBox">
<p>KomponenIndexDetailRange</p>
</div>
<div class="clear"></div>

<!-- grid table -->
<div class="grid_12 borderBox">
<div kendo-grid k-data-source="dataKomponenIndexDetailRange" k-selectable="'row'" k-columns="columnKomponenIndexDetailRange">
</div>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>
						</md-content>
					</md-tab>					        
  					        
                                               
					
					</md-tabs>
				</md-content>
			</div>
		</div>
	</div>
</div>

