<div ng-controller="LevelProdukCtrl">
	<div ng-show="dataVOloaded">
		<c-panel item="item" header="'Level Produk'" disabled>

			<!-- departemen -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="departemen"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.departemen" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listdepartemen" />
				</div>
			</div>

			<!-- departemenId -->
			

			<!-- kelompokProduk -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kelompokProduk"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.kelompokProduk" k-data-text-field="'kelompokProduk'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listkelompokproduk" />
				</div>
			</div>

			<!-- kelompokProdukId -->
			

			<!-- kdLevelProduk -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kdLevelProduk"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdLevelProduk" />
				</div>
			</div>

			<!-- levelProduk -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="levelProduk"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.levelProduk" />
				</div>
			</div>

			<!-- qLevelProduk -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="qLevelProduk"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qLevelProduk" />
				</div>
			</div>

			<!-- reportDisplay -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="reportDisplay"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
				</div>
			</div>

			<!-- kodeExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kodeExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
				</div>
			</div>

			<!-- namaExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
				</div>
			</div>

			<!-- LevelProduk -->
			<div class="grid_12">
				<div class="grid_12 headerBox">
					<p>LevelProduk</p>
				</div>
				<div class="clear"></div>

				<!-- grid table -->
				<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptions"  k-data-source="dataSource" k-ng-model="current" ng-click="klik(current)"></kendo-grid>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>


		</c-panel>
	</div>
</div>
