<div ng-controller="MasterKonstruksiCtrl">
 <div class="panel panel-default container_12">
    <div class="panel-heading"  c-translate>Master Konstruksi</div>
    <div class="panel-body">
      
		  
            <div ng-cloak>
			
                <md-content>
				  
                    <md-tabs md-dynamic-height md-border-bottom>
					         
					          <md-tab label="Jenis Konstruksi">
                            <md-content class="md-padding">
                                <!-- alamatEmail -->
			
			<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="jenisKontruksi"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.jenisKontruksi" />
</div>
</div>

<!-- reportDisplay -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="reportDisplay"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
</div>
</div>

<!-- kodeExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kodeExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
</div>
</div>

<!-- namaExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="namaExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
</div>
</div>

<!-- JenisKontruksi -->
<div class="grid_12">
<div class="grid_12 headerBox">
<p>JenisKontruksi</p>
</div>
<div class="clear"></div>

<!-- grid table -->
<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptions"  k-data-source="dataSource" k-ng-model="current" ng-click="klik(current)"></kendo-grid>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>



</c-panel>

<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>
			
			
						</md-content>
					</md-tab>
					          <md-tab label="Jenis Sertifikat">
                            <md-content class="md-padding">
                             <div class="grid_12">
			<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="jenisSertifikat"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.jenisSertifikat" />
</div>
</div>

<!-- reportDisplay -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="reportDisplay"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
</div>
</div>

<!-- kodeExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kodeExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
</div>
</div>

<!-- namaExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="namaExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
</div>
</div>

<!-- JenisSertifikat -->
<div class="grid_12">
<div class="grid_12 headerBox">
<p>JenisSertifikat</p>
</div>
<div class="clear"></div>

<!-- grid table -->
<div class="grid_12 borderBox">
<kendo-grid options="mainGridOptionsx"  k-data-source="dataSourcex" k-ng-model="currentx" ng-click="klikx(currentx)"></kendo-grid>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>



</c-panel>

<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEditx">
					<button class="c-button" ng-click="editx()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEditx">
					<button class="c-button" ng-click="tambahx()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batalx()">Batal</button>
				</div>
			</div>
						</md-content>
					</md-tab>
					  <md-tab label="Kondisi Produk">
                            <md-content class="md-padding">
				<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="departemen"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.departemen" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listdepartemen" />
				</div>
			</div>

			<!-- departemenId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="departemenId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.departemenId" />
				</div>
			</div>

			<!-- kdLokasi -->
			<div class="grid_12">
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kdLokasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdLokasi" />
				</div>
			</div>

			<!-- lokasiHead -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="lokasiHead"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.lokasiHead" k-data-text-field="'lokasiHead'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listlokasiHead" />
				</div>
			</div>
			</div>
			<!-- lokasiHeadId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="lokasiHeadId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.lokasiHeadId" />
				</div>
			</div>

			<!-- namaLokasi -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaLokasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaLokasi" />
				</div>
			</div>

			<!-- qLokasi -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="qLokasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qLokasi" />
				</div>
			</div>

			<!-- reportDisplay -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="reportDisplay"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
				</div>
			</div>

			<!-- kodeExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kodeExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
				</div>
			</div>

			<!-- namaExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
				</div>
			</div>

			<!-- Lokasi -->
			<div class="grid_12">
				<div class="grid_12 headerBox">
					<p>Lokasi</p>
				</div>
				<div class="clear"></div>

				<!-- grid table -->
				<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptions"  k-data-source="dataSource" k-ng-model="current" ng-click="klik(current)"></kendo-grid>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>

 		        </md-content>
					</md-tab>
					 <md-tab label="Status Surat Ijin">
                            <md-content class="md-padding">  

					<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kdStatusSuratIjin"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdStatusSuratIjin" />
				</div>
			</div>

			<!-- qStatusSuratIjin -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="qStatusSuratIjin"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qStatusSuratIjin" />
				</div>
			</div>

			<!-- statusSuratIjin -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="statusSuratIjin"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.statusSuratIjin" />
				</div>
			</div>

			<!-- reportDisplay -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="reportDisplay"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
				</div>
			</div>

			<!-- kodeExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kodeExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
				</div>
			</div>

			<!-- namaExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
				</div>
			</div>

			<!-- StatusSuratIjin -->
			<div class="grid_12">
				<div class="grid_12 headerBox">
					<p>StatusSuratIjin</p>
				</div>
				<div class="clear"></div>

				<!-- grid table -->
				<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptionsy"  k-data-source="dataSourcey" k-ng-model="currenty" ng-click="kliky(currenty)"></kendo-grid>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>

			<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdity">
					<button class="c-button" ng-click="edity()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdity">
					<button class="c-button" ng-click="tambahy()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="bataly()">Batal</button>
				</div>
			</div>

		
 		        </md-content>
					</md-tab>
                       <md-tab label="Status Akreditasi">
                            <md-content class="md-padding">  

					<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kdStatusAkreditasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdStatusAkreditasi" />
				</div>
			</div>

			<!-- qStatusAkreditasi -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="qStatusAkreditasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qStatusAkreditasi" />
				</div>
			</div>

			<!-- statusAkreditasi -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="statusAkreditasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.statusAkreditasi" />
				</div>
			</div>

			<!-- reportDisplay -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="reportDisplay"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
				</div>
			</div>

			<!-- kodeExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kodeExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
				</div>
			</div>

			<!-- namaExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
				</div>
			</div>

			<!-- StatusAkreditasi -->
			<div class="grid_12">
				<div class="grid_12 headerBox">
					<p>StatusAkreditasi</p>
				</div>
				<div class="clear"></div>

				<!-- grid table -->
				<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptionsn"  k-data-source="dataSourcen" k-ng-model="currentn" ng-click="klikn(currentn)"></kendo-grid>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEditn">
					<button class="c-button" ng-click="editn()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambahn()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="bataln()">Batal</button>
				</div>
			</div>

		
 		        </md-content>
					</md-tab>                         
					
					</md-tabs>
				</md-content>
			</div>
		</div>
	</div>
</div>

