<div ng-controller="ModelPelayananCtrl">
	<div ng-show="dataVOloaded">
		<c-panel item="item" header="'Model Pelayanan'" disabled>

			<!-- kdModelPelayanan -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kdModelPelayanan"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kdModelPelayanan" />
				</div>
			</div>

			<!-- modelPelayanan -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="modelPelayanan"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.modelPelayanan" />
				</div>
			</div>

			<!-- qModelPelayanan -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="qModelPelayanan"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qModelPelayanan" />
				</div>
			</div>

			<!-- reportDisplay -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="reportDisplay"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
				</div>
			</div>

			<!-- kodeExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kodeExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
				</div>
			</div>

			<!-- namaExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
				</div>
			</div>

			<!-- ModelPelayanan -->
			<div class="grid_12">
				<div class="grid_12 headerBox">
					<p>ModelPelayanan</p>
				</div>
				<div class="clear"></div>

				<!-- grid table -->

				<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptions"  k-data-source="dataSource" k-ng-model="current" ng-click="klik(current)"></kendo-grid>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>

			<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>
			
			


		</c-panel>

		
	</div>
</div>
