<div ng-controller="PrinterCtrl">
	<div ng-show="dataVOloaded">
		<c-panel item="item" header="'Printer'" disabled>

			<!-- printerDefault -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerDefault"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerDefault" />
				</div>
			</div>

			<!-- printerSizeCard -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizeCard"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizeCard" />
				</div>
			</div>

			<!-- printerSizeFull1 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizeFull1"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizeFull1" />
				</div>
			</div>

			<!-- printerSizeFull2 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizeFull2"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizeFull2" />
				</div>
			</div>

			<!-- printerSizeHalf1 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizeHalf1"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizeHalf1" />
				</div>
			</div>

			<!-- printerSizeHalf2 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizeHalf2"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizeHalf2" />
				</div>
			</div>

			<!-- printerSizePer16_1 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizePer16_1"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizePer16_1" />
				</div>
			</div>

			<!-- printerSizePer16_2 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizePer16_2"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizePer16_2" />
				</div>
			</div>

			<!-- printerSizePer32_1 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizePer32_1"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizePer32_1" />
				</div>
			</div>

			<!-- printerSizePer32_2 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizePer32_2"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizePer32_2" />
				</div>
			</div>

			<!-- printerSizePer4_1 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizePer4_1"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizePer4_1" />
				</div>
			</div>

			<!-- printerSizePer4_2 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizePer4_2"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizePer4_2" />
				</div>
			</div>

			<!-- printerSizePer64_1 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizePer64_1"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizePer64_1" />
				</div>
			</div>

			<!-- printerSizePer64_2 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizePer64_2"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizePer64_2" />
				</div>
			</div>

			<!-- printerSizePer8_1 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizePer8_1"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizePer8_1" />
				</div>
			</div>

			<!-- printerSizePer8_2 -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="printerSizePer8_2"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.printerSizePer8_2" />
				</div>
			</div>

			<!-- reportDisplay -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="reportDisplay"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
				</div>
			</div>

			<!-- kodeExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kodeExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
				</div>
			</div>

			<!-- namaExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
				</div>
			</div>

			<!-- Printer -->
			<div class="grid_12">
				<div class="grid_12 headerBox">
					<p>Printer</p>
				</div>
				<div class="clear"></div>

				<!-- grid table -->
				<div class="grid_12 borderBox">
					<kendo-grid options="mainGridOptions"  k-data-source="dataSource" k-ng-model="current" ng-click="klik(current)"></kendo-grid>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="grid_12">
				<div class="grid_8"></div>
				<div class="grid_2" ng-show="showEdit">
					<button class="c-button" ng-click="edit()">Edit</button>
				</div>
				<div class="grid_2" ng-hide="showEdit">
					<button class="c-button" ng-click="tambah()">Tambah</button>
				</div>
				<div class="grid_2">
					<button class="c-button" ng-click="batal()">Batal</button>
				</div>
			</div>


		</c-panel>
	</div>
</div>
