<div ng-controller="ProfileCtrl">
	<div ng-show="dataVOloaded">
		<c-panel item="item" header="'Profile'" disabled>

			<!-- alamatEmail -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="alamatEmail"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.alamatEmail" />
				</div>
			</div>

			<!-- alamatLengkap -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="alamatLengkap"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.alamatLengkap" />
				</div>
			</div>

			<!-- faksimile -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="faksimile"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.faksimile" />
				</div>
			</div>

			<!-- fixedPhone -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="fixedPhone"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.fixedPhone" />
				</div>
			</div>

			<!-- gambarLogo -->
			<div class="grid_12">
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="gambarLogo"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.gambarLogo" />
				</div>
			</div>

			<!-- account -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="account"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.account" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listaccount" />
				</div>
			</div>
			</div>

			<!-- accountId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="accountId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.accountId" />
				</div>
			</div>

			<!-- departemen -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="departemen"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.departemen" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listdepartemen" />
				</div>
			</div>

			<!-- departemenId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="departemenId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.departemenId" />
				</div>
			</div>

			<!-- desaKelurahan -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="desaKelurahan"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.desaKelurahan" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listdesaKelurahan" />
				</div>
			</div>

			<!-- desaKelurahanId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="desaKelurahanId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.desaKelurahanId" />
				</div>
			</div>

			<!-- jenisProfile -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="jenisProfile"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisProfile" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listjenisProfile" />
				</div>
			</div>

			<!-- jenisProfileId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="jenisProfileId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.jenisProfileId" />
				</div>
			</div>

			<!-- jenisTarif -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="jenisTarif"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.jenisTarif" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listjenisTarif" />
				</div>
			</div>

			<!-- jenisTarifId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="jenisTarifId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.jenisTarifId" />
				</div>
			</div>

			<!-- kecamatan -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kecamatan"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.kecamatan" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listkecamatan" />
				</div>
			</div>

			<!-- kecamatanId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kecamatanId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kecamatanId" />
				</div>
			</div>

			<!-- kelasLevel -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kelasLevel"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.kelasLevel" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listkelasLevel" />
				</div>
			</div>

			<!-- kelasLevelId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kelasLevelId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kelasLevelId" />
				</div>
			</div>

			<!-- kotaKabupaten -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kotaKabupaten"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.kotaKabupaten" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listkotaKabupaten" />
				</div>
			</div>

			<!-- kotaKabupatenId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kotaKabupatenId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kotaKabupatenId" />
				</div>
			</div>

			<!-- pegawaiKepala -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="pegawaiKepala"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.pegawaiKepala" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listpegawaiKepala" />
				</div>
			</div>

			<!-- pegawaiKepalaId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="pegawaiKepalaId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.pegawaiKepalaId" />
				</div>
			</div>

			<!-- pemilikProfile -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="pemilikProfile"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.pemilikProfile" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listpemilikProfile" />
				</div>
			</div>

			<!-- pemilikProfileId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="pemilikProfileId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.pemilikProfileId" />
				</div>
			</div>

			<!-- propinsi -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="propinsi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.propinsi" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listpropinsi" />
				</div>
			</div>

			<!-- propinsiId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="propinsiId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.propinsiId" />
				</div>
			</div>

			<!-- satuanKerja -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="satuanKerja"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.satuanKerja" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listsatuanKerja" />
				</div>
			</div>

			<!-- satuanKerjaId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="satuanKerjaId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.satuanKerjaId" />
				</div>
			</div>

			<!-- statusAkreditasiLast -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="statusAkreditasiLast"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.statusAkreditasiLast" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="liststatusAkreditasiLast" />
				</div>
			</div>

			<!-- statusAkreditasiLastId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="statusAkreditasiLastId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.statusAkreditasiLastId" />
				</div>
			</div>

			<!-- statusSuratIjinLast -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="statusSuratIjinLast"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.statusSuratIjinLast" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="liststatusSuratIjinLast" />
				</div>
			</div>

			<!-- statusSuratIjinLastId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="statusSuratIjinLastId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.statusSuratIjinLastId" />
				</div>
			</div>

			<!-- tahapanAkreditasiLast -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="tahapanAkreditasiLast"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%;" kendo-combo-box k-ng-model="item.tahapanAkreditasiLast" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listtahapanAkreditasiLast" />
				</div>
			</div>

			<!-- tahapanAkreditasiLastId -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="tahapanAkreditasiLastId"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.tahapanAkreditasiLastId" />
				</div>
			</div>

			<!-- kodePos -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kodePos"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodePos" />
				</div>
			</div>

			<!-- luasBangunan -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="luasBangunan"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.luasBangunan" />
				</div>
			</div>

			<!-- luasTanah -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="luasTanah"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.luasTanah" />
				</div>
			</div>

			<!-- messageToPasien -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="messageToPasien"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.messageToPasien" />
				</div>
			</div>

			<!-- mobilePhone -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="mobilePhone"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.mobilePhone" />
				</div>
			</div>

			<!-- mottoSemboyan -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="mottoSemboyan"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.mottoSemboyan" />
				</div>
			</div>

			<!-- namaLengkap -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaLengkap"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaLengkap" />
				</div>
			</div>

			<!-- noPKP -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="noPKP"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.noPKP" />
				</div>
			</div>

			<!-- noSuratIjinLast -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="noSuratIjinLast"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.noSuratIjinLast" />
				</div>
			</div>

			<!-- nPWP -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="nPWP"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.nPWP" />
				</div>
			</div>

			<!-- qProfile -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="qProfile"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.qProfile" />
				</div>
			</div>

			<!-- rTRW -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="rTRW"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.rTRW" />
				</div>
			</div>

			<!-- signatureByLast -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="signatureByLast"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.signatureByLast" />
				</div>
			</div>

			<!-- tglAkreditasiLast -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="tglAkreditasiLast"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%" k-ng-model="item.tglAkreditasiLast"  kendo-date-picker k-max="now" placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
				</div>
			</div>

			<!-- tglRegistrasi -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="tglRegistrasi"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%" k-ng-model="item.tglRegistrasi"  kendo-date-picker k-max="now" placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
				</div>
			</div>

			<!-- tglSuratIjinExpiredLast -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="tglSuratIjinExpiredLast"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%" k-ng-model="item.tglSuratIjinExpiredLast"  kendo-date-picker k-max="now" placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
				</div>
			</div>

			<!-- tglSuratIjinLast -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="tglSuratIjinLast"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input style="width: 100%" k-ng-model="item.tglSuratIjinLast"  kendo-date-picker k-max="now" placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
				</div>
			</div>

			<!-- website -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="website"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.website" />
				</div>
			</div>

			<!-- reportDisplay -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="reportDisplay"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
				</div>
			</div>

			<!-- kodeExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="kodeExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
				</div>
			</div>

			<!-- namaExternal -->
			<div class="grid_6">
				<div class="grid_12">
					<label c-label item="item" c-label-text="namaExternal"></label>
				</div>
				<div class="clear"></div>

				<div class="grid_12">
					<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
				</div>
			</div>

			<!-- Profile -->
			<div class="grid_12">
				<div class="grid_12 headerBox">
					<p>Profile</p>
				</div>
				<div class="clear"></div>

				<!-- grid table -->
				<div class="grid_12 borderBox">
					<div kendo-grid k-data-source="dataProfile" k-selectable="'row'" k-columns="columnProfile">
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>



		</c-panel>

		<div class="grid_12" style="margin-top:30px">
			<div ng-include='"../app/module/Shared/templateButtonSimpan"'></div>
		</div>
	</div>
</div>
