<div ng-controller="SuratCtrl">
<div ng-show="dataVOloaded">
<c-panel item="item" header="'Surat'" disabled>

<!-- kode -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kode"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kode" />
</div>
</div>

<!-- nama -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="nama"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.nama" />
</div>
</div>

<!-- reportDisplay -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="reportDisplay"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.reportDisplay" />
</div>
</div>

<!-- kodeExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="kodeExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.kodeExternal" />
</div>
</div>

<!-- namaExternal -->
<div class="grid_6">
<div class="grid_12">
<label c-label item="item" c-label-text="namaExternal"></label>
</div>
<div class="clear"></div>

<div class="grid_12">
<input c-text-box type="input" filter="" class="k-textbox" ng-model="item.namaExternal" />
</div>
</div>

<!-- Surat -->
<div class="grid_12">
<div class="grid_12 headerBox">
<p>Surat</p>
</div>
<div class="clear"></div>

<!-- grid table -->
<div class="grid_12 borderBox">
<div kendo-grid k-data-source="dataSurat" k-selectable="'row'" k-columns="columnSurat">
</div>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>



</c-panel>

<div class="grid_12" style="margin-top:30px">
<div ng-include='"../app/module/Shared/templateButtonSimpan"'></div>
</div>
</div>
</div>
