<div ng-controller="KeluhanUtamaCtrl">
    <div ng-show="dataVOloaded">
    <c-panel item="item" header="'Keluhan Utama'">
                <div class="panel-body">
                    <textarea rows="8" cols="141" placeholder="Isi Keluhan Utama"></textarea>
                </div>
                <!-- Alergi dan Reaksi

                  <div class="panel" style="border-color:#0d9a8b; margin-left: 10px;margin-right: 10px">
                    <div class="panel-body">
                        <div class="container_12" style="margin-left: 20px; margin-bottom: 20px;">
                            <div class="grid_12">
                                <div class="grid_4">
                                    <div class="grid_12">
                                        <input type="checkbox" class="k-radio" >
                                        <label class="k-checkbox-label">Tidak ada Alergi</label>
                                    </div>
                                    <div class="grid_12">
                                        <input type="checkbox" class="k-radio" >
                                        <label class="k-checkbox-label">Alergi Lainnya</label>
                                    </div>
                                </div>
                                <div class="grid_4">
                                    <div class="grid_12">
                                        <input type="checkbox" class="k-radio" >
                                        <label class="k-checkbox-label">Alergi Obat</label>
                                    </div>
                                    <div class="grid_12">
                                        <input type="checkbox" class="k-radio" >
                                        <label class="k-checkbox-label">Tidak Diketahui</label>
                                    </div>
                                </div>
                                <div class="grid_4">
                                    <div class="grid_12">
                                        <input type="checkbox" class="k-radio" >
                                        <label class="k-checkbox-label">Alergi Makanan</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--    <div class="container_12">
                                <div class="grid_2"><label>Tempat Tinggal</label><span class="titikDua">:</span></div>
                                <div class="grid_2">
                                    <input type="checkbox" class="k-checkbox" >
                                    <label class="k-checkbox-label">Obat</label>
                                </div>
                                <div class="grid_2">
                                    <input type="checkbox" class="k-checkbox" >
                                    <label class="k-checkbox-label">Makanan</label>
                                </div>
                                <div class="grid_2">
                                    <input type="checkbox" class="k-checkbox" >
                                    <label class="k-checkbox-label">Lainnya</label>
                                </div>
                                <div class="grid_4">
                                    <input placeholder="Keterangan Lainnya" c-text-box type="input" filter="'string'" class="k-textbox" ng-model="item.NamaPasien" />
                                </div>
                            </div>
                <div class="container_12">
                    <div class="grid_2"><label>Reaksi</label><span class="titikDua">:</span></div>
                    <div class="grid_4">
                        <input placeholder="Keterangan Reaksi" c-text-box type="input" filter="'string'" class="k-textbox" ng-model="item.NamaPasien" />
                    </div>
                    <div class="grid_6" style="text-align: right">
                        <div class="grid_4"></div>
                        <div class="grid_4">
                            <c-button ng-show="!isLoading" style="width: 100%" item="item" is-validate click="KirimData">
                                <span>Tambah</span>
                            </c-button></div>
                        <div class="grid_4">
                            <c-button ng-show="!isLoading" style="width: 100%" item="item" is-validate click="KirimData">
                                <span>Hapus</span>
                            </c-button></div>
                    </div>
                    <textarea rows="4" cols="50"></textarea>

                </div>
                <div class="grid_12">
                    <div class="grid_3">
                        <div class="panel container_3">
                            <div class="panel-heading" style="background-color:#10c4b2;">No</div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                    <div class="grid_3">
                        <div class="panel container_3">
                            <div class="panel-heading" style="background-color:#10c4b2;">Jenis Alergi</div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                    <div class="grid_6">
                        <div class="panel container_6">
                            <div class="panel-heading" style="background-color:#10c4b2;">Reaksi</div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                 -->
    </c-panel></div>
</div>