<div>
    <div ng-show="dataVOloaded">
        <!-- panel Skrining Tambahan -->
        <div class="container_12">
            <!--New informasi ibu's form goes here-->
            <div class="grid_12" style="margin-bottom:30px">
                <div class="grid_12 headerBox">
                    <h1 style="color: white;"><b>{{formMaster.nama}}</b></h1>
                </div>
                <div class="clear"></div>
                <br/>
                <div class="container_12"> <!-- html form goes here -->
                    <div ng-repeat="list in formMaster.detail | orderBy:'id'" ng-init="listIndex = $index + 1">
                        <div class="grid_6" style="margin:6px auto">
                            <div class="grid_1" style="text-align:right">{{listIndex}})</div>
                            <div class="grid_3">
                                <label><b>{{list.nama}} : </b></label>
                            </div>
                            <div ng-repeat="opsi in listYaTidak | orderBy:'id'">
                                <div class="grid_3">
                                    <label for="{{opsi.nama}}" class="radio-inline">
                                        <input type="radio" ng-model="list.value" ng-value="opsi.id" ng-click="klikOption(list, opsi)">{{opsi.nama}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-include=' "../app/module/Shared/TemplateButtonSimpanNotFixed" '></div> 
        </div>
        <!-- <div ng-include=' "../app/module/Shared/TemplateButtonSimpanNotFixed" '></div> -->
    </div>
</div>