<style type='text/css'>
    .button_sliding {
       -webkit-transition: all ease 0.5s;
       -moz-transition: all ease 0.5s;
       transition: all ease 0.5s;
       border:none;
       color : #000;
       margin:3px;
    }

    .button_sliding:hover {
        box-shadow: inset 0 50px 0 0 #31302B;
        color: #fff;
    }
    .label-user {
        color: white;
        cursor: pointer;
        transition: all 1s;
    }

    .label-user:hover {
        color: #10c4b2;
        
    }
</style>
<div ng-controller="HeaderCtrl">
    <div class="container"
        style="padding:0; margin:0;display: flex; justify-content:
        space-between;">
        <div id="logo-bar">
            <i class="fa fa-bars fa-2x" style="position: absolute;top: 15px;"
                aria-hidden="true" ng-click="showMenu()"></i>
            <div>
                <span class="title" style="color: white;margin-left:27px">SMART<span
                        class="c-color">&nbsp; RSAB </span></span>
                <span class="c-color sub-title">Terdepan Dalam Layanan Kesehatan
                    Perempuan, Perinatal dan Anak </span>
            </div>
        </div>
        <!-- <div class="nav-buttons" k-content 
            style="position:absolute;right:43px;top: 0;">
            <ul id="NavigationMenu" kendo-menu k-orientation="menuOrientation"
                k-rebind="menuOrientation">
                <li ng-repeat="menu in listMenuHeader" class="button_sliding"
                    ng-click="goToLink(menu.link)" style="border: 1px solid
                    #31302B; background:#ccc !important;">
                    <button class="button_sliding" style="margin:0px; padding:
                        0px; background:none; border:none;">
                        {{menu.caption}}
                    </button>
                </li>
            </ul>
        </div>
        <span class="badge">
            <i class="fa fa-bell" aria-hidden="true" ng-click='open()'></i>
        </span> -->
        <div>
            <div class="grid_6" style="margin-top: 16px;font-weight: bolder;" ng-click="goToLink('#/ProfilePegawai')">
                <label class="label-user">Hai, {{pegawai.namaLengkap}}</label>
            </div>
            <div class="grid_6">
                <md-menu>
                    <md-button style="font-size: 30px;" class="md-fab-mini md-icon-button"class=""
                        ng-mouseenter="$mdMenu.open()"
                        ng-click="$mdMenu.open()">
                        <i class="fa fa-user-circle-o"></i>
                    </md-button>
                    <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
                        <md-menu-item>
                            <md-button ng-click="goToLink('#/ProfilePegawai')">
                                <i class="fa fa-address-book" style="color: black;"></i>
                                Profile
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="goToLink('#/UbahPassword')">
                                <i class="fa fa-shield" style="color: black;"></i>
                                Ubah Password
                            </md-button>
                        </md-menu-item>
                        <div ng-repeat="menu in listMenuHeader">
                            <md-menu-item>
                                <md-button ng-click="goToLink(menu.link)">
                                    <i class="fa fa-bars" 
                                        style="color:black;"></i>
                                        {{menu.caption}}
                                </md-button>
                            </md-menu-item>
                        </div>
                        <!-- <md-menu-item>
                            <li ng-repeat="menu in listMenuHeader"
                                class="button_sliding"
                                style="border:
                                1px solid
                                #31302B; background:#ccc !important;">
                                <button class="button_sliding"
                                    style="margin:0px; padding:
                                    0px; background:none; border:none;">
                                    {{menu.caption}}
                                </button>
                            </li>
                        </md-menu-item> -->
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="goToLink('/app/Logout')">
                                <i class="fa fa-sign-out" style="color: black;"></i>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </div>
    <div ng-show='hide' class="grid_6"
        style='position: fixed;height: 109px;right: 0;top: 0;'>
        <ul class="list-menu" style="position: absolute;top: 40px;right: 29px;">
            <li><img src="stylesheets/Radiologi/first.png" ng-click='first()' /></li>
            <li><img src="stylesheets/Radiologi/back.png" ng-click='back()' /></li>
            <li><img src="stylesheets/Radiologi/next.png" ng-click='next()' /></li>
            <li><img src="stylesheets/Radiologi/last.png" ng-click='last()' /></li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#NavigationMenu").kendoMenu();
    });

    $(document.body).keydown(function(e) {
        if (e.altKey && e.keyCode == 87) {
            $("#NavigationMenu").focus();
        }
    });
</script>