<div ng-controller="StrukPelayananDetailCtrl">

	<div ng-show="dataVOloaded">
		<c-panel item="item" header="'Struk Pelayanan Detail'"disabled>
		<div class="grid_6">
		<div class="panel panel-default container_12">
           
			

			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="No Struk"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.norec" />
			</div>
			
			</div>
			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Asal Produk"></label>
			</div>
			<div class="grid_8">
				<input style="width: 100%;" kendo-combo-box k-ng-model="item.kdprofile" k-data-text-field="'kdprofile'" k-data-value-field="'idObjekPajak'" k-filter="'contains'" k-auto-bind="false" k-data-source="ListDataobjekpajak" ng-disabled="diswow"/>
			</div>
			
			</div>
			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Ruangan"></label>
			</div>
			<div class="grid_8">
				<input style="width: 100%;" kendo-combo-box k-ng-model="item.range" k-data-text-field="'namaExternal'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="ListDataRuangan" ng-disabled="diswow"/>
			</div>
			
			</div>

			 <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Tanggal Pelayanan"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.persenhargasatuan" />
			</div>
			
			</div>

			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Satuan"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.hargasatuan" />
			</div>
			
			</div>

			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Nama Produk"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.factorrate" />
			</div>
			
			</div>
			 <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Harga Discount Save"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.norec" />
			</div>
			
			</div>

			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Harga Discount Give"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.norec" />
			</div>
			
			</div>


			</div> 
			   </div>

			 <div class="grid_6">
			


			
           
           <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Qty Produk"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.norec" />
			</div>
			
			</div>

			 <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Harga Netto"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.norec" />
			</div>
			
			</div>
			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Harga Satuan"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.norec" />
			</div>
			
			</div>
			 
			 <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Persen Discount"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.norec" />
			</div>
			
			</div>
			 
			 <div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Harga Discount"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.norec" />
			</div>
			
			</div>
			 
			
			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Harga PPN"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.norec" />
			</div>
			
			</div>
			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Harga PPH"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.norec" />
			</div>
			
			</div>

			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Harga Tambahan"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.norec" />
			</div>
			
			</div>
			 
			<div class="grid_12">
			<div class="grid_4" style="margin: 10px 0 0 0;">
				<label c-label item="item" c-label-text="Kode Satuan Standar"></label>
			</div>
			<div class="grid_8">
				<input c-text-box type="input" filter="'varchar'" class="k-textbox" ng-model="item.norec" />
			</div>
			
			</div>

			</div> 

			 
		   </div>


		<div class="grid_12 borderBox">
				<div id="kGrid" kendo-grid 
				k-data-source="dataMaster" 
				k-selectable="'row'" 
				k-columns="columnKomunikasi"
				k-sortable="'true'"
			    k-pageable="true"
				k-ng-model="dataSelected"
				ng-click="klik(dataSelected)">
				</div>
			</div>
		
		
		</c-panel>
			<div class="grid_12">
							<div class="grid_8" style="float:left">
							
							<div class="grid_2" style="margin-top: 25px">
							<button class="c-button" ng-click="reset()">Reset</button>
							</div>
							<div class="grid_2" style="margin-top: 25px">
							<button class="c-button" ng-click="Save()">Simpan</button>
							</div>
							
						</div>
		</div>
	</div>
</div>

