<style type="text/css">
.style-center {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.style-right {
    display: inline-block;
    text-align: right;
    width: 100%;
}

.style-left {
    display: inline-block;
    text-align: left;
    width: 100%;
}
</style>

<!-- <div ng-controller="DaftarPasienApotikCtrl"> -->
    <div ng-show="dataVOloaded">
        <!-- <c-panel item="item" header="'Daftar Pasien Lama'" disabled> -->
            <div class="grid_12">

        <div class="grid_12 headerBox">
            <h1 style="color: white;"><b>Daftar Pasien Lama</b></h1>
        </div>

        <div class="grid_12">


            <div class="grid_1">
                <div class="grid_12">
                    <label c-label item="item" >No.MR</label>
                </div>

                <div class="grid_12">
                    <input c-text-box type="input" filter="" class="k-textbox" ng-model="item.noMr" />
                </div>
            </div>
            <div class="grid_2">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Nama Pasien"></label>
                </div>

                <div class="grid_12">
                    <input c-text-box type="input"  filter="" class="k-textbox" ng-model="item.namaPasien" />
                </div>
            </div>
            <div class="grid_2">
                <div class="grid_12">
                    <label c-label item="item" c-label-text="Tgl Lahir"></label>
                </div>
                <div class="grid_12">
                    <input style="width: 100%" k-ng-model="item.tglLahir"  kendo-date-picker k-max="now" placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
                </div>
            </div>
            <div class="grid_5">
            </div>

            <div class="grid_2" style="margin-top: 22px">
                <div class="grid_4" style="margin-top: -22px">
                    <div class="grid_12">
                        <label c-label item="item" c-label-text="Rows"></label>
                    </div>

                    <div class="grid_12">
                        <input c-text-box type="input"  filter="" class="k-textbox" ng-model="item.row" />
                    </div>
                </div>
                <div class="grid_8">
                    <button class="c-button"  ng-click="cariFilter()">Cari</button>
                </div>
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_12">
                    <!-- <div class="grid_12 headerBox">
                        <p>Produk</p>
                    </div> -->
                    <!-- grid table -->
                    <div class="grid_12 borderBox">
                        <div id="kGrid" 
                        kendo-grid k-data-source="dataGrid" 
                        k-selectable="'row'" 
                        k-columns="columnGrid" 
                        k-pageable="'true'" 
                        k-sortable="'true'" 
                        k-ng-model="dataSelected">
                    </div>
                </div> 
                
                
            </div>
        </div>
        <div class="grid_12">
           <div class="grid_10">
           </div>
           <div class="grid_2" style="margin-top: 22px">
            <button class="c-button"  ng-click="Regis()">Registrasi Penunjang</button>
        </div>
    </div>
    <div class="grid_12" style="margin-top:60px">
        <div ng-include='"../app/module/Shared/TemplateLoading"'></div>
    </div>
    <!-- NamaKegiatan -->



</div>
<!-- </c-panel> -->
</div>

<!-- </div>
 -->