<div class="headerBox">
    <h1 style="color: white;"><b>Posting</b></h1>
</div>

<div class="grid_12">
    <div class="grid_6">
        <div class="grid_4 padDatePicker">
            <div class="grid_12">
                <input style="width: 100%" k-ng-model="item.tglAwal"
                    kendo-date-picker
                    k-options="monthSelectorOptions"
                    k-format="'MMMM yyyy'" />
            </div>
        </div>
        <div class="grid_4">
            <button class="c-button" ng-click="cekPosting()">Cek Posting</button>
        </div>
    </div>
    <div class="grid_6">
        <div class="grid_4 padDatePicker">
            <div class="grid_12">
                <input style="width: 100%" k-ng-model="item.tglAwalPosting"
                    kendo-date-picker
                    k-format="'dd MMMM yyyy'" />
            </div>
        </div>
        <div class="grid_4">
            <button class="c-button" ng-click="posting()">Posting</button>
        </div>
    </div>
    <div class="grid_12">
        <kendo-grid
            k-data-source="dataGrid"
            k-selectable="'row'"
            options="columnGridExcel"
            k-pageable="'true'"
            k-sortable="'true'"
            k-ng-model="dataSelected"
            ng-click="klikGrid(dataSelected)">
        </kendo-grid>
    </div>
</div>