<div ng-controller="LegalDraftPerancanganPerundanganCtrl">
    <div ng-show="dataVOloaded">
        <c-panel item="item" header="'Legal Draft Perancangan Perundang - Undangan'">
            <div class="panel panel-default container_12">
                <div class="panel-body">
                    <div class="grid_12">
                        <div class="grid_2">
                            <div class="grid_12" style="margin-top: 11px">
                                <label c-label item="item" c-label-text="idUser"></label>
                            </div>
                            <div class="grid_12" style="margin-top: 17px">
                                <label c-label item="item" c-label-text="noPeraturan"></label>
                            </div>
                            <div class="grid_12" style="margin-top: 20px">
                                <label c-label item="item" c-label-text="inputDraftPeraturan"></label>
                            </div>
                            <div class="grid_12" style="margin-top: 65px">
                                <label c-label item="item" c-label-text="tanggalBerlaku"></label>
                            </div>
                            <div class="grid_12" style="margin-top: 13px">
                                <label c-label item="item" c-label-text="penanggungJawab"></label>
                            </div>

                        </div>
                        <div class="grid_4">
                            <div class="grid_12">
                                <input c-text-box type="input" filter="'numeric'" class="k-textbox" ng-model="item.userId" ng-disabled="disableIdUser" />
                            </div>
                            <div class="grid_12">
                                <input c-text-box type="input" filter="'string'" class="k-textbox" ng-model="item.noPeraturan" ng-disabled="disableNoPeraturan" />
                            </div>
                            <div class="grid_12">
                                <textarea c-text-box type="input" class="k-textbox" ng-model="item.inputDraftPeraturan" style="width: 100%; height: 80px;"></textarea>
                            </div>
                            <div class="grid_12">
                                <input style="width: 100%" k-ng-model='item.tanggalBerlaku' k-value='now' kendo-date-picker placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
                            </div>
                            <div class="grid_12">
                                <input style="width: 100%;" kendo-combo-box k-ng-model="item.penanggungJawab" k-data-text-field="'namaLengkap'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPenanggungJawab" />
                            </div>
                        </div>
                        <div class="grid_2">
                            <div class="grid_12" style="margin-top: 11px">
                                <label c-label item="item" c-label-text="tanggal"></label>
                            </div>
                            <div class="grid_12" style="margin-top: 30px">
                                <label c-label item="item" c-label-text="tujuanKirimDraft"></label>
                            </div>
                        </div>
                        <div class="grid_4">
                            <div class="grid_12">
                                <div class="grid_10">
                                <input style="width: 100%" k-ng-model='item.tanggalDibuat' k-value='now' kendo-date-picker placeholer="dd-mm-yyyy" k-format="'dd-MM-yyyy'" />
                                </div>
                            </div>
                            <div class="grid_12" ng-repeat="pegawai in arrPegawai" style="margin: 10px 0 0 0;">
                                <!--<div class="grid_2" style="margin-top: 10px">
                                        <label c-label item="item" c-label-text="pegawai" ng-show="$index === 0"></label>
                                    </div>-->

                                <div class="grid_12">
                                    <div class="grid_10">
                                        <input style="width: 100%;" kendo-combo-box k-ng-model="arrPegawai[$index].pegawai" k-data-text-field="'namaLengkap'" k-data-value-field="'id'" k-filter="'contains'" k-auto-bind="false" k-data-source="listPegawai" />
                                    </div>
                                    <div class="grid_1" style="margin-top: 12px; margin-left: 10px">
                                        <label c-label item="item" c-label-text="x" ng-click="removePegawai($index)" ng-show="$index > 0"></label>
                                    </div>
                                </div>


                            </div>
                            <div class="grid_5" style="margin-top:10px">
                                <button class="c-button" ng-click="addPegawai()">+ Tambah Tujuan</button>
                            </div>
                        </div>
                    </div>
                    <div class="grid_12">
                        <div class="grid_6"></div>
                        <div class="grid_3"></div>
                        <div class="grid_3" style="margin-top: 65px">
                            <button class="c-button" ng-show="!isLoading" item="item" is-validate click="Kirim">
                                <span class="title">Kirim</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </c-panel>
    </div>
</div>